.divAddNewInvoiceAddress .innerWrapper {
    margin-top: -20px;
}



#payment{
    margin:50px auto 0 auto;
}

#payment.paymentOptions a.edit{
    display:block;
}

#address{
    float:left;
    width:674px;
}

.passiveSegment {
    max-height: 0px !important;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    -webkit-transform:scale(0.95);
    transition:all 0.7s 0s, max-height 0s 0.7s !important;
}


/* ADRES BİLGİLERİ */
#address .divAddress,
#address .divPayment{
    float:left;
    padding:26px 0 0 40px;
    width:50%;
    height:246px;
    background-color:#4b4d63;
    border-bottom:10px solid #6d6e89;
    cursor:pointer;
}

#address .divAddress .addressName{
    margin:30px 0 5px 0;
}

#address .divAddress h3{
    display:inline-block;
}

#address .aNumber{
    display:inline-block;
}

#address .divAddress .number{
    display:inline-block;
    margin-left:5px;
    color:#f2f2f2;
}

#address .divAddress p{
    width:290px;
    margin-top:20px;
}

#address .divAddress .edit{
    margin-top: 15px;
    padding-top: 15px;
    display: none;
    width: 140px;
    height: 30px;
    cursor: pointer;
}




/* ÖDEME SEÇENEKLERİ */
#address .divPayment{
    float:right;
    height:236px;
    background-color:#f8f8f9;
    border-bottom:0;
}

#address .divPayment h2{
    color:#cacaca;
}

#address .divPayment p{
    margin-top:30px;
}




/* CONTENT */
#address .divContent{
    width:100%;
    max-height: 999999px;
    padding:0 40px 50px 40px;
    background-color:#fff;
    transition: all 0.7s;
}



/* ADRES İÇERİK */
#address .divContent .divAddressContent{
    width:100%;
}

#address .divContent .divAddressContent .divAddressText {
    float:left;
}
        
#address .divContent .divAddressContent h3{
    padding: 40px 0 15px 0;
}

#address .divContent .divAddressContent .pDescription{
    width:350px;
    transition: all 0.5s;
    margin: 0px 0 10px 0;
}

#address .divContent .divAddressContent .saveBtn{
    float:right;
    margin:33px 0 0 0;
    width:200px;
}


h3.subH3 {
    color: #000;
    
    font-size: 18px;
    display: none;
}



/* OPTION */
#address .divContent .divAddressContent .divAddressOption,
.optionBox .divWirePaymentOption{
    float:left;
    margin-right: 8px;
    padding-left:15px;
    width:286px;
    height:200px;
    background-color:#fff;
    border:1px solid #f2f2f2;
    
}

#address .divContent .active,
.optionBox .divWirePaymentOption.active{
    background-color:#f2f2f2 !important;
    border:1px solid #f8f8f8;
}

#address .divContent .divAddressContent label{
}

#address .divContent .divAddressContent .divAddressOption label{
    width:100%;
    height:25px;
    margin:15px 0 0 0;
}

#address .divContent .divAddressContent .divAddressOption h4.name,
#address .divContent .divWirePaymentOption h4.name{
    display:inline-block;
    margin:20px 0 0 30px;
}

#address .divContent .divAddressContent .divAddressOption .number,
#address .divContent .divWirePaymentOption .number{
    display:inline-block;
    margin:0;
}

#address .divContent .divAddressContent .divAddressOption p,
#address .divContent .divWirePaymentOption p{
    margin:15px 0 0 31px;
    width:200px;
    line-height:15px;
}
      
#address .divContent .divAddressContent a.icon{
    float:right;
    margin:25px 20px 0 0;
}

#address .divContent .divAddressContent a.icon img{
    float:left;
    margin:2px 6px 0 0;
}



#address .divContent .divAddressContent .divPhoneNumber {
    margin-top: 25px;
}

#address .divContent .divAddressContent .divPhoneNumber p {
    margin-top: 0px;
    border-top: 1px solid #f0f0f0;
    padding-top: 20px;
}

#address .divContent .divAddressContent .divPhoneNumber input[type="text"] {
    margin-top: 20px;
    margin-bottom: 20px;
}



#address .divContent .divAddressContent .sendToSomeoneElse {
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
}

#address .divContent .divAddressContent .sendToSomeoneElseDetails {
    margin-top: 15px;
}

#address .divContent .divAddressContent .sendToSomeoneElseDetails p {
    margin-bottom: 5px;
}

#address .divContent .divAddressContent .sendToSomeoneElseDetails input[type="text"] {
    margin-bottom: 15px;
}



#address .divContent .divAddressContent .orderDetailNotes label{
    width:220px;
    margin-top: 10px;
}

#address .divContent .divAddressContent .orderDetailNotes textarea{
    margin-top:30px;
}

#address .divContent .divAddressContent .giftNoteThis {
    margin-left:20px;
}





/* YENİ ADRES EKLEME FORMU */
.divAddNewAddress input[type="text"], 
select{
    float: left;
    margin-top: 10px;
    width: 291px;
}

#address .divContent .divNewAddressContent .pDescription,
#address .divContent .divInvoiceAddressContent .pDescription{
    width:350px;
    margin: 20px 0 10px 0;
}

textarea {
    float: left;
    width: calc(100%);
    margin-top: 10px;
    margin-left: 10px;
}

#address .divContent a.cancelAddingNewAddress,
#address .divContent a.cancelAddingNewInvoiceAddress{
    display: table;
    float: left;    
    margin-top: 28px;
}
a.contShopping {
    width:100px !important;
    left: 5px;
    float: left;
    top: 12px;
}
a.contShopping span {
    line-height:20px;
}
a.contShopping img {
    margin-top:13px;
}
.divAddNewInvoiceAddress input[type="text"], 
select{
    float: left;
    margin-top: 10px;
    width: 291px;
}

#address .divContent .saveAddingNewAddress,
#address .divContent .saveAddingNewInvoiceAddress{
    float:right;
    margin-top:10px;
    width:200px;
}

/* END - YENİ ADRES EKLEME FORMU */





#address .divContent .saveBtnA{
    float:right;
    margin-top:40px;
    width:200px;
}
    




/* PAYMENT İÇERİK */
#payment .divPaymentContent{
    width:100%;
    max-height: 999999px;
    padding:0 40px 50px 40px;
    transition: all 0.7s;
}

#payment .divPaymentContent .divPaymentText{
    float:left;
    margin:40px 0 0 0;
}

#payment .divPaymentContent .divPaymentText .pDescription{
    width:300px;
    margin:20px 0 35px 0;
}

#payment .divPaymentContent .aInstallments{
    float:right;
    margin-top:50px;
    text-decoration:underline;
}


#payment .divPaymentContent ul.paymentOptions {
    height: 40px;
    box-sizing: content-box;
    display: flex;
    margin-bottom:30px;
    border-bottom: 4px solid #6d6e89;
    padding-bottom: 0px;
}

#payment .divPaymentContent .paymentOptions .singlePaymentOption {
    display:block;
    float:left;
    min-width: calc(25% - 1px);
    height:40px;
    line-height:45px;
    text-align:center;
    background-color:#f0f0f0;
    border-bottom: 3px solid #f0f0f0;
    margin-left:1px;
    padding-left:20px;
    padding-right:20px;
    cursor: pointer;
    transition:all 0.3s;
}

#payment .divPaymentContent .paymentOptions .singlePaymentOption.activeOption {
    background-color: #F8F8F8;
    color: rgb(163, 163, 163);
    border-bottom: 3px solid #6d6e89;
} 

#payment .divPaymentContent .paymentOptions .singlePaymentOption:first-child{
    margin-left:0px;
    width: 25%;
} 

#payment .divPaymentContent .paymentOptions .singlePaymentOption img {
    height: 50%;
    top: 29%;
    margin: 0 auto;
}







#payment .divPaymentContent .divCartName{
    width:388px;
    margin-bottom: 10px;
    margin-top: 60px;
}

#payment .optionBox.creditCardOption .cardLogo {
    position: absolute;
    top: 128px;
    left: 400px;
    width: 80px;
}

#payment .divPaymentContent .divCartNumber{
    width:100%;
    margin-bottom:25px;
}

#payment .divPaymentContent .divCartNumber .divBankCard{
    position:absolute;
    top: -100px;
    left: 0;
}

#payment .divPaymentContent .divCartNumber .divBankCard img{
    float:left;
    margin-left:8px;
}



#payment .divPaymentContent .divExpirationDate span,
#payment .divPaymentContent .divSecurity span{
    display:block;
    margin-bottom:10px;
    padding-left:20px;
}

#payment .divPaymentContent .divSecurity span{
    padding-left:0;
}

#payment .divPaymentContent .divExpirationDate{
    float:left;
    width:250px;
}

#payment .divPaymentContent .divExpirationDate .selectExpirationDate{
    float:left;
    margin-right:10px;
    width:80px !important;
    height:45px !important;
    background-position: 60px center;
}

#payment .divPaymentContent .divSecurity{
    float:left;
    width:140px;
}

#payment .divPaymentContent .divSecurity .inputSecurity{
    width:100% !important;
    height:45px !important;
    margin-top: 20px;
}



#payment .divPaymentContent .divPay{
    float: right;
    margin-top:70px;
    width:260px;
}

#payment .divPaymentContent .divPay .paymentBtn{
    padding:13px 80px;
}


#payment .divPaymentContent .divPay label{
    float:left;
    margin-top:20px;
    padding-left:25px;
}

#payment .divPaymentContent .divPay label .input{
    position:absolute;
    top:-3px;
    left:-2px;
}

#payment .divPaymentContent .divPay label a{
    display:inline-block;
    text-decoration:underline;
    color:#000;
    width:150px;
}





/*ÖDEME SEÇENEKLERİ LİSTESİ */

.divPaymentContent .optionBox.activePayment {
    display: block !important;
}

#payment .divPaymentContent .divWirePaymentOption {
    transition: all 0.3s;
}

#payment .divPaymentContent .divWirePaymentOption label{
    display: block;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#payment .divPaymentContent .divWirePaymentOption img {
    width: 45%;
    margin: 20px 20px 20px 20px;
}

#payment .divPaymentContent .divWirePaymentOption h4 {
    margin-top: 5px;
    margin-left: 20px;
    width: 75%;
    line-height: 15px;
}

#payment .divPaymentContent .divWirePaymentOption input[type="radio"] {
    left: 5px;
    top: 5px;
}

#payment .divPaymentContent .optionBox {
    display: none;
    float: left;
    width: 100%;
    transition: all 0.7s;
}

#payment .divPaymentContent .optionBox.paypalOption p, 
#payment .divPaymentContent .optionBox.bkmexpressOption p{
    width: 70%;
    float: left;
    padding: 10px;
}

#payment .divPaymentContent .optionBox.paypalOption p a, 
#payment .divPaymentContent .optionBox.bkmexpressOption p a{
    display: inline;
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

#payment .divPaymentContent .optionBox.paypalOption img, 
#payment .divPaymentContent .optionBox.bkmexpressOption img{
    width: 25%;
    float: left;
    margin: 14px;
}

#payment .divPaymentContent .optionBox.paypalOption .paypalButton, 
#payment .divPaymentContent .optionBox.bkmexpressOption .bkmButton{
    margin: 10px;
    float: right;
    margin-top: 20px;
    width: 120px;
}
/* END - ÖDEME SEÇENEKLERİ LİSTESİ */




/* KREDİ KARTI TABLOSI */
#paymentCreditCard table{
    margin:30px 0 0 0;
    float: left;
    width: 100%;
}

#paymentCreditCard table tr td{
    color:#000;
    font-size:12px;
    font-weight:600;
    text-align:left;
    vertical-align:middle;
}

#paymentCreditCard table tr .tdCards img {
    display:block;
    float:left;
    margin-right:10px;
    margin-top:0;
}

#paymentCreditCard table tr td > input.styleB{
    width:200px;
}

#paymentCreditCard table tr td.cvc{
    padding-left:20px;
}

#paymentCreditCard table tr td.cvc input.styleB{
    width:30px;
}

#paymentCreditCard table select.styleA{
    width: 60px;
    background-position:85% center;
    float:left;
}

#paymentCreditCard table tr td .divCvc{
    width:20px;
    height:16px;
    border-radius:20px;
    background-color:#a3a3a3;
    font-family:Arial;
    color:#fff;
    font-size:13px;
    text-align:center;
    padding-top:4px;
    margin-left:10px;
    cursor:pointer;
}

#paymentCreditCard img{
    width:85px;
    margin-top:15px;
}

#paymentCreditCard .tableInstalment tr:first-child{
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
}

#paymentCreditCard .tableInstalment tr th{
    width:150px;
    color:#cacaca;
    font-size:12px;
    letter-spacing:1px;
    font-weight:600;
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
}

#paymentCreditCard .tableInstalment tr td{
    letter-spacing:1px;
    color:#a3a3a3;
    font-size:12px;
    padding-top:13px;
    transition:all 0.5s;
}

#paymentCreditCard .tableInstalment tr td label{
    top:-4px
}

#paymentCreditCard .tableInstalment tr td label input[type="radio"]{
    top: 4px;
}

#paymentCreditCard .tableInstalment tr:hover td{
    color:#000;
}

#paymentCreditCard .tableInstalment tr td:nth-child(2),
#paymentCreditCard .tableInstalment tr td:nth-child(3){
    text-align:center;
}
/* END - KREDİ KARTI TABLOSU */




    






#orderSummary{
    float:right;
    width:374px;
}

#orderSummary h3.order{
    margin-top:30px;
    text-align:center;
}

#orderSummary table{
    width:100%;
}

#orderSummary table tr td{
    padding:20px 0 20px 0;
    border-bottom:1px solid #ededed;
    text-align:left;
    vertical-align:middle;
}

#orderSummary table tr td.tdImg{
    width:90px;
}

#orderSummary table tr td.tdImg img{
    width:90px;
    height:auto;
    border: 5px solid #fff;
    box-shadow: 0 0 10px #ccc;
}
            
#orderSummary table tr td.tdDescription{
    padding-left:20px;
}

#orderSummary table tr td.tdDescription h4.productName{
    line-height:18px;
}

#orderSummary table tr td.tdDescription h5.subName{
    margin-top:5px;
}



#orderSummary table tr td div{
    margin-top:10px;
}

#orderSummary table tr td div .spanPrice{
    float:left;
    color:#000;
}

#orderSummary table tr td div .spanTime{
    float:right;
    color:#000;
}



#orderSummary .divSubTotal{
    width:100%;
    margin-top:20px;
    padding-bottom:10px;
    border-bottom:1px solid #4b4b4b;
}

#orderSummary .divSubTotal span{
    display:block;
    color:#000;
    margin-bottom:8px;
}

#orderSummary .divSubTotal .divLeft{
    float:left;
    text-align:left;
}

#orderSummary .divSubTotal .divRight{
    float:right;
    text-align:right;
}

#orderSummary .divSubTotal .divRight .price{
    font-size:14px;
}

    

#orderSummary .divTotal{
    margin-top:30px;
    text-align:center;
}

#orderSummary .divTotal p.date{
    margin-top:10px;
}

#orderSummary .divDiscount{
    margin-top:45px;
    padding:30px 5% 0 5%;
    width:100%;
    height:154px;
    background-color:#fafafa;
    text-align:center;
}

#orderSummary .divDiscount .discount{
    margin:auto;
    width:250px;
    font-size: 11px;
}

#orderSummary .divDiscount .divDiscountInput {
    margin-top: 20px;
    width: 100% !important;
}

#orderSummary .divDiscount .divDiscountInput input[type=text] {
    width: 100% !important;
    padding-right: 50px !important;
}

#orderSummary .divDiscount .divDiscountInput input[type=image] {
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    height: 29px;
    padding: 10px 17px 10px 0;
    margin-top: -15px;
    opacity: 0.3;
    transition: all 0.5s;
}

#orderSummary .divDiscount .divDiscountInput input[type=image]:hover {
    opacity: 1;
}

#orderSummary .divDiscount .text{
    width:100% !important;
    margin-top:15px;
}




/* SAYFAYI DİNAMİK YAPACAK CLASS TANIMLAMALARI */
.closedAsDefault {
    overflow: hidden;
    height:0px;
    transition: all 0.7s 0.2s;
}

.closedAsDefault .innerWrapper {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
    transition: all 0.7s;}

.openOnOption {
    transition: all 0.7s;
}

.openOnOption .innerWrapper {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    transition: all 0.7s 0.2s;
}

#payment.adressInfo .divAddress{
    float: left;
    padding: 26px 0 0 40px;
    width: 50%;
    height: 246px;
    background-color: #4b4d63;
    border-bottom: 10px solid #6d6e89;
    cursor: pointer;
    transition: all 0.7s;
}
    #payment.adressInfo .divAddress h2 {
        color: white;
    }

    #payment.adressInfo .divAddress p {
        color: #f2f2f2
    }

#payment.paymentOptions .divPayment{
    float: left;
    padding: 26px 0 0 40px;
    width: 50%;
    height: 246px;
    background-color: #4b4d63;
    border-bottom: 10px solid #6d6e89;
    cursor: pointer;
    transition: all 0.7s;
}

    #payment.adressInfo .divAddress h2 {
        color: white;
    }

    #payment.adressInfo .divAddress p {
        color: #f2f2f2
    }


#payment.paymentOptions .divAddress{
    float: left;
    padding: 26px 0 0 40px;
    width: 50%;
    height: 236px;
    margin-bottom: 10px;
    background-color: #f8f8f9;
    cursor: pointer;
    border-bottom: 0px;
    transition: all 0.7s;
}
     #payment.paymentOptions .divAddress h2,
     #payment.paymentOptions .divAddress .homeAddress,
     #payment.paymentOptions .divAddress h3,
     #payment.paymentOptions .divAddress span{
        color:#cacaca;
    }

.divBillingAddress {
    margin-top: 0px !important;
}
.divAddressOptionsWrapper, .divBillingAddressOptionsWrapper {
    float: left;
}

.divAddressOptionsWrapper .innerWrapper, .divBillingAddressOptionsWrapper .innerWrapper{
    float: left;
}
.divAddressOption {
    transition:all 0.5s;
}

.addBtn.addingNewAddress {
    float: right;
}

.addBtn.addingNewInvoiceAddress {
    float: right;
}

.floatRight {
    margin-left: 5px;
}

.floatLeft {
    margin-right: 5px;
}
/* END - SAYFAYI DİNAMİK YAPACAK CLASS TANIMLAMALARI */



.divNewAddressContent.divAddNewAddress {
    top: 0px;
}
.divInvoiceAddressContent.divAddNewInvoiceAddress{
    opacity: 0;
    -webkit-transform: scale(0.9);
}


/* GENEL YAPIYA EKLEMELER */
.addressNewOrSaved {
    margin-bottom: 0px;
}

#address .divContent .divAddressContent .addressNewOrSavedInvoice label{
    margin-bottom: 0px;}

#address .divContent .divAddressContent .addressNewOrSavedInvoice label:last-child{
    margin-left: 30px;
}

#address .divContent .divAddressContent .addressNewOrSaved label:last-child{
    margin-left: 30px;
}

.divOverallPaymentWrapper {
    border: 1px solid #e5e5e5;
}

.prohibitorOverlay {
    position: absolute;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    opacity: 0;
    transition:opacity 0.3s;
}
.miniProhibitorOverlay {
    position: absolute;
    margin: 33px 0 0 0;
    width: 200px;
    right: -15px;
    top: -20px;
    background-color: rgba(255,255,255,0.9);
    opacity: 0;
    transition: opacity 0.3s;
}
/* END GENEL YAPIYA EKLEMELER */








/* Screen */
@media all and (max-width: 700px) {
    #address{
        float:none;
        width:100%;
    }

    #address .divAddress,
    #address .divPayment{
       display:none;
    }

    #address .divContent{
        padding:0 0 50px 0;
        border:0;
    }

    #address .divContent .divAddressContent{
        margin:auto;
        width:90%;
    }

    #address .divContent .divAddressContent h3{
        padding:0;
    }

    #address .divContent .divAddressContent .divAddressText{
        width:100%;
        margin:0;
    }

    #address .divContent .divAddressContent .pDescription{
        width:100%;
        margin:10px 0 10px 0;
    }

    #address .divContent .divAddressContent .saveBtn{
        display:none;
    }

    #address .divContent .divAddressContent .divAddressOption,
    #address .divContent .divAddressContent .divWirePaymentOption{
        float:none;
        padding:0 10px 0 10px;
        margin-bottom:20px;
        width:100%;
        height:200px;
    }

    #address .divContent .divAddressContent .divAddressOption label{
        width:200px;
        height:25px;
        margin:15px 0 15px 0;
    }

    #address .divContent .divAddressContent .divAddressOption h4.name,
    #address .divContent .divAddressContent .divWirePaymentOption h4.name{
        margin:10px 0 0 5px;
    }

    #address .divContent .divAddressContent .divAddressOption p,
    #address .divContent .divAddressContent .divWirePaymentOption p{
        margin:20px 0 0 5px;
        width:95%;
    }

    #address .divContent .divAddressContent a.icon{
        margin:20px 10px 0 0;
    }

    #address .divContent .divAddressContent a.icon img{
        margin:1px 6px 0 0;
    }



    #address .divContent .divAddressContent .sendToSomeoneElse{
        margin-bottom:30px;
    }

    #address .divContent .divAddressContent .divPhoneNumber input[type="text"],
    #address .divContent .divAddressContent .sendToSomeoneElseDetails input[type="text"] {
        width:100% !important;
    }

    #address .divContent .divAddressContent .giftNoteThis {
        margin-left:0;
    }

    #address .divContent .saveBtnA{
        width:100%;
    }


    #address .divNewAddressContent,
    #address .divInvoiceAddressContent{
        width:100%;
        margin:25px auto 0 auto;
    }

    .divAddNewAddress input[type="text"],
    .divAddNewInvoiceAddress input[type="text"], 
    select{
        float: none;
        width: 100% !important;
        margin:10px 0 0 0 !important;
    }

    .divAddNewAddress textarea,
    .divAddNewInvoiceAddress textarea{
        margin-bottom:10px;
    }

    #address .divContent a.cancelAddingNewAddress,
    #address .divContent a.cancelAddingNewInvoiceAddress{
        width:100px;
        margin-top: 25px;
    }

    #address .divContent .saveAddingNewAddress,
    #address .divContent .saveAddingNewInvoiceAddress{
        width:180px;
    }



    #payment .divPaymentContent{
        margin:auto;
        width:90%;
        padding:0;
    }

    #payment .divPaymentContent .divPaymentText{
        float:none;
        width:100%;
        margin:0;
    }

    #payment .divPaymentContent .pDescription{
        width:100% !important;
        margin:10px 0 35px 0 !important;
    }

    #payment .divPaymentContent .aInstallments{
        float:none;
        margin:0 0 30px 0;
    }

    #payment .divPaymentContent ul.paymentOptions {
        height:42px;
        margin-bottom:30px;
    }

    #payment .divPaymentContent .paymentOptions .singlePaymentOption {
        min-width:70px;
        width:70px !important;
        padding:0;
        font-size:10px;
    }

    #payment .divPaymentContent .paymentOptions .singlePaymentOption img {
        height: 12px;
        top: 15px;
    }

    #payment .divPaymentContent .divCartNumber .divBankCard{
        margin:0 0 40px 0;
    }

    #payment .divPaymentContent .divCartNumber .divBankCard img{
        margin:0 8px 0 0;
        width:auto;
    }

    #payment .divPaymentContent .divCartName{
        width:100% !important;
    }




    #payment .optionBox{
        width:100%;
    }

    #payment .optionBox.creditCardOption .cardLogo {
        top:22px;
        left: 115px;
        width: 70px;
    }

    #payment .divPaymentContent .inputCart{
        width:100% !important;
        height:40px !important;
    }

    
    

    #payment .divPaymentContent .divExpirationDate{
        margin:0 0 20px 0;
        width:200px !important;
    }

    #payment .divPaymentContent .divExpirationDate  .selectExpirationDate{
        width:70px !important;
        height:40px !important;
        margin-right:10px !important;
        background-position: 50px center;
    }

    #payment .divPaymentContent .divSecurity{
        width:80px;
    }

    #payment .divPaymentContent .divExpirationDate span,
    #payment .divPaymentContent .divSecurity span{
        padding-left:0;
        margin-bottom:0;
    }

    #payment .divPaymentContent .divSecurity .inputSecurity{
        height:40px !important;
        margin-top:10px !important
    }


    #payment .divPaymentContent .optionBox .divWirePaymentOption{
        float:none;
        margin-bottom:20px;
        width:100%;
    }


    #payment .divPaymentContent .optionBox.paypalOption img, 
    #payment .divPaymentContent .optionBox.bkmexpressOption img{
        float: right;
        margin: 14px 0 0 0;
    }



    #paymentCreditCard table{
        width:100%;
    }

    #paymentCreditCard table tr td label{
        font-size:11px;
    }






    #payment .divPaymentContent .divPay{
        float:none;
        margin:40px 0 0 0 !important;
        width:100% !important;
    }

    #payment .divPaymentContent .divPay .paymentBtn{
        padding:13px 0;
        width:100% !important;
    }

    #payment .divPaymentContent .divPay label{
        width:100%;
    }




.divInvoiceAddressContent .innerWrapper{
    top: -20px;
} 

    #orderSummary{
        display:none;
    }
}

@media all and (min-width: 701px) and (max-width: 1018px) {
    #payment{
        width:670px;
    }

    #address{
        width:100%;
    }

    #address .divContent{
        padding:0 30px 50px 30px;
    }

    #address .divContent .divAddressContent{
    }

    #address .divContent .divAddressContent .divAddressOption{
        width:294px;
    
        margin-bottom: 8px;
}

    #address .divContent .saveBtnA{
        margin-left:35px;
    }


    .divAddNewAddress input[type="text"], 
    select,
    .divAddNewInvoiceAddress input[type="text"], 
    select{
        width: 299px;
    }

    textarea {
        float: left;
        width: calc(100%);
        margin-top: 10px;
        margin-left: 10px;
    }


    #orderSummary{
        display:none;
    }

}

@media all and (min-width: 1019px) and (max-width: 1434px) {
    #payment{
        width:960px;
    }

    #orderSummary{
        width:270px;
    }

        #orderSummary table tr td.tdImg{
            width:80px;
        }

            #orderSummary table tr td.tdImg img{
                width:80px;
            }

        #orderSummary table tr td.tdDescription{
            padding-left:15px;
        }
}

@media all and (min-width: 1435px) {
    #payment{
        width:1080px;
    }
}