body {
}


#welcomeAccount{
    margin:auto;
    border:1px solid #f00;
}















/* Screen */
@media all and (max-width: 700px) {
    

}

@media all and (min-width: 701px) and (max-width: 1018px) {
    #welcomeAccount{
        width:670px;
    }
}

@media all and (min-width: 1019px) and (max-width: 1434px) {
    #welcomeAccount{
        width:960px;
    }
}

@media all and (min-width: 1435px) {
    #welcomeAccount {
        width:1080px;
    }
}
