main {
	padding-bottom: 150px;
}

.artistWelcome {
	width: 100%;
	min-height: 300px;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -o-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

.artistWelcome > .artistWelcomeWrapper {
    width: 100%;
}

.artistWelcome > * {
	z-index: 3;
}

.artistWelcome:after {
	content: '';
	width: 100%;
	height: 100%;
	position:absolute;
	top: 0px;
	left: 0px;
	background:rgba(39,40,48,0.9);
	background-size: cover;
	z-index: 1;
}

.artistInfo {
	width: 550px;
	margin: 0 auto;
}
.artistInfo img.artistPhoto {
	margin:0 auto;
	width: 140px;
	height: 140px;
	margin-bottom: 40px;
	border-radius: 50%;
}
.artistName {
	margin-bottom: 14px;
}
.artistDetail {
	margin-bottom:100px;
}
.artistDividant {
	height: 6px;
	width: 30px;
	background: #dd354b;
	margin: 20px auto;
	margin-top: 20px;
}



.seeArtistArtworks {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 30px;
}
.seeArtistArtworks * {
	margin: 0 auto;
}
.seeArtistArtworks p {
	margin-bottom: 20px;
}



.listingFilters {
	height: 65px;
	border-bottom: 8px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
	background-color:#fff;
	width: 100%;
	transition:border 0.2s, -webkit-transform 0.5s ease;
	z-index: 19;
	text-align: center;
	position: absolute;
}

.sticky {
	position: fixed !important;
	top: 90px !important;
	border-bottom: 4px solid #f1f1f1;

	z-index: 99;
}

.listingFilters ul {
}

.listingFilters .listingFilterFirstLayer {
	display:inline-block;
	margin: 0 auto;
	height: 100%;
}

.listingFilterFirstLayer select {
	border: 0px;
	border-left: 1px solid #f0f0f0;
	opacity: 1;
	height: 61px;
	width: auto;
	margin: 0px;
	color: #233244;
	width: auto;
	min-width: 160px;
	padding-left: 30px;
    background: url(../images/arrow-down-form-select-second.png) no-repeat;
    background-position-x:90%; 
    background-position-y:50%;
    opacity: 0.6;
	-webkit-appearance: none;
	-moz-appearance: none;
}

main.menuOn .sticky {
	-webkit-transform: translate3d(0px,27px,0px);
}

.listingFilterFirstLayer select:after {
    display: block;
    position: absolute;
    right: 57px !important;
}

.listingFilterFirstLayer select:focus {
	opacity: 1;
}

.listingFilterFirstLayer:first-child select{
	border-left:0px; 
}

.listingFilterFirstLayer select option {
	font-size: 10px;
	font-weight: 400;
}


.listingContainer {
	text-align: center;
	margin-top: 100px;
}

.listingContainer h1{
	top:30px;
	margin-bottom:90px;
}

.listingList {
	margin: 0 auto;
}


.listItem {
	display: inline-block;
	width: 300px;
	border: 5px solid #fff;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
	margin-bottom: 30px;
	transition: opacity 0.5s, transform 0.5s;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	-moz-transition: opacity 0.5s, -moz-transform 0.5s;
	-ms-transition: opacity 0.5s, -ms-transform 0.5s;
	-o-transition: opacity 0.5s, -o-transform 0.5s;
	cursor: pointer;
}

.listItemOverlay {
	position: absolute;
	top: 17px;
	bottom: 17px;
	right: 17px;
	left: 17px;
	background-color:rgba(255,255,255,0.97);
	border: 3px solid #000;
	text-align: center;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	opacity: 0;
	transition:all 0.4s;
}
.listItem:hover .listItemOverlay{
	opacity: 1 ;
}
.overlayWrapper {
	position: absolute;
	bottom: 27%;
	width: 100%;
	max-height: 75%;
	padding-left:25px;
	padding-right: 25px; 
	transition:all 0.4s;
	-webkit-transform:translate3d(0px,5px,0px);
}
.listItem:hover .overlayWrapper {
	-webkit-transform:translate3d(0px,0px,0px);
}
.listItemOverlayDividant{
	width: 35px;
	height: 2px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 13px;
	background-color: #000;
}















.listItem img {
	width: 100%;
	height: auto;
}

.newItem {
	opacity: 0;
	-webkit-transform:translate3d(0px,70px,0px);
	-moz-transform:translate3d(0px,70px,0px);
	-ms-transform:translate3d(0px,70px,0px);
	-o-transform:translate3d(0px,70px,0px);
	transform:translate3d(0px,70px,0px);
}


.preloader {
	width: 33px;
	height: 33px;
	opacity: 0.5;
	margin:0 auto;
	transition:all 0.2s;
	top: -225px;
}

.preloader.loading{
	opacity: 1 !important;
}

.preloader img {
	-webkit-transform:rotate(-45deg);
}

.preloader.loading img {
	-webkit-animation: preload 2s infinite;
	-webkit-animation-play-state:running;
}

.preloader img:hover {
	-webkit-transform:none;
}


.clickLoader {
	display: none;
	top: 80px;
	margin: 0 auto;
	z-index: 19;
}
.active {
	display: block;
}
footer {
	text-align: center;
}










@-webkit-keyframes preload {
	0% {
		-webkit-transform:rotate(-45deg);
	}
	25% {
		-webkit-transform:rotate(-135deg);
	} 
	50% {
		-webkit-transform:rotate(-225deg);
	}
	75% {
		-webkit-transform:rotate(-315deg);
	}
	100% {
		-webkit-transform:rotate(-405deg);
	}
}


/* Screen */
@media all and (max-width: 400px) {

	.artistWelcome{
		box-sizing:content-box;
		padding-top: 20px;
	}

	.listingFilters{
		height: 100px;
		z-index: 19;
	}

	.sticky {
		top: 70px !important;
	
		z-index: 19;
}

	.artistInfo img.artistPhoto {
		width: 100px;
		height: 100px;
	}

	.artistInfo {
		width: 90%;
	}

	.artistDetail{
		display:none;
	}

	.artistName {
		width:60%;
		/* background: tomato; */
		margin: 0 auto;
	
		margin-bottom: 20px;
		line-height: 30px;
	}


	.artistDividant {
		margin-top: 50px;
	}
	
	.listingContainer {
		text-align: center;
		margin-top: 150px;
	}

	.listingFilters{
		height: 100px;
	}

	.listingFilters .listingFilterFirstLayer {
		background:white;
		height: 46px;
		width: 50%;
		margin-left: -10px;
		border-bottom: 1px solid #f0f0f0;
	}

	.listingFilters .listingFilterFirstLayer:last-child {		
		border-left: 1px solid #f0f0f0;
		border-right: 1px solid #f0f0f0;
	}

	.listingFilters .listingFilterFirstLayer:last-child select{
		border-left: 0px;
	}

	.listingFilters .listingFilterFirstLayer select {
		height: 100%;
	}

	.listingContainer {
		margin-top: 130px;
	}
}

@media all and (min-width: 401px) and (max-width: 700px) {
	.artistWelcome {
		padding-bottom:20px;
		box-sizing:content-box
	}

	.sticky {
		top: 70px !important;
	}

	main {
		margin-top: 70px;}

	.listingContainer {
		text-align: center;
		margin-top: 150px;
	}
	
	.listingFilters{
		height: 100px;
	}

	.listingFilters .listingFilterFirstLayer {
		background:white;
		height: 46px;
		width: 50%;
		margin-left: -2px;
		border-bottom: 1px solid #f0f0f0;
	}

	.listingFilters .listingFilterFirstLayer select {
		height: 100%;
		width: 100%;
	}
}

@media all and (min-width: 701px) and (max-width: 1018px) {
    .listingWelcome h2, .listingWelcome p {
		width: 670px;
	}

	.artistInfo img.artistPhoto {
		width: 120px;
		height: 120px;
	}

	.artistOccupation {

	}

	.artistName {
    font-size: 20px;
		
	}

	.artistDetail {

	}

	.seeArtistArtworks img{

	}

	.seeArtistArtworks p{

	}
}

@media all and (min-width: 1435px) {
    .listingWelcome h2, .listingWelcome p {
		width: 1080px;
	}
}