


/* ARTISTS */
.artistsHeading {
    height: 400px;
    text-align: center;
    display: -webkit-flex;
    -webkit-align-items: center;
}

.artistsArrow {
    margin: 0 auto;
    margin-top: 50px;
}

.artistsHeading p {
    margin: 30px auto 0 auto;
    line-height: 1.909;
    width: 100%;
}

.artistsHeadingWrapper {
    width: 665px;
    left:calc(50% - 332px);
}

.artistsHeadingWrapper .pText {
    margin: 30px auto 0 auto;
    width: 665px;
    line-height: 1.909;
}

.artistsHeadingWrapper .buttonA {
    margin-top: 30px;
}

#artists {
    margin-top: 130px;
}

    #artists h4 {
        text-align: center;
        margin-bottom: 85px;
    }

    #artists {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto 0 auto;
    }

        #artists .divArtists {
            width: 100%;
        
            max-width: 1280px;
            margin: 0 auto;
}

            #artists .divArtists .divArtist {
                width: 25%;
                float: left;
                background-color: #000;
                overflow: hidden;
            }

        #artists .divArtists .divArtist img {
            z-index: 5 !important;
            width: 100% !important;
            height: auto !important;
            margin: 0 !important;
            opacity: 0.3;
            transition: all 0.5s;
            transform: translate3d(0,0,0);
        }

        #artists .divArtists .divArtist:hover img {
        }

        #artists .divArtists .divArtist .aArtist {
            display: block;
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 100%;
        }

            #artists .divArtists .divArtist .aArtist .divArtistInfo {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: flex;
                align-items: center;
                -webkit-align-items: center;
                position: absolute;
                top: 10px;
                right: 10px;
                bottom: 10px;
                left: 10px;
                z-index: 20;
                line-height: 26px;
                text-align: center;
            }

                #artists .divArtists .divArtist .aArtist .divArtistInfo * {
                    width: 100%;
                }

                #artists .divArtists .divArtist .aArtist .divArtistInfo h5 span {
                    border-bottom: 1px solid transparent;
                    transition: all 0.5s;
                }

            #artists .divArtists .divArtist .aArtist:hover .divArtistInfo h5 span {
                border-bottom: 1px solid #fff;
            }

            #artists .divArtists .divArtist .aArtist .divArtistLinkBg {
                position: absolute;
                top: 10px;
                right: 10px;
                bottom: 10px;
                left: 10px;
                background-color: rgba(47,49,64,0.85);
                background-color: #2f3140\0/ !important; /* IE 8-9 */
                opacity: 0;
                transition: all 0.5s;
            }

            #artists .divArtists .divArtist .aArtist:hover .divArtistLinkBg {
                opacity: 1;
            }

        /* Arrow Stylings */
        #artists #artistSlider .rsArrow {
            position: absolute;
            width: 30px;
            height: 20px;
            top: -108px;
            left: 50%;
            opacity: 0.5;
            transition: all 0.3s;
        }

            #artists #artistSlider .rsArrow:hover {
                opacity: 1;
            }

            #artists #artistSlider .rsArrow .rsArrowIcn {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 16px;
                height: 7px;
                margin-top: 7px;
                margin-right: auto;
                margin-left: auto;
            }

            #artists #artistSlider .rsArrow.rsArrowLeft {
                margin-left: -147px;
            }

                #artists #artistSlider .rsArrow.rsArrowLeft .rsArrowIcn {
                    background-image: url(../Images/arrow-previous.png);
                }

            #artists #artistSlider .rsArrow.rsArrowRight {
                margin-left: 113px;
            }

                #artists #artistSlider .rsArrow.rsArrowRight .rsArrowIcn {
                    background-image: url(../Images/arrow-next.png);
                }
/* END - Arrow Stylings */

/* END - ARTISTS */

@media all and (max-width: 700px) {

    #artists {
        margin-top: 100px;
    }

        #artists h4 {
            margin-bottom: 50px;
        }

        #artists .divArtists .divArtist .aArtist .divArtistInfo {
            line-height: 16px;
        }

        #artists .divArtists .divArtist .aArtist:hover .divArtistInfo h5 span {
            border-bottom: 1px solid transparent;
        }

        #artists .divArtists .divArtist .aArtist .divArtistInfo h6 {
            margin-top: 5px;
        }

        #artists .divArtists .divArtist .aArtist .divArtistLinkBg {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #artists .divArtists .divArtist .aArtist:hover .divArtistLinkBg {
            opacity: 0;
        }

        #artists .rsArrow {
            top: -72px;
        }

            #artists .rsArrow.rsArrowLeft {
                margin-left: -127px;
            }

            #artists .rsArrow.rsArrowRight {
                margin-left: 93px;
            }

    .artistsHeadingWrapper {
        width: 90%;
        left: 5%;
    }


    #artists .divArtists .divArtist {
        width: 50%;
    }
}

/* Screen */

@media all and (min-width: 701px) and (max-width: 1018px) {
    
    #artists .divArtists .divArtist {
        width: 50%;
    }
}


@media all and (min-width: 1019px) and (max-width: 1434px) {
}

@media all and (min-width: 1435px) {
}
