#basketDetails {
    margin: 50px auto 0 auto;
    width: 100%;
}

    #basketDetails .divItem,
    #basketDetails .divBasketItemHeaders {
        width: 100%;
    }

    #basketDetails .divBasketItemHeaders {
        padding-bottom: 12px;
        margin: 0 0 25px 0;
        border-bottom: 1px solid #eaeaea;
    }

        #basketDetails .divBasketItemHeaders .header1,
        #basketDetails .divBasketItemHeaders .header2,
        #basketDetails .divBasketItemHeaders .header3,
        #basketDetails .divBasketItemHeaders .header4 {
            float: left;
        }

        #basketDetails .divBasketItemHeaders .header2 {
            text-align: right;
        }

        #basketDetails .divBasketItemHeaders .header3 {
            text-align: center;
        }

        #basketDetails .divBasketItemHeaders .header4 {
            padding-right: 10px;
            text-align: right;
        }


    #basketDetails .divItem .imgItemPic {
        float: left;
        z-index: 10;
        max-width: 90px;
        height: auto;
        border: 5px solid #fff;
        box-shadow: 0 0 10px #ccc;
    }

    #basketDetails .divItem .divDescription {
        z-index: 5;
        padding-right: 20px;
        padding-left: 100px;
    }

        #basketDetails .divItem .divDescription,
        #basketDetails .divItem .divDescription .divInfo,
        #basketDetails .divItem .divDescription .divUnitPrice,
        #basketDetails .divItem .divDescription .divQuantity,
        #basketDetails .divItem .divDescription .divTotalPrice {
            min-height: 80px;
        }

            #basketDetails .divItem .divDescription .divInfo,
            #basketDetails .divItem .divDescription .divUnitPrice,
            #basketDetails .divItem .divDescription .divQuantity,
            #basketDetails .divItem .divDescription .divTotalPrice {
                float: left;
                display: -webkit-flex;
                display: -moz-flex;
                display: -o-flex;
                display: -ms-flex;
                display: flex;
                -webkit-align-items: center;
                -moz-align-items: center;
                -ms-align-items: center;
                -o-align-items: center;
                align-items: center;
            }

            #basketDetails .divItem .divDescription .divInfo {
            }

                #basketDetails .divItem .divDescription .divInfo div.content {
                    padding-left: 10px;
                }

                    #basketDetails .divItem .divDescription .divInfo div.content a {
                        display: table;
                    }

                        #basketDetails .divItem .divDescription .divInfo div.content a:link h2.header1 {
                        }

                        #basketDetails .divItem .divDescription .divInfo div.content a:link h3.header2 {
                            margin: 5px 0 5px 0;
                        }

                    #basketDetails .divItem .divDescription .divInfo div.content span.info1 {
                        display: block;
                    }

            #basketDetails .divItem .divDescription .divUnitPrice {
            }

                #basketDetails .divItem .divDescription .divUnitPrice div.content {
                    text-align: right;
                }

                    #basketDetails .divItem .divDescription .divUnitPrice div.content span.amount {
                    }

                    #basketDetails .divItem .divDescription .divUnitPrice div.content span.currency {
                    }

            #basketDetails .divItem .divDescription .divQuantity {
            }

                #basketDetails .divItem .divDescription .divQuantity div.content {
                }

                    #basketDetails .divItem .divDescription .divQuantity div.content select {
                        margin: 0 auto 0 auto;
                    }

            #basketDetails .divItem .divDescription .divTotalPrice {
            }

                #basketDetails .divItem .divDescription .divTotalPrice div.content {
                    padding-right: 10px;
                    text-align: right;
                }

                    #basketDetails .divItem .divDescription .divTotalPrice div.content span.amount {
                    }

                    #basketDetails .divItem .divDescription .divTotalPrice div.content span.currency {
                    }

            #basketDetails .divItem .divDescription .aDelete {
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                width: 20px;
                height: 35px;
                margin-top: -19px;
                opacity: 0.25;
                transition: opacity 0.5s;
            }

                #basketDetails .divItem .divDescription .aDelete:hover {
                    opacity: 1;
                }


                #basketDetails .divItem .divDescription .aDelete img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 7px;
                    height: 7px;
                    margin: -3px 0 0 -3px;
                }

    #basketDetails div.separator.sepA {
        padding: 20px 0 0 0;
        margin: 0 0 20px 0;
        border-bottom: 1px solid #eaeaea;
    }

    #basketDetails .divTotal {
        margin-top: 45px;
        width: 100%;
        height: 216px;
        background-color: #f4f4f4;
    }

        #basketDetails .divTotal .divDiscount {
            float: left;
            margin: 35px 0 0 40px;
            width: 260px;
        }

            #basketDetails .divTotal .divDiscount p {
                line-height: 16px;
            }

            #basketDetails .divTotal .divDiscount .divDiscountInput {
                margin-top: 20px;
                width: 100% !important;
            }

                #basketDetails .divTotal .divDiscount .divDiscountInput input[type=text] {
                    width: 100% !important;
                    padding-right: 50px !important;
                }

                #basketDetails .divTotal .divDiscount .divDiscountInput input[type=image] {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 40px;
                    height: 29px;
                    padding: 10px 17px 10px 0;
                    margin-top: -15px;
                    opacity: 0.3;
                    transition: all 0.5s;
                }

                    #basketDetails .divTotal .divDiscount .divDiscountInput input[type=image]:hover {
                        opacity: 1;
                    }

        #basketDetails .divTotal .tableOrderTotal {
            float: right;
            margin: 35px 40px 0 0;
            width: 365px;
        }

            #basketDetails .divTotal .tableOrderTotal tr td:first-child {
                width: 200px;
            }

            #basketDetails .divTotal .tableOrderTotal tr td {
                padding-bottom: 10px;
                text-align: right;
            }

            #basketDetails .divTotal .tableOrderTotal .trSep div.separator.sepB {
                border-bottom: 1px solid #ddd;
                margin-top: 10px;
                margin-bottom: 10px;
            }


    #basketDetails .contShopping {
        float: left;
        margin: 55px 0 100px 40px;
    }

    #basketDetails .btnCompleteOrder {
        float: right;
        margin: 50px 40px 0 0;
    }


@media all and (max-width: 700px) {
    #basketDetails {
        width: 90%;
    }

        #basketDetails .divBasketItemHeaders {
            display: none;
        }

            #basketDetails .divItem .divDescription .divInfo,
            #basketDetails .divItem .divDescription .divUnitPrice,
            #basketDetails .divItem .divDescription .divQuantity,
            #basketDetails .divItem .divDescription .divTotalPrice {
                min-height: initial;
            }

                #basketDetails .divItem .divDescription .divInfo div.content,
                #basketDetails .divItem .divDescription .divUnitPrice div.content,
                #basketDetails .divItem .divDescription .divQuantity div.content,
                #basketDetails .divItem .divDescription .divTotalPrice div.content {
                    text-align: left;
                    padding-left: 10px;
                }

                #basketDetails .divItem .divDescription .divInfo div.content {
                    width: 90%;
                    min-width: 150px;
                    max-width: 260px;
                    padding-top: 5px;
                }

                #basketDetails .divItem .divDescription .divUnitPrice div.content {
                    width: 110px;
                    padding-top: 24px;
                }

            #basketDetails .divItem .divDescription .divQuantity {
                float: right;
                margin-top: 10px;
                margin-right: -20px;
            }

                #basketDetails .divItem .divDescription .divQuantity div.content {
                    width: auto;
                    min-width: initial;
                    padding-left: 0;
                }

            #basketDetails .divItem .divDescription .divTotalPrice {
                display: none;
            }

            #basketDetails .divItem .divDescription .aDelete {
                top: 0;
                margin-top: 0;
            }

                #basketDetails .divItem .divDescription .aDelete img {
                    position: absolute;
                    top: 5px;
                    margin: initial;
                }

        #basketDetails .divTotal .divDiscount {
            display: none;
        }

        #basketDetails .divTotal {
            height: initial;
            padding-top: 35px;
            padding-bottom: 35px;
        }

            #basketDetails .divTotal .tableOrderTotal {
                float: initial;
                width: 90%;
                margin: 0 auto 0 auto;
            }

                #basketDetails .divTotal .tableOrderTotal tr td:first-child {
                    width: 110px;
                    text-align: left;
                }

        #basketDetails .contShopping {
            display: none;
        }

        #basketDetails .btnCompleteOrder {
            float: initial;
            margin-left: auto;
            margin-right: auto;
        }

    footer .aLogo {
        display: none !important;
    }
}


@media all and (min-width: 701px) and (max-width: 1018px) {
    #basketDetails {
        width: 670px;
    }

        #basketDetails .divBasketItemHeaders .header1 {
            width: 340px;
        }

        #basketDetails .divItem .divDescription .divInfo div.content {
            width: 240px;
        }

        #basketDetails .divBasketItemHeaders .header2,
        #basketDetails .divItem .divDescription .divUnitPrice div.content {
            width: 100px;
        }

        #basketDetails .divBasketItemHeaders .header3,
        #basketDetails .divItem .divDescription .divQuantity div.content {
            width: 100px;
        }

        #basketDetails .divBasketItemHeaders .header4,
        #basketDetails .divItem .divDescription .divTotalPrice div.content {
            width: 105px;
        }

        #basketDetails .divItem .divDescription .aDelete {
            margin-top: -18px;
        }

        #basketDetails .divTotal .tableOrderTotal {
            width: 250px;
        }

        #basketDetails .divTotal .divDiscount {
            width: 230px;
        }

        #basketDetails .divTotal .tableOrderTotal tr td:first-child {
            width: 140px;
        }
}

@media all and (min-width: 1019px) and (max-width: 1434px) {
    #basketDetails {
        width: 960px;
    }

        #basketDetails .divItem:hover .divDescription .divInfo,
        #basketDetails .divItem:hover .divDescription .divUnitPrice,
        #basketDetails .divItem:hover .divDescription .divQuantity,
        #basketDetails .divItem:hover .divDescription .divTotalPrice {
            background-color: #f8f8f8;
        }

        #basketDetails .divItem .divDescription .divInfo,
        #basketDetails .divItem .divDescription .divUnitPrice,
        #basketDetails .divItem .divDescription .divQuantity,
        #basketDetails .divItem .divDescription .divTotalPrice {
            transition: all 0.5s;
        }

        #basketDetails .divBasketItemHeaders .header1 {
            width: 510px;
        }

        #basketDetails .divItem .divDescription .divInfo div.content {
            width: 410px;
            padding-right: 50px;
        }

        #basketDetails .divBasketItemHeaders .header2,
        #basketDetails .divItem .divDescription .divUnitPrice div.content {
            width: 110px;
        }

        #basketDetails .divBasketItemHeaders .header3,
        #basketDetails .divItem .divDescription .divQuantity div.content {
            width: 200px;
        }

        #basketDetails .divBasketItemHeaders .header4,
        #basketDetails .divItem .divDescription .divTotalPrice div.content {
            width: 115px;
        }
}

@media all and (min-width: 1435px) {
    #basketDetails {
        width: 1080px;
    }

        #basketDetails .divItem:hover .divDescription .divInfo,
        #basketDetails .divItem:hover .divDescription .divUnitPrice,
        #basketDetails .divItem:hover .divDescription .divQuantity,
        #basketDetails .divItem:hover .divDescription .divTotalPrice {
            background-color: #f8f8f8;
        }

        #basketDetails .divItem .divDescription .divInfo,
        #basketDetails .divItem .divDescription .divUnitPrice,
        #basketDetails .divItem .divDescription .divQuantity,
        #basketDetails .divItem .divDescription .divTotalPrice {
            transition: all 0.5s;
        }

        #basketDetails .divBasketItemHeaders .header1 {
            width: 630px;
        }

        #basketDetails .divItem .divDescription .divInfo div.content {
            width: 530px;
            padding-right: 50px;
        }

        #basketDetails .divBasketItemHeaders .header2,
        #basketDetails .divItem .divDescription .divUnitPrice div.content {
            width: 110px;
        }

        #basketDetails .divBasketItemHeaders .header3,
        #basketDetails .divItem .divDescription .divQuantity div.content {
            width: 200px;
        }

        #basketDetails .divBasketItemHeaders .header4,
        #basketDetails .divItem .divDescription .divTotalPrice div.content {
            width: 115px;
        }
}
