#smartphoneLandscape{
    display:none;
    position:fixed;
    z-index:200;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:#fff;
}

#smartphoneLandscape .divPreloader {
    position:absolute;
    top:50%;
    left:50%;
    margin:-40px 0 0 -16px;
}

#smartphoneLandscape .divPreloader.loading{
    opacity: 1 !important;
}

#smartphoneLandscape .divPreloader img {
    -webkit-transform:rotate(-45deg);
}

#smartphoneLandscape .divPreloader.loading img {
    -webkit-animation: preload 2s infinite;
    -webkit-animation-play-state:running;
}

#smartphoneLandscape .divPreloader img:hover {
    -webkit-transform:none;
}

#smartphoneLandscape p.faceA{
    width:100%;
    position:absolute;
    top:50%;
    margin-top:50px;
    line-height:30px;
    text-align:center;
}


@-webkit-keyframes preload {
    0% {
        -webkit-transform:rotate(-45deg);
    }
    25% {
        -webkit-transform:rotate(-135deg);
    } 
    50% {
        -webkit-transform:rotate(-225deg);
    }
    75% {
        -webkit-transform:rotate(-315deg);
    }
    100% {
        -webkit-transform:rotate(-405deg);
    }
}




nav .divNav, main, footer {
    transition:transform 0.5s ease;
    -webkit-transition:-webkit-transform 0.5s ease;
    -moz-transition:-moz-transform 0.5s ease;
    -ms-transition:-ms-transform 0.5s ease;
    -o-transition:-o-transform 0.5s ease;
}

main{
    z-index:10;
    margin:90px auto 0 auto;
}

.noDisplay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
}



@-webkit-keyframes pseudoCursor {
    from {
        opacity: 0;
        animation-timing-function:  steps(0);
    }
    to {
        opacity: 1;
        animation-timing-function:  steps(0);
    }
}



/* BREADCRUMBS */
.breadcrumbsWrapper {
    width:960px;
    margin:0 auto;
}

.breadcrumbs li{
    float:left;
    width:auto;
    line-height:74px;
    margin-right:8px;
    letter-spacing:0.6px;
}

.breadcrumbs li a{
    float:left;
}

.breadcrumbs li:after {
    content:'/';
    margin-left:8px;
}

.breadcrumbs li:last-child:after {
    content:'';
}
/* END - BREADCRUMBS */

/* PAGE HEADER */
#pageHeader {
    height: 100px;
    background-color: #f0f0f0;
    line-height: 100px;
    text-align: center;
}

/* END - PAGE HEADER */

/* ADDITIONAL PANELS CSS */
.SSTOpener {
    transition:transform 0.7s;
    -webkit-transition:-webkit-transform 0.7s;
    -moz-transition:-moz-transform 0.7s;
    -ms-transition:-ms-transform 0.7s;
    -o-transition:-o-transform 0.7s;
    overflow: auto;
    z-index: 31;
}

.divUserOpener, .divBasketOpener{
    width: 100%;
    left: 0px;
}


.userInnerOpener{
    display: none;
    width: 100%;
    opacity: 0;
    -webkit-transform:scale(0.98);
    transition: opacity 0.5s, -webkit-transform 0.5s;
}

.activeInnerOpener {
    opacity: 1;
    -webkit-transform:scale(1);
}

.userOpenerInnerOpenerVisible {
    display:block;
}

.panelInnerLink {
    cursor: pointer;
}

/* END - ADDITIONAL PANEL CSS */

/* Screen */
@media all and (max-width: 700px) {
    main{
        margin:70px auto 0 auto;
    }

    #pageHeader {
        height:75px;
        line-height: 80px;     
    }

    .breadcrumbsWrapper, 
    .divDetailWrapper {
        width:90%;
        margin:0 auto;
        text-align: center;
    }

    .breadcrumbs{
        text-align: center;
    }

    .breadcrumbs ul{
        margin-right: -7px !important;
        display: inline-block;
        float: right;
    }

    .breadcrumbs ul li:last-child{
        display: none;
    }
}

@media all and (min-width: 701px) and (max-width: 1018px) {
    .breadcrumbsWrapper, .divDetailWrapper {
        width:670px;
        margin:0 auto;
        text-align: center;
    }

    .breadcrumbs{
        text-align: center;
    }

    .breadcrumbs ul{
        margin:0 auto;
        display: inline-block;
    }
}

@media all and (min-width: 1019px) and (max-width: 1434px) {
    
}

@media all and (min-width: 1435px) {
    
}




/* JQUERY MOBILE CSS */
.ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
    top:0px !important;
    display:none;
}