
#smartphoneLandscape{
    display:none;
    position:fixed;
    z-index:200;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:#fff;
}

#smartphoneLandscape .divPreloader {
    position:absolute;
    top:50%;
    left:50%;
    margin:-40px 0 0 -16px;
}

#smartphoneLandscape .divPreloader.loading{
    opacity: 1 !important;
}

#smartphoneLandscape .divPreloader img {
    -webkit-transform:rotate(-45deg);
}

#smartphoneLandscape .divPreloader.loading img {
    -webkit-animation: preload 2s infinite;
    -webkit-animation-play-state:running;
}

#smartphoneLandscape .divPreloader img:hover {
    -webkit-transform:none;
}

#smartphoneLandscape p.faceA{
    width:100%;
    position:absolute;
    top:50%;
    margin-top:50px;
    line-height:30px;
    text-align:center;
}


@-webkit-keyframes preload {
    0% {
        -webkit-transform:rotate(-45deg);
    }
    25% {
        -webkit-transform:rotate(-135deg);
    } 
    50% {
        -webkit-transform:rotate(-225deg);
    }
    75% {
        -webkit-transform:rotate(-315deg);
    }
    100% {
        -webkit-transform:rotate(-405deg);
    }
}






#search{
    position:fixed;
    z-index:15;
    top:30px;
    width:100%;
    height:60px;
    background-color:#ececef;
    transition:transform 0.5s ease;
    -webkit-transition:-webkit-transform 0.5s ease;
    -moz-transition:-moz-transform 0.5s ease;
    -ms-transition:-ms-transform 0.5s ease;
    -o-transition:-o-transform 0.5s ease;
}

#search .divSearchContent{
    margin:auto;
    width:960px;
}

#search .divSearchContent .inputTextB{
    position:absolute;
    top:12px;
    right:40px;
}

#search .aSearchButton{
    position:absolute;
    top:23px;
    right:0;
    width:12px;
    height:12px;
}

#search .aSearchButton img{
    width:100%;
    height:auto;
}

.topSearch {
    -webkit-transform:translate3d(0px,60px,0px);
    -moz-transform:translate3d(0px,60px,0px);
    -ms-transform:translate3d(0px,60px,0px);
    -o-transform:translate3d(0px,60px,0px);
    transform:translate3d(0px,60px,0px);
}

#search .pseudoCursor {
    position: absolute;
    width: 1px;
    height: 17px;
    background: rgba(0,0,0,1);
    top: 21px;
    right: 40px;
    -webkit-animation:pseudoCursor 0.6s infinite alternate
}



main{
    z-index:10;
    margin:90px auto 0 auto;
}


@-webkit-keyframes pseudoCursor {
    from {
        opacity: 0;
        animation-timing-function:  steps(0);
    }
    to {
        opacity: 1;
        animation-timing-function:  steps(0);
    }
}



/* BREADCRUMBS */
.breadcrumbsWrapper {
    width:960px;
    margin:0 auto;
}
.breadcrumbs li{
    float:left;
    width:auto;
    line-height:74px;
    margin-right:8px;
    letter-spacing:0.6px;
}
.breadcrumbs li:after {
    content:'/';
    margin-left:7px;
}
.breadcrumbs li:last-child:after {
    content:'';
}
/* END - BREADCRUMBS */




/* PAGE HEADER */
#pageHeader {
    height: 100px;
    line-height: 100px;
    background-color: #f0f0f0;
    text-align: center;
}
/* END - PAGE HEADER */





/* Screen */
@media all and (max-width: 400px) {
    #search {
        top: 10px;
    }
    #search .divSearchContent{
        width:90%;
    }

    main{
        margin:70px auto 0 auto;
    }
    #pageHeader {
        height:75px;
        line-height: 80px;     
    }
    .breadcrumbsWrapper, .divDetailWrapper {
        width:90%;
        margin:0 auto;
        text-align: center;
    }
    .breadcrumbs{
        text-align: center;
    }
    .breadcrumbs ul{
        margin-right: -7px !important;
        display: inline-block;
    
        float: right;
    }
    .breadcrumbs ul li:last-child{
        display: none;
    }
}

@media all and (min-width: 401px) and (max-width: 700px) {
    #search {
        top: 10px;
    }

    #search .divSearchContent{
        width:550px;
    }
    main {
        margin: 70px auto 0 auto;
    }
    .breadcrumbsWrapper, .divDetailWrapper {
        width:90%;
        margin:0 auto;
    }
    .breadcrumbs{
        text-align: center;
    }
    .breadcrumbs ul{
        margin:0 auto;
        display: inline-block;
    }
}

@media all and (min-width: 701px) and (max-width: 1018px) {
    #search .divSearchContent{
        width:670px;
    }
    .breadcrumbsWrapper, .divDetailWrapper {
        width:670px;
        margin:0 auto;
        text-align: center;
    }
    .breadcrumbs{
        text-align: center;
    }
    .breadcrumbs ul{
        margin:0 auto;
        display: inline-block;
    }
}

@media all and (min-width: 1019px) and (max-width: 1434px) {
    #search .divSearchContent{
        width:960px;
    }
}

@media all and (min-width: 1435px) {
    #search .divSearchContent{
        width:1080px;
    }

    
}