
#mainEntry{
    width:100%;
    background-image:url('../Files/Sliders/Home/01.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

#mainEntry .divBg{
    position:absolute;
    z-index:0;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-image:url('../Images/overlay-purple.png');
    background-repeat:no-repeat;
    background-size:cover;
}

#mainEntry .divText{
    position:absolute;
    z-index:5;
}
