@font-face {
	font-family: 'Nova';
	src: url('../fonts/ProximaNovaBlack.eot');
	src: local('☺'), url('../fonts/ProximaNovaBlack.woff') format('woff'), url('../fonts/ProximaNovaBlack.ttf') format('truetype'), url('../fonts/ProximaNovaBlack.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Nova';
	src: url('../fonts/ProximaNovaExtrabold.eot');
	src: local('☺'), url('../fonts/ProximaNovaExtrabold.woff') format('woff'), url('../fonts/ProximaNovaExtrabold.ttf') format('truetype'), url('../fonts/ProximaNovaExtrabold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Nova';
	src: url('../fonts/ProximaNovaBold.eot');
	src: local('☺'), url('../fonts/ProximaNovaBold.woff') format('woff'), url('../fonts/ProximaNovaBold.ttf') format('truetype'), url('../fonts/ProximaNovaBold.svg') format('svg');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'Nova';
	src: url('../fonts/ProximaNovaSemibold.eot');
	src: local('☺'), url('../fonts/ProximaNovaSemibold.woff') format('woff'), url('../fonts/ProximaNovaSemibold.ttf') format('truetype'), url('../fonts/ProximaNovaSemibold.svg') format('svg');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Nova';
	src: url('../fonts/ProximaNovaRegular.eot');
	src: local('☺'), url('../fonts/ProximaNovaRegular.woff') format('woff'), url('../fonts/ProximaNovaRegular.ttf') format('truetype'), url('../fonts/ProximaNovaRegular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}