@font-face {
	font-family: 'Nova';
	src: url('../fonts/ProximaNovaBlack.eot');
	src: local('☺'), url('../fonts/ProximaNovaBlack.woff') format('woff'), url('../fonts/ProximaNovaBlack.ttf') format('truetype'), url('../fonts/ProximaNovaBlack.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nova';
	src: url('../fonts/ProximaNovaExtrabold.eot');
	src: local('☺'), url('../fonts/ProximaNovaExtrabold.woff') format('woff'), url('../fonts/ProximaNovaExtrabold.ttf') format('truetype'), url('../fonts/ProximaNovaExtrabold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Nova';
	src: url('../fonts/ProximaNovaBold.eot');
	src: local('☺'), url('../fonts/ProximaNovaBold.woff') format('woff'), url('../fonts/ProximaNovaBold.ttf') format('truetype'), url('../fonts/ProximaNovaBold.svg') format('svg');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'Nova';
	src: url('../fonts/ProximaNovaBoldIt.eot');
	src: local('☺'), url('../fonts/ProximaNovaBoldIt.woff') format('woff'), url('../fonts/ProximaNovaBoldIt.ttf') format('truetype'), url('../fonts/ProximaNovaBoldIt.svg') format('svg');
	font-style: italic;
	font-weight: 600;
}

@font-face {
	font-family: 'Nova';
	src: url('../fonts/ProximaNovaSemiboldItalic.eot');
	src: local('☺'), url('../fonts/ProximaNovaSemiboldItalic.woff') format('woff'), url('../fonts/ProximaNovaSemiboldItalic.ttf') format('truetype'), url('../fonts/ProximaNovaSemiboldItalic.svg') format('svg');
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: 'Nova';
	src: url('../fonts/ProximaNovaSemibold.eot');
	src: local('☺'), url('../fonts/ProximaNovaSemibold.woff') format('woff'), url('../fonts/ProximaNovaSemibold.ttf') format('truetype'), url('../fonts/ProximaNovaSemibold.svg') format('svg');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Nova';
	src: url('../fonts/ProximaNovaRegularItalic.eot');
	src: local('☺'), url('../fonts/ProximaNovaRegularItalic.woff') format('woff'), url('../fonts/ProximaNovaRegularItalic.ttf') format('truetype'), url('../fonts/ProximaNovaRegularItalic.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Nova';
	src: url('../fonts/ProximaNovaRegular.eot');
	src: local('☺'), url('../fonts/ProximaNovaRegular.woff') format('woff'), url('../fonts/ProximaNovaRegular.ttf') format('truetype'), url('../fonts/ProximaNovaRegular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Nova';
	src: url('../fonts/ProximaNovaLightItalic.eot');
	src: local('☺'), url('../fonts/ProximaNovaLightItalic.woff') format('woff'), url('../fonts/ProximaNovaLightItalic.ttf') format('truetype'), url('../fonts/ProximaNovaLightItalic.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Nova';
	src: url('../fonts/ProximaNovaLight.eot');
	src: local('☺'), url('../fonts/ProximaNovaLight.woff') format('woff'), url('../fonts/ProximaNovaLight.ttf') format('truetype'), url('../fonts/ProximaNovaLight.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}



/*************/



@font-face {
	font-family: 'Roboto';
	src: url('../fonts/ProximaNovaCondSemiboldIt.eot');
	src: local('☺'), url('../fonts/ProximaNovaCondSemiboldIt.woff') format('woff'), url('../fonts/ProximaNovaCondSemiboldIt.ttf') format('truetype'), url('../fonts/ProximaNovaCondSemiboldIt.svg') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/ProximaNovaCondSemibold.eot');
	src: local('☺'), url('../fonts/ProximaNovaCondSemibold.woff') format('woff'), url('../fonts/ProximaNovaCondSemibold.ttf') format('truetype'), url('../fonts/ProximaNovaCondSemibold.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/ProximaNovaCondRegularIt.eot');
	src: local('☺'), url('../fonts/ProximaNovaCondRegularIt.woff') format('woff'), url('../fonts/ProximaNovaCondRegularIt.ttf') format('truetype'), url('../fonts/ProximaNovaCondRegularIt.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/ProximaNovaCondRegular.eot');
	src: local('☺'), url('../fonts/ProximaNovaCondRegular.woff') format('woff'), url('../fonts/ProximaNovaCondRegular.ttf') format('truetype'), url('../fonts/ProximaNovaCondRegular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/ProximaNovaCondLightIt.eot');
	src: local('☺'), url('../fonts/ProximaNovaCondLightIt.woff') format('woff'), url('../fonts/ProximaNovaCondLightIt.ttf') format('truetype'), url('../fonts/ProximaNovaCondLightIt.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/ProximaNovaCondLight.eot');
	src: local('☺'), url('../fonts/ProximaNovaCondLight.woff') format('woff'), url('../fonts/ProximaNovaCondLight.ttf') format('truetype'), url('../fonts/ProximaNovaCondLight.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}