input,
select,
select option,
button,
label,
textarea{
    font-family:'Nova';
}

input[type="text"]{
    display:block;
    width:200px;
    height:30px;
    padding:0 15px 0 15px;
    border:1px solid #f2f2f2;
    color:#000;
    font-size:13px;
    font-weight:500;
}

/* DEFAULT BUTTON STYLE */
input[type="button"],
button{
    font-family: 'Nova';
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    color: #000;
    letter-spacing: 0.8px;
    border: 3px solid;
    padding: 10px 35px;
    padding-top: 12px;
    box-sizing:content-box;
    background:transparent;
    cursor: pointer;
    transition:all 0.2s;
}
input[type="button"]:hover,
button:hover{
    background: #000;
    color: #fff;
    border: 3px solid #000;
}
input[type="button"]:active,
button:active{
    background: #404040 !important;
    border: 3px solid #404040 !important;
}
/* END - DEFAULT BUTTON STYLE */

    /*PURPLE BUTTON STYLE */

    input[type="button"].purpleButton,
    button.purpleButton{
        color: #4b4d63;
    }
    input[type="button"]:hover.purpleButton,
    button:hover.purpleButton{
        background: #4b4d63;
        color: #fff;
        border: 3px solid #4b4d63;
    }
    input[type="button"].purpleButton:active,
    button.purpleButton:active{
        background: #6f7182 !important;
        border: 3px solid #6f7182 !important;
    }

    /*END PURPLE BUTTON STYLE */


    /*RED BUTTON STYLE */

    input[type="button"].redButton,
    button.redButton{
        color: #dd354b;
    }
    input[type="button"].redButton:hover,
    button.redButton:hover{
        background: #dd354b;
        color: #fff;
        border: 3px solid #dd354b;
    }
    input[type="button"].redButton:active,
    button.redButton:active{
        background: #e0495d !important;
        border: 3px solid #e0495d !important;
    }

    /*END RED BUTTON STYLE */


input::-webkit-input-placeholder { /* WebKit browsers */
    color:#000;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#000;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#000;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#000;
}


label{
    color:#ff6a00;
    font-size:12px;
    font-weight:bold;
    letter-spacing:1px;
}

select{
    width:200px;
    height:30px;
    margin: 0;
    padding:0 15px 0 15px;
    color: #555;
    font-size: 16px;
    border:1px solid #f2f2f2;
    background-image: url(../Images/select-arrow.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size:10px;
}

textarea{
    width:200px;
    height:100px;
    padding:10px;
    border:1px solid #f2f2f2;
}





/* Customized */
.inputStyleA{
    float:right;
    margin:19px 45px 10px 0 !important;
    padding:0 !important;
    width:470px !important;
    height:20px !important;
    color:#000 !important;
    text-align:right;
    font-family:'Nova' !important;
    border:0 !important;
    background-color:transparent;
}

.inputStyleA::-webkit-input-placeholder { /* WebKit browsers */
}
.inputStyleA:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
}
.inputStyleA::-moz-placeholder { /* Mozilla Firefox 19+ */
}
.inputStyleA:-ms-input-placeholder { /* Internet Explorer 10+ */
}





.inputStyleB{
    margin:auto;
    width:260px !important;
    height:50px !important;
    color:#fff !important;
    background-color:#b5b5b5 !important;
}





.buttonStyleA{

}

.buttonStyleB{

}





.selectStyleA{

}

.selectStyleA option{

}

.selectStyleB{

}

.selectStyleB option{

}





.textareaStyleA{

}

.textareaStyleB{

}





.labelStyleA{
    display: inline-block; 
    padding:0 0 0 25px;
    color:#a3a3a3;
}

.labelStyleB{

}







/* Screen */
@media all and (max-width: 400px) {
}

@media all and (min-width: 401px) and (max-width: 700px) {
}

@media all and (min-width: 701px) and (max-width: 1018px) {
}

@media all and (min-width: 1019px) and (max-width: 1434px) {
}

@media all and (min-width: 1435px) {
}