input,
select,
select option,
button,
label,
textarea {
    font-family: 'Nova';
}

    input[type="text"] {
        display: block;
        width: 186px;
        height: 40px;
        background-color: transparent;
        padding: 0 15px 0 15px;
        border: 3px solid #000;
        color: #000;
        line-height: 15px;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 500;
        transition: all 0.2s, width 0.2s;
        padding-left: 15px;
        opacity: 0.2;
    }

        input[type="text"]:focus {
            opacity: 1;
            width: 200px;
        }


    /* DEFAULT BUTTON STYLE */
    input[type="button"],
    button {
        padding: 10px 35px;
        padding-top: 12px;
        width:auto;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Nova';
        line-height: 12px;
        letter-spacing: 1.3px;
        border: 3px solid;
        box-sizing: content-box;
        background: transparent;
        cursor: pointer;
        transition: all 0.2s;
    }

        input[type="button"]:hover,
        button:hover {
            color: #fff;
            background: #000;
            border: 3px solid #000;
        }

        input[type="button"]:active,
        button:active {
            background: #404040 !important;
            border: 3px solid #404040 !important;
        }


    input::-webkit-input-placeholder { /* WebKit browsers */
        position: relative;
        top: 2px;
        color: #000;
    }

    input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #000;
    }

    input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #000;
    }

    input:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #000;
    }

select {
    display: block;
    width: 100px;
    height: 40px;
    background: url(../images/arrow-down-form-select.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    padding: 0 15px 0 15px;
    border: 3px solid #000;
    color: #000;
    line-height: 15px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all 0.2s, width 0.2s;
    padding-left: 15px;
    opacity: 0.2;
    -webkit-appearance: none;
    -moz-appearance: none;
}

    select:after {
        content: url(../images/arrow-down-form-select.png);
        display: block;
        position: absolute;
        right: 3px;
    }

    

textarea {
    width: 200px;
    height: 100px;
    padding: 10px;
    border: 1px solid #f2f2f2;
}





input[type="checkbox"] {
    display: inline-block;
    top:10px;
    margin-right: 10px;
    width: 22px;
    height: 22px;
    border: 2px solid #000;
    transition: none;
    cursor: pointer;
}

input[type="checkbox"].stopCheckboxTypeA {
    width: 12px;
    height: 12px;
    top: 5px;
}

    input[type="checkbox"]:checked {
        background: url(../images/checkbox.png) no-repeat center;
        background-size: 60%;
    }

.stopLabelA {
    display: inline-block;
    height: 38px;
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.040em;
    transition: all 0.2s;
}

    .stopLabelA:hover:after {
        opacity: 1;
    }


.stopLabelA a {
    display: inline-block;
    color:#000;
}






input[type="radio"] {
    display: inline-block;
    top:4px;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    border: 2px solid #000;
    border-radius:50%;
    transition:none;
    cursor: pointer;
}

    input[type="radio"]:checked {
        background: url(../images/radio.png) no-repeat center;
        background-size: 60%;
    }

input[type="radio"].stopRadioTypeA {
    height: 12px;

    width: 12px;
    top: 2px;
}

.stopLabelB {
    display: inline-block;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.010em;
    transition: all 0.2s;
}

    






.stopLabelC {
    padding:0 5px 0 60px;
    height: 50px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.030em;
}

    .stopLabelC:after {
        top: 7px;
        left: 31px;
    }





/* Customized */
.stopInputTextA {
    padding: 0 40px 0 20px !important;
    width: 205px !important;
    height: 36px !important;
    color: #231f20 !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    letter-spacing: 0.05em !important;
    background-color: transparent;
    border: 1px solid #000 !important;
}

    .stopInputTextA::-webkit-input-placeholder { /* WebKit browsers */
    }

    .stopInputTextA:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    }

    .stopInputTextA::-moz-placeholder { /* Mozilla Firefox 19+ */
    }

    .stopInputTextA:-ms-input-placeholder { /* Internet Explorer 10+ */
    }




.stopInputTextB {
    padding: 0 0 0 20px !important;
    width: 205px !important;
    height: 36px !important;
    color: #231f20 !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    letter-spacing: 0.05em !important;
    text-align: right;
    background-color: transparent;
    border: 1px solid transparent !important;
}





.stopInputTextC {
    padding: 0 20px 0 20px !important;
    width:388px !important;
    height:45px !important;
    color: #000 !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    letter-spacing: 0.05em !important;
    background-color: transparent;
    border: 1px solid #000 !important;
}

   
input.stopInputTextD{
        display: block;
        height: 48px;
        background-color: transparent;
        padding: 0 15px 0 15px;
        border: 1px solid rgba(0,0,0,0.2);
        color: #000;
        line-height: 15px;
        font-size: 11px;
        letter-spacing: 1px;
        font-weight: 500;
        transition: all 0.2s, width 0.2s;
        padding-left: 15px;
        opacity: 0.7;
}

input.stopInputTextD:focus{
        width: 50%;
}








/* BUTTON STARTS HERE */


input[type="button"].stopButtonA,
button.stopButtonA {
    padding: 10px 25px;
    color: #fff;
    font-weight: 400;
    background-color: #4b4d63;
    border: 3px solid #4b4d63;
}

    input[type="button"].stopButtonA:hover,
    button.stopButtonA {
        color: #fff;
        background: #6f7182;
        border: 3px solid #6f7182;
    }





input[type="button"].stopButtonB,
button.stopButtonB {
    padding: 10px 25px;
    padding-top: 12px;
    color: #fff;
    font-weight: 400;
    background: #dd354b;
    border: 3px solid #dd354b;
}

    input[type="button"].stopButtonB:hover,
    button.stopButtonB {
        background: #e0495d;
        color: #fff;
        border: 3px solid #e0495d;
    }
/* END SMALL BUTTON STYLES */

/* BUTTON ENDS HERE */



.stopSelectA {
    display: block;
    width: 70px;
    height: 40px;
    padding: 0 15px 0 15px;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
    background: url(../images/arrow-down-form-select.png);
    background-repeat: no-repeat;
    background-position: 45px center;
    border: 1px solid #000;
    opacity: 0.2;
    transition: all 0.2s, width 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.stopSelectB{
        display: block;
        height: 48px;
        background-color: transparent;
        padding: 0 15px 0 15px;
        margin-bottom: 10px;
        border: 1px solid rgba(0,0,0,0.2);
        color: #000;
        line-height: 15px;
        font-size: 11px;
        letter-spacing: 1px;
        font-weight: 500;
        transition: all 0.2s, width 0.2s;
        padding-left: 15px;
        opacity: 0.7;
}

.stopTextareaStyleA {
        display: block;
        width: 100%;
        height: 110px;
        left: -10px;
        background-color: transparent;
        padding: 15px 15px 0 15px;
        border: 1px solid rgba(0,0,0,0.2);
        color: #000;
        line-height: 15px;
        font-size: 11px;
        letter-spacing: 1px;
        font-weight: 500;
        transition: all 0.2s, width 0.2s;
        padding-left: 15px;
        opacity: 1;
        resize: none;
}







/* Screen */
@media all and (max-width: 700px) {
    header nav .divMailingContent .stopInputTextA {
        padding: 0 60px 0 20px !important;
        width: 240px !important;
        height: 46px !important;
        font-size: 13px !important;
        letter-spacing: 0.09em !important;
        opacity: 1 !important;
    }

    .stopSelectA {
        width: 60px;
        background-position: 40px center;
    }
}

@media all and (min-width: 701px) and (max-width: 1018px) {
    header nav .divMailingContent .stopInputTextA {
        padding: 0 60px 0 20px !important;
        width: 270px !important;
        height: 52px !important;
        font-size: 13px !important;
        letter-spacing: 0.09em !important;
        opacity: 1 !important;
    }

    .stopSelectA {
        width: 60px;
        background-position: 40px center;
    }


    input[type="radio"] {
        top:6px;
    }

    .stopLabelB:after {
        top: 14px;
        left: 7px;
    }
}