input, 
select,
select option,
button,
label,
textarea{
    font-family:'Nova';
}

input[type="text"]{
    display:block;
    width:186px;
    height:40px;
    background-color: transparent;
    padding:0 15px 0 15px;
    border:3px solid #000;
    color:#000;
    line-height: 15px;
    font-size:14px;
    letter-spacing: 1px;
    font-weight:500;
    transition:all 0.2s, width 0.2s;
    padding-left: 15px;
    opacity: 0.2;
}
input[type="text"]:focus{
    opacity: 1;
    width: 200px;
}




/* DEFAULT BUTTON STYLE */
input[type="button"],
button{
    font-family: 'Nova';
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: #000;
    letter-spacing: 1.3px;
    border: 3px solid;
    padding: 10px 35px;
    padding-top: 12px;
    box-sizing:content-box;
    background:transparent;
    cursor: pointer;
    transition:all 0.2s;
}

input[type="button"]:hover,
button:hover{
    background: #000;
    color: #fff;
    border: 3px solid #000;
}

input[type="button"]:active,
button:active{
    background: #404040 !important;
    border: 3px solid #404040 !important;
}


input::-webkit-input-placeholder { /* WebKit browsers */
    color:#000;
    position: relative;
    top: 2px;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#000;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#000;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#000;
}

select{
    display:block;
    width:100px;
    height:40px;
    background: url(../images/arrow-down-form-select.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    padding:0 15px 0 15px;
    border:3px solid #000;
    color:#000;
    line-height: 15px;
    font-size:14px;
    letter-spacing: 1px;
    font-weight:500;
    transition:all 0.2s, width 0.2s;
    padding-left: 15px;
    opacity: 0.2;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select:after {
    content: url(../images/arrow-down-form-select.png);
    display: block;
    position: absolute;
    right: 3px;
}

textarea{
    width:200px;
    height:100px;
    padding:10px;
    border:1px solid #f2f2f2;
}


input[type="checkbox"]{
    width: 22px;
    height: 22px;
    top: 6px;
    border: 3px solid #000;
    margin-right: 10px;
    transition: all 0.2s;
}

input[type="checkbox"]:checked{
    background-color:#000;
}

label{
    top: -6px;
    display: inline-block;
    height: 21px;
    line-height: 21px;
    font-size:12px;
    font-weight:500;
    letter-spacing:1px;
    transition: all 0.2s;
}

label:hover:after {
    opacity: 1;
}

label:after {
    content: '';
    position: absolute;
    top: 12px;
    left: 6px;
    width: 4px;
    height: 4px;
    border: 3px solid;
    opacity: 0;
    transition: all 0.2s;
}


/* Customized */
.inputTextA{
    padding:0 40px 0 20px !important;
    width:205px !important;
    height:36px !important;
    color:#231f20 !important;
    font-size:12px !important;
    font-weight:400 !important;
    letter-spacing:0.05em !important;
    background-color:transparent;
    border:1px solid #e5e5e5 !important;
}

.inputTextA::-webkit-input-placeholder { /* WebKit browsers */
}
.inputTextA:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
}
.inputTextA::-moz-placeholder { /* Mozilla Firefox 19+ */
}
.inputTextA:-ms-input-placeholder { /* Internet Explorer 10+ */
}




.inputTextB{
    padding:0 0 0 20px !important;
    width:205px !important;
    height:36px !important;
    color:#231f20 !important;
    font-size:12px !important;
    font-weight:400 !important;
    letter-spacing:0.05em !important;
    text-align:right;
    background-color:transparent;
    border:1px solid transparent !important;
}





/* BUTTON STARTS HERE */

/*BLACK BUTTON STYLE */
.buttonA{
    color: #000;
}

.buttonA:hover{
    background: #000;
    color: #fff;
    border: 3px solid #000;
}

.buttonA:active{
    background: #404040 !important;
    border: 3px solid #404040 !important;
}
/*END BLACK BUTTON STYLE*/





/*PURPLE BUTTON STYLE */
.buttonB{
    color: #4b4d63;
}
.buttonB:hover{
    background: #4b4d63;
    color: #fff;
    border: 3px solid #4b4d63;
}
.buttonB:active{
    background: #6f7182 !important;
    border: 3px solid #6f7182 !important;
}
/* END PURPLE BUTTON STYLE */





/*RED BUTTON STYLE */
.buttonB{
    color: #4b4d63;
}
.buttonB:hover{
    background: #4b4d63;
    color: #fff;
    border: 3px solid #4b4d63;
}
.buttonB:active{
    background: #6f7182 !important;
    border: 3px solid #6f7182 !important;
}
/* END RED BUTTON STYLE */





/*RED BUTTON STYLE */
.buttonC{
    color: #dd354b;
}
.buttonC:hover{
    background: #dd354b;
    color: #fff;
    border: 3px solid #dd354b;
}
.buttonC:active{
    background: #e0495d !important;
    border: 3px solid #e0495d !important;
}
/* SMALL RED BUTTON STYLE */





/* SMALL BUTTON STYLES */
.buttonD{
    background: #000;
    color: #fff;
    border: 3px solid #000;
    font-weight: 400;
    padding: 10px 25px;
    padding-top: 12px;
}
.buttonD:hover {
    background: #404040;
    color: #fff;
    border: 3px solid #404040;
}

.buttonE {
    background: #4b4d63;
    color: #fff;
    border: 3px solid #4b4d63;
    font-weight: 400;
    padding: 10px 25px;
    padding-top: 12px;
}

.buttonE:hover {
    background: #6f7182;
    color: #fff;
    border: 3px solid #6f7182;
}

.buttonF {
    background: #dd354b;
    color: #fff;
    border: 3px solid #dd354b;
    font-weight: 400;
    padding: 10px 25px;
    padding-top: 12px;
}
.buttonF:hover {
    background: #e0495d;
    color: #fff;
    border: 3px solid #e0495d;
}

/* END SMALL BUTTON STYLES */

/* BUTTON ENDS HERE */



.selectStyleA{

}

.selectStyleA option{

}

.selectStyleB{

}

.selectStyleB option{

}





.textareaStyleA{

}

.textareaStyleB{

}





.labelStyleA{
    display: inline-block; 
    padding:0 0 0 25px;
    color:#a3a3a3;
}

.labelStyleB{

}







/* Screen */
@media all and (max-width: 400px) {
}

@media all and (min-width: 401px) and (max-width: 700px) {
}

@media all and (min-width: 701px) and (max-width: 1018px) {
    header nav .divMailingContent .inputTextA{
        padding:0 60px 0 20px !important;
        width:270px !important;
        height:52px !important;
        font-size:13px !important;
        letter-spacing:0.09em !important;
        opacity:1 !important;
    }
}

@media all and (min-width: 1019px) and (max-width: 1434px) {
}

@media all and (min-width: 1435px) {
}