input,
select,
select option,
button,
label,
textarea{
    font-family:'Proxima Nova';
}

input[type="text"]{
    display:block;
    width:200px;
    height:30px;
    padding:0 15px 0 15px;
    border:1px solid #f2f2f2;
    color:#000;
    font-size:13px;
    font-weight:500;
}

input[type="button"],
button{
    display:block;
    width:100px;
    height:30px;
    padding:0 15px 0 15px;
    background-color:#fff;
    border:1px solid #f2f2f2;
    color:#000;
    font-size:13px;
    font-weight:500;
}


input::-webkit-input-placeholder { /* WebKit browsers */
    color:#000;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#000;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#000;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#000;
}


label{
    color:#ff6a00;
    font-size:12px;
    font-weight:bold;
    letter-spacing:1px;
}

select{
    width:200px;
    height:30px;
    margin: 0;
    padding:0 15px 0 15px;
    color: #555;
    font-size: 16px;
    border:1px solid #f2f2f2;
    background-image: url(../Images/select-arrow.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size:10px;
}

textarea{
    width:200px;
    height:100px;
    padding:10px;
    border:1px solid #f2f2f2;
}





/* Customized */
.inputStyleA{
    margin-bottom:10px;
}

.inputStyleA::-webkit-input-placeholder { /* WebKit browsers */
    color:#ff0;
}
.inputStyleA:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#ff0;
}
.inputStyleA::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#ff0;
}
.inputStyleA:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#ff0;
}


.inputStyleB{
    margin:auto;
    width:260px !important;
    height:50px !important;
    color:#fff !important;
    background-color:#b5b5b5 !important;
}





.buttonStyleA{

}

.buttonStyleB{

}





.selectStyleA{

}

.selectStyleA option{

}

.selectStyleB{

}

.selectStyleB option{

}




.textareaStyleA{

}

.textareaStyleB{

}




.labelStyleA{
    display: inline-block; 
    padding:0 0 0 25px;
    color:#a3a3a3;
}

.labelStyleB{

}







/* Screen */
@media all and (max-width: 400px) {
}

@media all and (min-width: 401px) and (max-width: 700px) {
}

@media all and (min-width: 701px) and (max-width: 1018px) {
}

@media all and (min-width: 1019px) and (max-width: 1434px) {
}

@media all and (min-width: 1435px) {
}