header{
    position:fixed;
    z-index:1000;
    top:0;
    left:0;
    width:100%;
    background-color:#fff;
}
header:before {
    content:'';
    display:block;
    position:absolute;
    background-color:#fff;
    width:100%;
    height:100%;
    z-index: 2;
}

header .divContent{
    margin:auto;
    height:90px;
}

header .divContent .aLogo:link,
header .divContent .aLogo:visited{
    display:block;
    position:absolute;
    z-index:15;
    top:25px;
    left:0;
}

header:after {
    content: '';
    display: block;
    position: fixed;
    top: 70px;
    height: 20px;
    width: 100%;
    background-color: transparent;
    box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.15);
    z-index: 99999999999;
    transition:box-shadow 0.3s ease;
}

/* Screen */
@media all and (max-width: 700px) {
    header .divContent{
        width:90%;
        height: 70px !important;
    }

    header .divContent .aLogo:link,
    header .divContent .aLogo:visited{
        top:18px;
    }

    header .divContent .aLogo img {
        width: 90px;
        height: auto;
    }
    header:after {
    top: 50px;
    }
}

@media all and (min-width: 701px) and (max-width: 1018px) {
    header .divContent{
        width:670px;
    }
}

@media all and (min-width: 1019px) and (max-width: 1434px) {
    header .divContent{
        width:960px;
        background: white;
        z-index: 2;
    }

    header .divUserOpener {
        display: none;
        height: 40px;
    }

    header .divUserOpener .userOpenerWrapper {
        width: 960px;
        margin: auto;
    }

    header .divUserOpener .userOpenerContent {
        float: right;
    }

    header .divUserOpener .userOpenerContent a,
    header .divUserOpener .userOpenerContent p{
        float:left;
        color: #202132;
        font-weight: 200;
        font-size: 12px;
        line-height: 44px;
        margin-right: 20px;
        opacity: 0.7;
    }

    header .divUserOpener .userOpenerContent p span {
        font-weight: 500;
    }

    header .divUserOpener .userOpenerContent a {
        padding-left: 20px;
        margin-right: 20px;
        border-left: 1px solid rgba(0,0,0,0.3);
        height: 20px;
        top: 10px;
        line-height: 24px;
    }

    header .divUserOpener .userOpenerContent a:last-child {
        margin-right:0px;
    }


    header.withUserOpener {
        height: 130px;
    }
    header.withUserOpener:after {
        top: 110px;
        left: 0px;
    }  
}

@media all and (min-width: 1435px) {
    header .divContent{
        width:1080px;
    }

    header .divUserOpener {
        display: none;
        height: 40px;
    }

    header .divUserOpener .userOpenerWrapper {
        width: 960px;
        margin: auto;
    }

    header .divUserOpener .userOpenerContent {
        float: right;
    }

    header .divUserOpener .userOpenerContent a,
    header .divUserOpener .userOpenerContent p{
        float:left;
        color: #202132;
        font-weight: 200;
        font-size: 12px;
        line-height: 44px;
        margin-right: 20px;
        opacity: 0.7;
    }

    header .divUserOpener .userOpenerContent p span {
        font-weight: 500;
    }

    header .divUserOpener .userOpenerContent a {
        padding-left: 20px;
        margin-right: 0px;
        border-left: 1px solid rgba(0,0,0,0.3);
        height: 20px;
        top: 10px;
        line-height: 24px;
    }

    header.withUserOpener {
        height: 130px;
    }
    header.withUserOpener:after {
        top: 110px;
        left: 0px;
    }  
}