header{
    position:fixed;
    z-index:20;
    top:0;
    left:0;
    width:100%; 
    height:90px;
    background-color:#fff;
}

header .divContent{
    margin:auto;
    height:100%;
}

header .divContent .aLogo:link,
header .divContent .aLogo:visited{
    display:block;
    position:absolute;
    z-index:15;
    top:25px;
    left:0;
}


/* Screen */
@media all and (max-width: 400px) {
    header{
        height:70px !important;
        background-color:#ff0 !important;
    }

    header .divContent{
        width:90%;
    }

    header .divContent .aLogo:link,
    header .divContent .aLogo:visited{
        top:18px;
    }

    header .divContent .aLogo img {
        width: 90px;
        height: auto;
    }
}

@media all and (min-width: 401px) and (max-width: 700px) {
    header .divContent{
        width:550px;
    }
}

@media all and (min-width: 701px) and (max-width: 1018px) {
    header .divContent{
        width:670px;
    }
}

@media all and (min-width: 1019px) and (max-width: 1434px) {
    header .divContent{
        width:960px;
    }
}

@media all and (min-width: 1435px) {
    header .divContent{
        width:1080px;
    }
}