.listingWelcome {
	width: 100%;
	min-height: 300px;
}
.listingWelcome > * {
	z-index: 3;
}
.listingWelcome:after {
	content: '';
	width: 100%;
	height: 100%;
	position:absolute;
	top: 0px;
	left: 0px;
	background: url(../images/overlay-purple.png) center no-repeat;
	background-size: cover;
	z-index: 1;
}

.listingFilters {
	height: 65px;
	border-bottom: 8px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
	background-color:#fff;
	width: 100%;
	transition:border 0.2s;
	z-index: 2;
}
.sticky {
	position: fixed !important;
	top: 90px !important;
	border-bottom: 4px solid #f1f1f1;

}

.listingContainer {
	text-align: center;
	margin-top: 100px;
}
.listingList {
	margin: 0 auto;
}

.listItem {
	/*dev*/
	width: 326px;
	height: 400px;
	background: tomato;
	/*end - dev*/
	margin-bottom: 20px;
}