main {
	padding-bottom: 150px;
}

.listingWelcome {
	width: 100%;
	min-height: 300px;
	text-align: center;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}

.listingWelcome > .listingWelcomeWrapper {
    width: 100%;
}

.listingWelcome h2, 
.listingWelcome p {
	width: 960px;
	margin: 0 auto;
	padding-left: 100px;
	padding-right: 100px;
}

.listingWelcome h2 {
	margin-bottom: 40px;
	line-height: 36px;
} 

.listingWelcome > * {
	z-index: 3;
}

.listingWelcome:after {
	position:absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
    width: 100%;
	height: 100%;
	background: url(../images/overlay-purple.png) center no-repeat;
	background-size: cover;
	content: '';
}

.listingWelcome img {
    margin:40px auto 0 auto;
}





.listingFilters {
	z-index: 2;
	width: 100%;
	height: 65px;
	border-bottom: 8px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
	background-color:#fff;
	text-align: center;
	transition: border 0.2s, -webkit-transform 0.5s ease;
}

.sticky {
	position: fixed !important;
	top: 90px !important;
	border-bottom: 4px solid #f1f1f1;
}


.listingFilters .listingFilterFirstLayer {
	display:inline-block;
	margin: 0 auto;
	height: 100%;
}

.listingFilterFirstLayer select {
	width: auto;
	min-width: 160px;
	height: 61px;
	margin: 0;
	padding-left: 30px;
	color: #233244;
	border: 0;
	border-left: 1px solid #f0f0f0;
    background: url(../images/arrow-down-form-select-second.png) no-repeat;
	background-position-x: 85%; 
    background-position-y:50%;
    opacity:0.6;
	-webkit-appearance: none;
	-moz-appearance: none;
}

main.menuOn .sticky {
	-webkit-transform: translate3d(0px,27px,0px);
}

.listingFilterFirstLayer select:after {
    display: block;
    position: absolute;
    right: 57px !important;
}

.listingFilterFirstLayer select:focus {
	opacity: 1;
}

.listingFilterFirstLayer:first-child select{
	border-left:0; 
}

.listingFilterFirstLayer select option {
	font-size: 10px;
	font-weight: 400;
}


.listingContainer {
	text-align: center;
	margin-top: 30px;
}

.listingContainer h1{
	top:30px;
	margin-bottom:90px;
}

.listingList {
	margin: 0 auto;
}

.listItem {
	display: inline-block;
	width: 300px;
	border: 5px solid #fff;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
	margin-bottom: 30px;
	transition: opacity 0.5s, transform 0.5s;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	-moz-transition: opacity 0.5s, -moz-transform 0.5s;
	-ms-transition: opacity 0.5s, -ms-transform 0.5s;
	-o-transition: opacity 0.5s, -o-transform 0.5s;
	cursor: pointer;
}

.listItemOverlay {
	position: absolute;
	top: 17px;
	bottom: 17px;
	right: 17px;
	left: 17px;
	background-color:rgba(255,255,255,0.97);
	border: 3px solid #000;
	text-align: center;
	display: flex;
	align-items:center;
	opacity: 0;
	transition:all 0.4s;
}

.listItem:hover .listItemOverlay{
	opacity: 1 ;
}

.overlayWrapper {
	position: absolute;
	bottom: 27%;
	width: 100%;
	max-height: 75%;
	padding-left:25px;
	padding-right: 25px; 
	transition:all 0.4s;
	-webkit-transform:translate3d(0px,5px,0px);
}

.listItem.hover .overlayWrapper {
	-webkit-transform:translate3d(0px,0px,0px);
}

.listItemOverlayDividant{
	width: 35px;
	height: 2px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 13px;
	background-color: #000;
}

.listItemLink {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0px;
}

.listItem.listingLinkOn .listItemLink {
	display: block !important;
}












.listItem img {
	width: 100%;
	height: auto;
}

.newItem {
	opacity: 0;
	-webkit-transform:translate3d(0px,70px,0px);
	-moz-transform:translate3d(0px,70px,0px);
	-ms-transform:translate3d(0px,70px,0px);
	-o-transform:translate3d(0px,70px,0px);
	transform:translate3d(0px,70px,0px);
}


.preloader {
	width: 33px;
	height: 33px;
	opacity: 0.5;
	margin:0 auto;
	transition:all 0.2s;
	top: -225px;
}

.preloader img {
	-webkit-transform:rotate(-45deg);
}

.preloader.loading{
	opacity: 1 !important;
}

.preloader.loading img {
	-webkit-animation: preload 2s infinite;
	-webkit-animation-play-state:running;
}

.preloader img:hover {
	-webkit-transform:none;
}


.clickLoader {
	display: none;
	z-index: 19;
	top: -210px;
	margin: 0 auto;
}

.active {
	display: block;
}

footer {
	text-align: center;
}









@-webkit-keyframes preload {
	0% {
		-webkit-transform:rotate(-45deg);
	}
	25% {
		-webkit-transform:rotate(-135deg);
	} 
	50% {
		-webkit-transform:rotate(-225deg);
	}
	75% {
		-webkit-transform:rotate(-315deg);
	}
	100% {
		-webkit-transform:rotate(-405deg);
	}
}


/* Screen */
@media all and (max-width: 700px) {
    main {
		padding-top: 100px;
	}

    .listingWelcome{
		display: none;
	}

    .listingWelcome h2, 
    .listingWelcome p {
		width: 90%;
	}

	.listingFilters{
		position: fixed !important;
		top: 70px !important;
		height: 103px;
	}

	.listingFilters .listingFilterFirstLayer {
        margin:0;
		width: 45% !important;
		height: 46px;
		background-color:#fff;
		border-bottom: 1px solid #f0f0f0;
		overflow: hidden;
	}

	.listingFilters .listingFilterFirstLayer select {
		width: 100%;
		height: 100%;
        background-position-x: 80%; 
    }
}


@media all and (min-width: 701px) and (max-width: 1018px) {
    .listingWelcome h2, .listingWelcome p {
		width: 670px;
	}
}

@media all and (min-width: 1435px) {
    .listingWelcome h2, .listingWelcome p {
		width: 1080px;
	}
}