
#Login{
    position:fixed;
    z-index:30;
    top:90px;
    width:100%;
    height:376px;
    background-color:#ececef;
}

#Login #pageHeader{
   display:none;
}



#Login .divLoginContent{
    margin:45px auto 0 auto;
}

#Login .divLoginContent .divLogin{
    float:left;
    width:350px;
}

#Login .divLoginContent .divLogin h1.logIn{
    padding:0 0 15px 20px;
    margin-bottom:30px;
    border-bottom:1px solid #d9d9db;
}

#Login .divLoginContent .divLogin .input{
    margin-bottom:10px;
}

#Login .divLoginContent .divLogin button{
    float:left;
    margin-left:0px;
}

#Login .divLoginContent .divLogin a{
    float:right;
}

#Login .divLoginContent .divLogin a.signUp{
    margin-top:8px;
}

#Login .divLoginContent .divLogin a.forgotPassword{
    margin-top:10px;
    color:#b1b1b3;
}




#Login .divLoginContent .divOr{
    float:left;
    margin:37px 0 0 160px;
    height:180px;
    border-left:2px solid #d9d9db;
}

#Login .divLoginContent .spanOr{
    position:absolute;
    left:-23px;
    top:63px;
    padding:20px 0 20px 0;
    background-color:#ececef;
}







#Login .divLoginContent .divSocialIcons{
    float:right;
    width:400px;
    margin-top:53px;
}

#Login .divLoginContent .divSocialIcons .aSocialIcon{
    width:224px;
    height:42px;
    margin-bottom:10px;
}

#Login .divLoginContent .divSocialIcons .aSocialIcon.facebook{
    background-color:#0b66af;
}

#Login .divLoginContent .divSocialIcons .aSocialIcon.twitter{
    background-color:#26b1df;
}

#Login .divLoginContent .divSocialIcons .aSocialIcon.instagram{
    background-color:#61534e;
}

#Login .divLoginContent .divSocialIcons .aSocialIcon img{
    float:left;
    margin-left:20px;
    border:1px solid #f00;
}

#Login .divLoginContent .divSocialIcons .aSocialIcon span{
    position:absolute;
    left:62px;
    height:100%;
    padding-top:15px;
}











/* Screen */
@media all and (max-width: 400px) {
    #Login #pageHeader{
        display:block;
    }

    #Login{
        top:70px;
        bottom:0;
        height:auto;
        background-color:#fff;
    }

    #Login .divLoginContent{
        position:absolute;
        top:30px;
        bottom:0;
        padding:30px 0 30px 0;
        width:100%;
        overflow:auto;
    }

    #Login .divLoginContent .divLogin{
        float:none;
        width:90%;
        margin:auto;
        text-align:center;
    }

    #Login .divLoginContent .divLogin h1.logIn{
        display:none;
    }

    #Login .divLoginContent .divLogin button{
        float:none;
        margin:10px auto 10px auto;
        font-size: 15px !important;
    }

    #Login .divLoginContent .divLogin a{
        float:none;
    }

    #Login .divLoginContent .divOr{
        float:none;
        margin:65px auto 0 auto;
        width:90%;
        height:2px;
        border-bottom:1px solid #f2f2f2;
    }

    #Login .divLoginContent .spanOr{
        top:-6px;
        left:50%;
        margin-left:-45px;
        padding:0 20px 0 20px;
        background-color:#fff;
    }

    #Login .divLoginContent .divSocialIcons{
        float:none;
        width:90%;
        margin:53px auto 0 auto;
    }

    #Login .divLoginContent .divSocialIcons .aSocialIcon{
        margin:0 auto 10px auto;
    }


}

@media all and (min-width: 401px) and (max-width: 700px) {

    #Login #pageHeader{
        display:block;
    }

    #Login{
        top:70px;
        bottom:0;
        height:auto;
        background-color:#fff;
    }

    #Login .divLoginContent{
        position:absolute;
        top:30px;
        bottom:0;
        padding:30px 0 30px 0;
        width:100%;
        overflow:auto;
    }

    #Login .divLoginContent .divLogin{
        float:none;
        width:90%;
        margin:auto;
        text-align:center;
    }

    #Login .divLoginContent .divLogin h1.logIn{
        display:none;
    }

    #Login .divLoginContent .divLogin button{
        float:none;
        margin:10px auto 10px auto;
        font-size: 15px !important;
    }

    #Login .divLoginContent .divLogin a{
        float:none;
    }

    #Login .divLoginContent .divOr{
        float:none;
        margin:65px auto 0 auto;
        width:90%;
        height:2px;
        border-bottom:1px solid #f2f2f2;
    }

    #Login .divLoginContent .spanOr{
        top:-6px;
        left:50%;
        margin-left:-45px;
        padding:0 20px 0 20px;
        background-color:#fff;
    }

    #Login .divLoginContent .divSocialIcons{
        float:none;
        width:90%;
        margin:53px auto 0 auto;
    }

    #Login .divLoginContent .divSocialIcons .aSocialIcon{
        margin:0 auto 10px auto;
    }
    
}

@media all and (min-width: 701px) and (max-width: 1018px) {
    #Login #pageHeader{
       display:block;
    }

    #Login{
        bottom:0;
        height:auto;
        background-color:#fff;
    }

    #Login .divLoginContent{
        width:670px;
    }

    #Login .divLoginContent .divLogin{
        float:none;
        margin:auto;
        width:455px;
    }

    #Login .divLoginContent .divLogin h1.logIn{
        display:none;
    }

    #Login .divLoginContent .divLogin .input{
        height:52px !important;
        font-size: 13px !important;
        text-align:center;
    }

    #Login .divLoginContent .divLogin button{
        float:none;
        margin:20px 0 20px 85px;
        width:200px;
        font-size: 15px !important;
    }

    #Login .divLoginContent .divLogin a{
        float:none;
        font-size: 13px !important;
        text-align:center;
    }


    #Login .divLoginContent .divOr{
        float:none;
        margin:65px 0 0 0;
        width:100%;
        height:2px;
        border-bottom:1px solid #f2f2f2;
    }

    #Login .divLoginContent .spanOr{
        top:-6px;
        left:50%;
        margin-left:-45px;
        padding:0 20px 0 20px;
        background-color:#fff;
    }


    #Login .divLoginContent .divSocialIcons{
        float:none;
        margin:60px auto 0 auto;
    }

    #Login .divLoginContent .divSocialIcons .aSocialIcon{
        margin:0 auto 10px auto;
    }
}

@media all and (min-width: 1019px) and (max-width: 1434px) {
    #Login .divLoginContent{
        width:960px;
    }

    #Login .divLoginContent .divOr{
        margin:37px 0 0 135px;
    }

    #Login .divLoginContent .divSocialIcons{
        width:340px;
    }
}

@media all and (min-width: 1435px) {
    #Login .divLoginContent{
        width:1080px;
    }
}
