.sampleStripe .miscImg , .sampleStripe input, .sampleStripe label{
margin: 30px;
display: inline-block;
}
label > input {
	margin: 0px !important;
	margin-right:10px !important;
}
.sampleStripe {
	height: 110px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.sampleStripe.black {
	background: rgba(0,0,0,0.7);
}
main {
padding:50px 100px;
background: transparent;
}