.sampleStripe .miscImg {
margin: 30px;
display: inline-block;
}

.sampleStripe {
	height: 110px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.sampleStripe.black {
	background: rgba(0,0,0,0.7);
}
main {
padding:50px 100px;
background: transparent;
}