
nav{
    width:100%;
    height:100%;
}

nav .divNav{
    position:absolute;
    z-index:0;
    top:38px;
    right:0;
}

nav .divNav ul.level1{
    display:table;
}

nav .divNav ul.level1 > li{
    display:table-cell;
    position:relative;
}

nav .divNav ul.level1 > li a:link,
nav .divNav ul.level1 > li a:visited{
    margin:0 0 0 31px;
    padding-bottom:10px;
    text-decoration:none;
    color:#000;
    font-size:13px;
    font-weight:600;
    letter-spacing:0.10em;
    border-bottom:2px solid transparent;
    transition:all 0.5s;
    -webkit-transition:all 0.5s;
}

nav .divNav ul.level1 > li a:hover,
nav .divNav ul.level1 > li a:active{
    border-bottom:2px solid #2f3140;
}


nav .divNav ul.level1 > li .aSearch:link,
nav .divNav ul.level1 > li .aSearch:visited{
    width:12px;
    height:12px;
    border-bottom:0 !important;
}

nav .divNav ul.level1 > li .aSearch:hover,
nav .divNav ul.level1 > li .aSearch:active{
}

nav .divNav ul.level1 > li .aSearch img{
    position:absolute;
    top:1px;
    width:100%;
    height:auto;
}



nav .divNavIcon{
    display:none;
    position:absolute;
    z-index:10;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

nav .divNavIcon .divNavIconBg {
    position:fixed;
    top:0;
    right:0;
    left:0;
    height:90px;
    background-color:#fff;
}

nav .divNavIcon .imgNav{
    position:absolute;
    top:35px;
    right:0;
    width:24px;
    padding:5px 0 5px 5px;
    box-sizing:border-box;
}





/* Screen */
@media all and (max-width: 400px) {
}

@media all and (min-width: 401px) and (max-width: 700px) {
}

@media all and (min-width: 701px) and (max-width: 1018px) {
    nav .divNav{
        position:fixed;
        top:-110px;
        right:0;
        left:0;
        height:200px;
        background-color:#fff2ad;
    }

    nav .divNav .divNavContent{
        margin:auto;
        width:670px;
        border:1px solid #f00;
    }

    nav .divNav  ul.level1 > li{
        display:block;
    }

    nav .divNav ul.level1 > li a:link,
    nav .divNav ul.level1 > li a:visited{
        margin:0;
    }

    nav .divNavIcon{
         display:block;
    }


     /* TABLET & MOBILE MENU ANIMATION ADD STYLE */
    .menuOn {
        -webkit-transform:translate3d(0px,200px,0px);
        -moz-transform:translate3d(0px,200px,0px);
        -ms-transform:translate3d(0px,200px,0px);
        -o-transform:translate3d(0px,200px,0px);
        transform:translate3d(0px,200px,0px);
    }

    nav .divNav, main, footer {
        transition:transform 0.5s;
        -webkit-transition:-webkit-transform 0.5s;
        -moz-transition:-moz-transform 0.5s;
        -ms-transition:-ms-transform 0.5s;
        -o-transition:-o-transform 0.5s;
    }
    /* TABLET & MOBILE MENU ANIMATION ADD STYLE */

}


@media all and (min-width: 1019px) and (max-width: 1434px) {
    
}

@media all and (min-width: 1435px) {
}
