
.SSTOpener{
    z-index:18;
    width:100%;
    overflow: visible;
    background-color:#ececef;
}

/* search */
#searchOpener .divSearchContent{
    margin:auto;
    height:60px;
}

#searchOpener .divSearchContent .inputTextB{
    position:absolute;
    top:12px;
    right:40px;
    border: 0;
}

#searchOpener .aSearchButton{
    position:absolute;
    top:23px;
    right:0;
    width:12px;
    height:12px;
}

#searchOpener .aSearchButton img{
    width:100%;
    height:auto;
}

.topSearch {
    -webkit-transform:translate3d(0px,60px,0px);
    -moz-transform:translate3d(0px,60px,0px);
    -ms-transform:translate3d(0px,60px,0px);
    -o-transform:translate3d(0px,60px,0px);
    transform:translate3d(0px,60px,0px);
}

#searchOpener .pseudoCursor {
    position: absolute;
    width: 1px;
    height: 17px;
    background: rgba(0,0,0,1);
    top: 21px;
    right: 40px;
    -webkit-animation:pseudoCursor 0.6s infinite alternate
}

/* search */

/* basket */
.SSTOpener.divBasketOpener{
    padding-bottom:40px;
    height:auto;
}

.SSTOpener .divBasketContent{
    margin:auto;
    width:1080px;
}

.SSTOpener .divBasketContent .divBasketDetails{
    float:right;
    margin-top: 0px;
    width: 600px;
}

.SSTOpener .divBasketContent .divBasketDetails .basketDetailsScroller {
    max-height: 299px;
    overflow: auto;
}

.SSTOpener .divBasketContent .divBasketDetails .divBasketItemHeaders{
    padding-bottom: 10px;
    margin-top: 30px;
    border-bottom:1px solid #d9d9db;
}

.SSTOpener .divBasketContent .divBasketItemHeaders .header1{
    float: left;
    width:385px;
    text-align:right;
}

.SSTOpener .divBasketContent .divBasketItemHeaders .header2{
    float: right;
    width:180px;
    text-align:center;
}

.SSTOpener .divBasketContent .divBasketDetails .separator.marginCaster{
    margin-bottom: 40px;
}

.SSTOpener .divBasketDetails .divItem:first-child {
}

.SSTOpener .divBasketDetails .divItem:last-child {
    padding-bottom: 12px;
}

.SSTOpener .divItem .imgItemPic {
    float: left;
    z-index: 10;
    max-width: 60px;
    height: auto;
    border: 5px solid #fff;
    box-shadow: 0 0 10px #ccc;
}



.SSTOpener .divItem .divDescription {
    z-index: 5;
    padding-right: 20px;
    padding-left: 75px;
}

.SSTOpener .divItem .divDescription,
.SSTOpener .divItem .divDescription .divInfo,
.SSTOpener .divItem .divDescription .divQuantity,
.SSTOpener .divItem .divDescription .divTotalPrice {
    min-height: 60px;
}

.SSTOpener .divItem .divDescription .divInfo,
.SSTOpener .divItem .divDescription .divQuantity,
.SSTOpener .divItem .divDescription .divTotalPrice {
    float: left;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}


.SSTOpener .divItem .divDescription .divInfo{
    width:275px;
}

    .SSTOpener .divItem .divDescription .divInfo div.content a {
        display: table;
    }

    .SSTOpener .divItem .divDescription .divInfo div.content a:link h3.header2 {
        margin: 5px 0 5px 0;
    }

    .SSTOpener .divItem .divDescription .divInfo div.content span.info1 {
        display: block;
    }

.SSTOpener .divItem .divDescription .divQuantity{
    width:45px;
}

    .SSTOpener .divItem .divDescription .divQuantity span{
        display:inline-block;
        margin:auto;
    }

    .SSTOpener .divItem .divDescription .divQuantity span.spanMobilePrice{
        display:none;
    }

.SSTOpener .divItem .divDescription .divTotalPrice{
    width:145px;
}

    .SSTOpener .divItem .divDescription .divTotalPrice div.content {
        width:100%;
        text-align: right;
    }

.SSTOpener .divItem .divDescription .aDelete {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 35px;
    margin-top: -19px;
    opacity: 0.25;
    transition: opacity 0.5s;
}

.SSTOpener .divItem .divDescription .aDelete:hover {
    opacity: 1;
}

.SSTOpener .divItem .divDescription .aDelete img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 7px;
    margin: -3px 0 0 -3px;
}


.SSTOpener div.separator.sepA {
    padding: 10px 0 0 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #d9d9db;
}


.SSTOpener .divBasketContent .divTotal{
    float:right;
    margin-top: 0px;
    padding-top:22px;
    width:100%;
    border-top:1px solid #d9d9db;
}

.SSTOpener .divBasketContent .divTotal table{
    float:right;
    margin-right:45px;
    width:248px;
}

.SSTOpener .divBasketContent .divTotal table tr td{
    text-align:right;
}

.SSTOpener .divBasketContent .divTotal .divPaymentButton{
    float:right;
    margin:40px 45px 0 0;
    width:575px;
}

.SSTOpener .divBasketContent .divTotal .divPaymentButton .contShopping{
    float:left;
    margin-top:5px;
}

.SSTOpener .divBasketContent .divTotal .divPaymentButton .btnCompleteOrder{
    float:right;
    width:140px;
}











/* Screen */
@media all and (max-width: 700px) {
    .SSTOpener{
        bottom:0;
        height:auto;
        overflow: auto;
        background-color:#fff;
    }

    .SSTOpener .divSearchContent{
        width:90%;
    }

    .SSTOpener .openerHeader{
        display:block;
        margin-bottom: 30px;
        height:75px;
        line-height:80px;
    }

    .SSTOpener.divUserOpener{
        padding:0;
    }

    .SSTOpener .divLoginContent,
    .SSTOpener .divNewMemberContent{
        position: relative;
        top:0;
        bottom:0;
        margin-top: 0;
        padding: 0px 0 30px 0;
        width:100%;
        overflow:auto;
    }

    .SSTOpener .divLoginContent .divLogin{
        float:none;
        width:90%;
        margin:auto;
        text-align:center;
    }

    .SSTOpener .divLoginContent .divLogin h1.login{
        display:none;
    }

    .SSTOpener .divLoginContent .divLogin .inputLoginBtn{
        float:none;
        margin:10px auto 10px auto;
        font-size: 15px !important;
    }

    .SSTOpener .divLoginContent .divLogin a{
        float:none;
        font-size: 13px !important;
        text-align:center;
    }

        .SSTOpener .divLoginContent .divLogin a.signUp{
            margin:15px auto 0 auto;
            width:250px;
        }

    .SSTOpener .divLoginContent .divOr{
        float:none;
        margin:65px auto 0 auto;
        width:90%;
        height:2px;
        border-bottom:1px solid #f2f2f2;
    }

    .SSTOpener .divLoginContent .spanOr{
        top:-6px;
        left:50%;
        margin-left:-45px;
        padding:0 20px 0 20px;
        background-color:#fff;
    }

    .SSTOpener .divLoginContent .divSocialIcons{
        float:none;
        width:90%;
        margin:53px auto 0 auto;
    }

    .SSTOpener .divLoginContent .divSocialIcons .aSocialIcon{
        margin:0 auto 10px auto;
    }



    

    .SSTOpener .divMemberA,
    .SSTOpener .divMemberB,
    .SSTOpener .divMemberC{
        float:none;
        margin:auto !important;
        width:90%;
    }

    .SSTOpener .divNewMemberContent .input{
        float:none;
        margin:0 auto 10px auto;
        width:100% !important;
    }

    .SSTOpener h1.login{
        display:none;
    }

    .SSTOpener .divMemberB select{
        margin-bottom:10px !important;
    }

    .SSTOpener .divMemberD{
        float:none;
        margin:20px auto 0 auto !important;
        width:250px;
    }

    .SSTOpener .divMemberD .inputBtn{
        float:none;
        width:150px !important;
        margin-left:10px;
    }

    .SSTOpener .divMemberD label{
        float:none;
        margin-left:18px;
    }

    .SSTOpener .divNewMemberContent .contShopping{
        display: block;
        margin:auto;
    }





    /* basket */
    .SSTOpener .divBasketContent{
        margin:auto;
        width:100%;
    }

    .SSTOpener .divBasketContent .divBasketDetails{
        float:none;
        margin:25px auto 0 auto;
        width:90%;
    
        height: auto;
        max-height: none;
}


.SSTOpener .divBasketContent .divBasketDetails .basketDetailsScroller {
    max-height: none;
}

    .SSTOpener .divBasketContent .divBasketItemHeaders {
        display: none;
    }

    .SSTOpener .divItem .imgItemPic {
        max-width: 60px;
    }

    .SSTOpener .divItem .divDescription {
        padding-right: 0;
    }

    .SSTOpener .divItem .divDescription .divQuantity,
    .SSTOpener .divItem .divDescription .divTotalPrice {
        min-height: initial;
    }

    .SSTOpener .divItem .divDescription .divInfo{
        width:100%;
        padding-right:20px;
    }

    .SSTOpener .divItem .divDescription .divInfo div.content {
        padding: 5px 0 10px 0;
        min-width: 150px;
        max-width: 260px;
        text-align: left;
    }

    .SSTOpener .divItem .divDescription .divQuantity{
        display:inline-block;
        width:auto;
    }

    .SSTOpener .divItem .divDescription .divQuantity span{
        margin:initial;
    }

    .SSTOpener .divItem .divDescription .divQuantity span.spanMobilePrice{
        display:inline-block;
        padding-left:3px;
    }

    .SSTOpener .divItem .divDescription .divTotalPrice{
        float:right;
        display:inline-block;
        width:auto;
        margin:0;
        padding:0;
    }

    .SSTOpener .divItem .divDescription .divTotalPrice div.content {
        width:100%;
        margin:0;
        padding:0;
        text-align: right;
    }

    .SSTOpener .divItem .divDescription .aDelete {
        top:10px;
    }

    .SSTOpener div.separator.sepA {
        padding: 20px 0 0 0;
        margin: 0 0 20px 0;
    }

    .SSTOpener .divBasketContent .divTotal{
        float:none;
    }

    .SSTOpener .divBasketContent .divTotal table{
        float:none;
        margin:0 auto 0 auto;
        width:90%;
    }

        .SSTOpener .divBasketContent .divTotal table tr td.left{
            text-align:left;
        }

    .SSTOpener .divBasketContent .divTotal .divPaymentButton{
        float:none;
        margin:40px auto 0 auto;
        width:90%;
        text-align:center;
    }

    .SSTOpener .divBasketContent .divTotal .divPaymentButton .contShopping{
        float:none;
        margin:5px auto 20px auto;
    }

    .SSTOpener .divBasketContent .divTotal .divPaymentButton .btnCompleteOrder{
        float:none;
        width:200px;
    }
}

@media all and (min-width: 701px) and (max-width: 1018px) {
   .SSTOpener{
        bottom:0;
        height:auto;
        background-color:#fff;
    }

    .SSTOpener .divSearchContent{
        width:670px;
        position: relative;
    }

    .SSTOpener.divUserOpener{
        padding:0 0 30px 0;
    }

    .SSTOpener .divLoginContent,
    .SSTOpener .divNewMemberContent{
        width:100%;
    }

    .SSTOpener .openerHeader{
       display:block;
       margin-bottom: 40px;
    }

    .SSTOpener h1.login{
        display:none;
    }

    .SSTOpener .divLoginContent .divLogin{
        float:none;
        margin:auto;
        width:455px;
    }

    .SSTOpener .input{
        height:52px !important;
        font-size: 13px !important;
        text-align:center;
    }

    .SSTOpener .divLoginContent .divLogin .inputLoginBtn{
        float:none;
        margin:20px 0 20px 85px;
        width:200px;
        font-size: 15px !important;
    }

    .SSTOpener .divLoginContent .divLogin a{
        float:none;
        font-size: 13px !important;
        text-align:center;
    }

        .SSTOpener .divLoginContent .divLogin a.signUp{
            margin:auto;
            width:250px;
        }


    .SSTOpener .divLoginContent .divOr{
        float:none;
        margin:65px auto 0 auto;
        width:670px;
        height:2px;
        border-bottom:1px solid #f2f2f2;
    }

    .SSTOpener .divLoginContent .spanOr{
        top:-6px;
        left:50%;
        margin-left:-45px;
        padding:0 20px 0 20px;
        background-color:#fff;
    }


    .SSTOpener .divLoginContent .divSocialIcons{
        float:none;
        margin:60px auto 0 auto;

    }

    .SSTOpener .divLoginContent .divSocialIcons .aSocialIcon{
        margin:0 auto 10px auto;
    }





    .SSTOpener .divMemberA,
    .SSTOpener .divMemberB,
    .SSTOpener .divMemberC{
        float:none;
        margin:auto !important;
        width:455px;
    }

    .SSTOpener .divMemberD{
        float:none;
        margin:50px auto 0 auto !important;
        width:300px;
    }

    .SSTOpener .divNewMemberContent .input{
        float:left;
        width:100% !important;
        margin:0 10px 10px 0;
    }

    .SSTOpener .divMemberD .inputBtn{
        float:none;
        width:225px;
        height:15px;
    }

    .SSTOpener .divMemberD label{
        float:none;
        margin-left:40px;
    }

    .SSTOpener .divNewMemberContent .contShopping{
        display: block;
        margin:auto;
    }







    /* basket */
    .SSTOpener .divBasketContent{
        width:670px;
        padding-bottom: 20px;
    }

    .SSTOpener .divBasketContent .divBasketDetails{
        float:none;
        width:100%;
    }

    .SSTOpener .divBasketContent .divBasketItemHeaders .header2{
        float:left;
        margin-left:28px;
        width:148px;
    }

    .SSTOpener .divItem .divDescription .divQuantity{
        width:65px;
    }

    .SSTOpener .divItem .divDescription .divTotalPrice div.content {
        text-align: center;
    }


}

@media all and (min-width: 1019px) and (max-width: 1434px) {
    .SSTOpener .divLoginContent,
    .SSTOpener .divNewMemberContent,
    .SSTOpener .divBasketContent,
    .SSTOpener .divSearchContent{
        width:960px;
    }

    #userOpenerInnerDivPassword {
        top:60px;
    }

    .SSTOpener .divLoginContent .divOr{
        margin:37px 0 0 135px;
    }

    .SSTOpener .divLoginContent .divSocialIcons{
        width:340px;
    }




    
    .SSTOpener .divMemberD{
        width:205px;
    }

    .SSTOpener .divMemberD .inputBtn{
        width:130px;
    }

}

@media all and (min-width: 1435px) {
    .SSTOpener .divLoginContent,
    .SSTOpener .divNewMemberContent,
    .SSTOpener .divSearchContent{
        width:1080px;
    }
}
