
.sixtythreeOpener{
    position:fixed;
    z-index:18;
    width:100%;
    height:376px;
    overflow: visible;
    background-color:#ececef;
}

.sixtythreeOpener.member{
    height:auto;
}

.sixtythreeOpener .openerHeader {
    height: 100px;
    line-height: 100px;
    background-color: #f0f0f0;
    text-align: center;
    display:none;
}

.sixtythreeOpener .divLoginContent,
.sixtythreeOpener .divNewMemberContent{
    margin:45px auto 0 auto;
}

.sixtythreeOpener .divLogin{
    float:left;
    width:350px;
}





.sixtythreeOpener h1.login{
    padding:0 0 15px 20px;
    margin-bottom:30px;
    border-bottom:1px solid #d9d9db;
}

.sixtythreeOpener .divLoginContent .divLogin .input{
    margin-bottom:10px;
}

.sixtythreeOpener .divLoginContent .divLogin button{
    float:left;
    margin-left:0px;
}

.sixtythreeOpener .divLoginContent .divLogin a{
    float:right;
}

.sixtythreeOpener .divLoginContent .divLogin a.signUp{
    margin-top:8px;
}

.sixtythreeOpener .divLoginContent .divLogin a.forgotPassword{
    margin-top:10px;
    color:#b1b1b3;
}




.sixtythreeOpener .divLoginContent .divOr{
    float:left;
    margin:37px 0 0 160px;
    height:180px;
    border-left:2px solid #d9d9db;
}

.sixtythreeOpener .divLoginContent .spanOr{
    position:absolute;
    left:-23px;
    top:63px;
    padding:20px 0 20px 0;
    background-color:#ececef;
}



/* login social icons */
.sixtythreeOpener .divLoginContent .divSocialIcons{
    float:right;
    width:400px;
    margin-top:53px;
}

.sixtythreeOpener .divLoginContent .divSocialIcons .aSocialIcon{
    width:224px;
    height:42px;
    margin-bottom:10px;
}

.sixtythreeOpener .divLoginContent .divSocialIcons .aSocialIcon.facebook{
    background-color:#0b66af;
}

.sixtythreeOpener .divLoginContent .divSocialIcons .aSocialIcon.facebook img{
    margin:11px 0 0 31px;
}

.sixtythreeOpener .divLoginContent .divSocialIcons .aSocialIcon.twitter{
    background-color:#26b1df;
}

.sixtythreeOpener .divLoginContent .divSocialIcons .aSocialIcon.twitter img{
    margin-top:13px;
}

.sixtythreeOpener .divLoginContent .divSocialIcons .aSocialIcon.instagram{
    background-color:#61534e;
}

.sixtythreeOpener .divLoginContent .divSocialIcons .aSocialIcon.instagram img{
    margin-top:10px;
}

.sixtythreeOpener .divLoginContent .divSocialIcons .aSocialIcon img{
    float:left;
    margin-left:25px;
}

.sixtythreeOpener .divLoginContent .divSocialIcons .aSocialIcon span{
    position:absolute;
    left:62px;
    height:100%;
    padding-top:15px;
}
/* end - login social icons */





/* NEW MEMBER */


.sixtythreeOpener .divMemberA{
    float:left;
    width:720px;
}

.sixtythreeOpener .divMemberB{
    float:left;
    width:720px;
}

.sixtythreeOpener .divMemberC{
    float:left;
    width:720px;
}

.sixtythreeOpener .divMemberD{
    float:right;
    margin-top:-109px;
    width:250px;
}

.sixtythreeOpener .divNewMemberContent .input{
    float:left;
    width:350px !important;
    margin:0 10px 10px 0;
}

.sixtythreeOpener .divMemberD button{
    float:left;
    width:175px;
}

.sixtythreeOpener .divMemberD label{
    float:left;
    margin-left:-4px;
}

.sixtythreeOpener .divNewMemberContent .contShopping{
    padding-left:10px;
    width:150px;
}

.sixtythreeOpener .divNewMemberContent .separator.line{
    margin: 0 0 5px 0;
    padding-top:25px;
    border-bottom:1px solid #d9d9db;
}
/* END - NEW MEMBER */






#basket{
    display:none;
}







/* Screen */
@media all and (max-width: 700px) {
    .sixtythreeOpener .openerHeader{
        height:75px;
        line-height:80px;
    
        display: block;
        margin-bottom: 30px;
}

    .sixtythreeOpener .openerHeader.login{
       display:block;
    
       margin-bottom: 30px;
}

    .sixtythreeOpener{
        bottom:0;
        height:auto;
        overflow: auto;
        background-color:#fff;
    }

    .sixtythreeOpener .divLoginContent,
    .sixtythreeOpener .divNewMemberContent{
        position: relative;
        top: 0px;
        bottom:0;
        margin-top: 0px;
        padding: 0px 0 30px 0;
        width:100%;
        overflow:auto;
    }

    .sixtythreeOpener .divLoginContent .divLogin{
        float:none;
        width:90%;
        margin:auto;
        text-align:center;
    }

    .sixtythreeOpener .divLoginContent .divLogin h1.login{
        display:none;
    }

    .sixtythreeOpener .divLoginContent .divLogin button{
        float:none;
        margin:10px auto 10px auto;
        font-size: 15px !important;
    }

    .sixtythreeOpener .divLoginContent .divLogin a{
        float:none;
    }

    .sixtythreeOpener .divLoginContent .divOr{
        float:none;
        margin:65px auto 0 auto;
        width:90%;
        height:2px;
        border-bottom:1px solid #f2f2f2;
    }

    .sixtythreeOpener .divLoginContent .spanOr{
        top:-6px;
        left:50%;
        margin-left:-45px;
        padding:0 20px 0 20px;
        background-color:#fff;
    }

    .sixtythreeOpener .divLoginContent .divSocialIcons{
        float:none;
        width:90%;
        margin:53px auto 0 auto;
    }

    .sixtythreeOpener .divLoginContent .divSocialIcons .aSocialIcon{
        margin:0 auto 10px auto;
    }





    .sixtythreeOpener .divMemberA,
    .sixtythreeOpener .divMemberB,
    .sixtythreeOpener .divMemberC{
        float:none;
        margin:auto !important;
        width:90%;
    }

    .sixtythreeOpener h1.login{
        display:none;
    }

    .sixtythreeOpener .divMemberD{
        float:none;
        margin:20px auto 0 auto !important;
        width:90%;
        text-align:center;
    }

    .sixtythreeOpener .divNewMemberContent .input{
        float:left;
        width:100% !important;
        margin:0 10px 10px 0;
    }

    .sixtythreeOpener .divMemberD button{
        float:none;
        width:150px;
        height:15px;
    }

    .sixtythreeOpener .divMemberD label{
        float:none;
        margin-left:-4px;
    }

    .sixtythreeOpener .divNewMemberContent .contShopping,
    .sixtythreeOpener .divNewMemberContent .separator.line{
        display: block;
    
        position: relative;
        top: -15px;
}


}

@media all and (min-width: 701px) and (max-width: 1018px) {
    .sixtythreeOpener .openerHeader.login{
       display:block;
    
       margin-bottom: 40px;
}

    .sixtythreeOpener{
        bottom:0;
        height:auto;
        overflow: auto;
        background-color:#fff;
    }

    .sixtythreeOpener .divLoginContent,
    .sixtythreeOpener .divNewMemberContent{
        width:670px;
    
        padding-bottom: 20px;
}


    .sixtythreeOpener .divLoginContent .divLogin{
        float:none;
        margin:auto;
        width:455px;
    }

    

    .sixtythreeOpener .input{
        height:52px !important;
        font-size: 13px !important;
        text-align:center;
    }

    .sixtythreeOpener .divLoginContent .divLogin button{
        float:none;
        margin:20px 0 20px 85px;
        width:200px;
        font-size: 15px !important;
    }

    .sixtythreeOpener .divLoginContent .divLogin a{
        float:none;
        font-size: 13px !important;
        text-align:center;
    }


    .sixtythreeOpener .divLoginContent .divOr{
        float:none;
        margin:65px 0 0 0;
        width:100%;
        height:2px;
        border-bottom:1px solid #f2f2f2;
    }

    .sixtythreeOpener .divLoginContent .spanOr{
        top:-6px;
        left:50%;
        margin-left:-45px;
        padding:0 20px 0 20px;
        background-color:#fff;
    }


    .sixtythreeOpener .divLoginContent .divSocialIcons{
        float:none;
        margin:60px auto 0 auto;
    }

    .sixtythreeOpener .divLoginContent .divSocialIcons .aSocialIcon{
        margin:0 auto 10px auto;
    }





    .sixtythreeOpener .divMemberA,
    .sixtythreeOpener .divMemberB,
    .sixtythreeOpener .divMemberC{
        float:none;
        margin:auto !important;
        width:455px;
    }

    .sixtythreeOpener h1.login{
        display:none;
    }

    .sixtythreeOpener .divMemberD{
        float:none;
        margin:50px auto 0 auto !important;
        width:300px;
        text-align:center;
    }

    .sixtythreeOpener .divNewMemberContent .input{
        float:left;
        width:100% !important;
        margin:0 10px 10px 0;
    }

    .sixtythreeOpener .divMemberD button{
        float:none;
        width:225px;
        height:15px;
    }

    .sixtythreeOpener .divMemberD label{
        float:none;
        margin-left:-4px;
    }

    .sixtythreeOpener .divNewMemberContent .contShopping,
    .sixtythreeOpener .divNewMemberContent .separator.line{
        display:none;
    }



}

@media all and (min-width: 1019px) and (max-width: 1434px) {
    .sixtythreeOpener .divLoginContent,
    .sixtythreeOpener .divNewMemberContent{
        width:960px;
    }

    .sixtythreeOpener .divLoginContent .divOr{
        margin:37px 0 0 135px;
    }

    .sixtythreeOpener .divLoginContent .divSocialIcons{
        width:340px;
    }




    
    .sixtythreeOpener .divMemberD{
        width:205px;
    }

    .sixtythreeOpener .divMemberD button{
        width:130px;
    }

}

@media all and (min-width: 1435px) {
    .sixtythreeOpener .divLoginContent,
    .sixtythreeOpener .divNewMemberContent{
        width:1080px;
    }

}
