
#payment{
    margin:50px auto 0 auto;
}

#address{
    float:left;
    width:674px;
}

#address .divAddress,
#address .divPayment{
    float:left;
    padding:26px 0 0 40px;
    width:50%;
    height:246px;
    background-color:#4b4d63;
    border-bottom:10px solid #6d6e89;
    cursor:pointer;
}

#address .divAddress .homeAddress{
    margin:30px 0 5px 0;
}

#address .divAddress h3{
    display:inline-block;
}

#address .aNumber{
    display:inline-block;
}

#address .divAddress .number{
    display:inline-block;
    margin-left:5px;
    color:#f2f2f2;
}

#address .divAddress p{
    width:290px;
    margin-top:20px;
}

#address .divAddress .edit{
    margin-top: 15px;
    padding-top: 15px;
    display: block;
    width: 140px;
    height: 30px;
    cursor: pointer;
}




/* ÖDEME SEÇENEKLERİ */
#address .divPayment{
    float:right;
    height:236px;
    background-color:#f8f8f9;
    border-bottom:0;
}

#address .divPayment h2{
    color:#cacaca;
}

#address .divPayment p{
    margin-top:30px;
}




/* CONTENT KISMI */
#address .divContent{
    width:100%;
    padding:0 40px 50px 40px;
    background-color:#fff;
    border:1px solid #e5e5e5;
}



/* ADRES İÇERİK KISMI */
#address .divContent .divAddressContent{
    width:100%;
}

#address .divContent .divAddressContent .divAddressText {
    float:left;
}

        
#address .divContent .divAddressContent h3{
    padding:40px 0 0 0;
}

#address .divContent .divAddressContent .pDescription{
    width:350px;
    margin: 20px 0 10px 0;
}

#address .divContent .divAddressContent .saveBtn{
    float:right;
    margin:33px 0 0 0;
}




/* OPTION KISMI */
#address .divContent .divAddressContent .divAddressOption,
#address .divContent .divAddressContent .divWirePaymentOption{
    float:left;
    margin-right: 8px;
    padding-left:15px;
    width:286px;
    height:200px;
    background-color:#fff;
    border:1px solid #f2f2f2;
}

#address .divContent .active{
    background-color:#f2f2f2 !important;
    border:1px solid #f8f8f8;
}

#address .divContent .divAddressContent label{
    margin-top:10px;
}

#address .divContent .divAddressContent .divAddressOption h4.name,
#address .divContent .divWirePaymentOption h4.name{
    display:inline-block;
    margin:20px 0 0 34px;
}

#address .divContent .divAddressContent .divAddressOption .number,
#address .divContent .divWirePaymentOption .number{
    display:inline-block;
    margin:0;
}

#address .divContent .divAddressContent .divAddressOption p,
#address .divContent .divWirePaymentOption p{
    margin:15px 0 0 35px;
    width:200px;
    line-height:15px;
}
      
#address .divContent .divAddressContent a.icon{
    float:right;
    margin:25px 20px 0 0;
}

#address .divContent .divAddressContent a.icon img{
    float:left;
    margin:2px 6px 0 0;
}






#address .divContent .saveBtnA{
    float:right;
    margin-top:40px;
}
    




/* PAYMENT İÇERİK */
#address .divContent .divPaymentContent{
    width:100%;
}

#address .divContent .divPaymentContent .divPaymentText{
    float:left;
    margin:40px 0 0 0;
}

#address .divContent .divPaymentContent .divPaymentText .pDescription{
    width:300px;
    margin:20px 0 35px 0;
}

#address .divContent .divPaymentContent .aInstallments{
    float:right;
    margin-top:50px;
    text-decoration:underline;
}




#address .divContent .divPaymentContent .divCartName{
    width:388px;
    margin-bottom: 10px;
    margin-top: 60px;
}

#address .divContent .divPaymentContent .divCartNumber{
    width:100%;
    margin-bottom:25px;
}

#address .divContent .divPaymentContent .divCartNumber .divBankCard{
    position:absolute;
    top: -100px;
    left: 0;
}

#address .divContent .divPaymentContent .divCartNumber .divBankCard img{
    float:left;
    margin-left:8px;
}

#address .divContent .divPaymentContent .divExpirationDate span,
#address .divContent .divPaymentContent .divSecurity span{
    display:block;
    margin-bottom:10px;
    padding-left:20px;
}

#address .divContent .divPaymentContent .divSecurity span{
    padding-left:0;
}

#address .divContent .divPaymentContent .divExpirationDate{
    float:left;
    width:250px;
}

#address .divContent .divPaymentContent .divExpirationDate .selectExpirationDate{
    float:left;
    margin-right:10px;
    width:80px !important;
    height:45px !important;
    background-position: 60px center;
}

#address .divContent .divPaymentContent .divSecurity{
    float:left;
    width:140px;
}

#address .divContent .divPaymentContent .divSecurity .inputSecurity{
    width:100% !important;
    height:45px !important;
    margin-top: 20px;
}

#address .divContent .divPaymentContent .divPay{
    float:left;
    margin-top:70px;
    width:260px;
}

#address .divContent .divPaymentContent .divPay .paymentBtn{
    padding:13px 80px;
}

#address .divContent .divPaymentContent .divPay label{
    float:left;
    margin-top:20px;
    padding-left:25px;
}

#address .divContent .divPaymentContent .divPay label .input{
    position:absolute;
    top:-3px;
    left:-2px;
}

#address .divContent .divPaymentContent .divPay label a{
    display:inline-block;
    text-decoration:underline;
    color:#000;
}





    






#orderSummary{
    float:right;
    width:374px;
}

#orderSummary h3.order{
    margin-top:30px;
    text-align:center;
}

#orderSummary table{
    width:100%;
}

#orderSummary table tr td{
    padding:20px 0 20px 0;
    border-bottom:1px solid #ededed;
    text-align:left;
    vertical-align:middle;
}

#orderSummary table tr td.tdImg{
    width:90px;
}

#orderSummary table tr td.tdImg img{
    width:90px;
    height:auto;
    border: 5px solid #fff;
    box-shadow: 0 0 10px #ccc;
}
            
#orderSummary table tr td.tdDescription{
    padding-left:20px;
}

#orderSummary table tr td.tdDescription h4.productName{
    line-height:18px;
}

#orderSummary table tr td.tdDescription h5.subName{
    margin-top:5px;
}



#orderSummary table tr td div{
    margin-top:10px;
}

#orderSummary table tr td div .spanPrice{
    float:left;
    color:#000;
}

#orderSummary table tr td div .spanTime{
    float:right;
    color:#000;
}



#orderSummary .divSubTotal{
    width:100%;
    margin-top:20px;
    padding-bottom:10px;
    border-bottom:1px solid #4b4b4b;
}

#orderSummary .divSubTotal span{
    display:block;
    color:#000;
    margin-bottom:8px;
}

#orderSummary .divSubTotal .divLeft{
    float:left;
    text-align:left;
}

#orderSummary .divSubTotal .divRight{
    float:right;
    text-align:right;
}

#orderSummary .divSubTotal .divRight .price{
    font-size:14px;
}

    

#orderSummary .divTotal{
    margin-top:30px;
    text-align:center;
}

#orderSummary .divTotal p.date{
    margin-top:10px;
}

#orderSummary .divDiscount{
    margin-top:45px;
    padding:30px 5% 0 5%;
    width:100%;
    height:154px;
    background-color:#fafafa;
    text-align:center;
}

#orderSummary .divDiscount .discount{
    margin:auto;
    width:250px;
}

#orderSummary .divDiscount .divDiscountInput {
    margin-top: 20px;
    width: 100% !important;
}

#orderSummary .divDiscount .divDiscountInput input[type=text] {
    width: 100% !important;
    padding-right: 50px !important;
}

#orderSummary .divDiscount .divDiscountInput input[type=image] {
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    height: 29px;
    padding: 10px 17px 10px 0;
    margin-top: -15px;
    opacity: 0.3;
    transition: all 0.5s;
}

#orderSummary .divDiscount .divDiscountInput input[type=image]:hover {
    opacity: 1;
}

#orderSummary .divDiscount .text{
    width:100% !important;
    margin-top:15px;
}




/* SAYFAYI DİNAMİK YAPACAK CLASS TANIMLAMALARI */

#payment.adressInfo .divAddress{
    float: left;
    padding: 26px 0 0 40px;
    width: 50%;
    height: 246px;
    background-color: #4b4d63;
    border-bottom: 10px solid #6d6e89;
    cursor: pointer;
    transition: all 0.7s;
}
    #payment.adressInfo .divAddress h2 {
        color: white;
    }
    #payment.adressInfo .divAddress p {
        color: #f2f2f2
    }

#payment.paymentOptions .divPayment{
    float: left;
    padding: 26px 0 0 40px;
    width: 50%;
    height: 246px;
    background-color: #4b4d63;
    border-bottom: 10px solid #6d6e89;
    cursor: pointer;
    transition: all 0.7s;
}

    #payment.adressInfo .divAddress h2 {
        color: white;
    }

    #payment.adressInfo .divAddress p {
        color: #f2f2f2
    }


#payment.paymentOptions .divAddress{
    float: left;
    padding: 26px 0 0 40px;
    width: 50%;
    height: 236px;
    background-color: #f8f8f9;
    cursor: pointer;
    border-bottom: 0px;
    transition: all 0.7s;
}
     #payment.paymentOptions .divAddress h2,
     #payment.paymentOptions .divAddress .homeAddress,
     #payment.paymentOptions .divAddress h3,
     #payment.paymentOptions .divAddress .aNumber span{
        color:#cacaca;
    }



.divBillingAddress {
    margin-top: 0px !important;
}


.divAddressOption {
    transition:all 0.5s;
}
.addBtn.addingNewAddress {
    float: right;
}
.floatRight {
    margin-left: 5px;
}

.floatLeft {
    margin-right: 5px;
}
/* END - SAYFAYI DİNAMİK YAPACAK CLASS TANIMLAMALARI */




/* YENİ ADRES EKLEME FORMU */
.divAddNewAddress input[type="text"], 
select{
    float: left;
    margin-top: 10px;
    width: 291px;
}

textarea {
    float: left;
    width: calc(100%);
    margin-top: 10px;
    margin-left: 10px;
}

.divContent a.cancelAddingNewAddress{
    display: table;
    float: left;    
    margin-top: 28px;
}

#payment .innerPaymentMakeVisible {
    display: block;
}

/* END - YENİ ADRES EKLEME FORMU */


/*ÖDEME SEÇENEKLERİ LİSTESİ */
.paymentOptions {
    height:40px;
    margin-bottom:30px
}

.divPaymentContent .paymentOptions .singlePaymentOption {
    display:block;
    float:left;
    min-width:130px;
    height:40px;
    line-height:45px;
    text-align:center;
    background-color:#f0f0f0;
    margin-left:1px;
    padding-left:20px;
    padding-right:20px;
    cursor: pointer;
    transition:all 0.3s;
}

.divPaymentContent .paymentOptions .singlePaymentOption.activeOption {
    background-color: #F8F8F8;
    color: rgb(163, 163, 163);
    border-bottom: 3px solid #6d6e89;
} 

.divPaymentContent .paymentOptions .singlePaymentOption img {
    height: 50%;
    top: 29%;
    margin: 0 auto;
}

.activePayment {
    display: block;
}




#payment .divContent .divPaymentContent .divWirePaymentOption {
    transition: all 0.3s;
}

#payment .divContent .divPaymentContent .divWirePaymentOption label{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 4;
}
#payment .divContent .divPaymentContent .divWirePaymentOption img {
    width: 60%;
    margin: 20px;
}
#payment .divContent .divPaymentContent .divWirePaymentOption h4 {
    margin-top: 5px;
    margin-left: 20px;
    width: 75%;
    line-height: 15px;
}

#payment .divContent .divPaymentContent .divWirePaymentOption input[type="radio"] {
    left: 5px;
    top: 5px;
}

#payment .divContent .divPaymentContent .optionBox.paypalOption p, 
#payment .divContent .divPaymentContent .optionBox.bkmexpressOption p{
    width: 70%;
    float: left;
    padding: 10px;
}
#payment .divContent .divPaymentContent .optionBox.paypalOption p a, 
#payment .divContent .divPaymentContent .optionBox.bkmexpressOption p a{
    display: inline;
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

#payment .divContent .divPaymentContent .optionBox.paypalOption img, 
#payment .divContent .divPaymentContent .optionBox.bkmexpressOption img{
    width: 25%;
    float: left;
    margin: 14px;
}
#payment .divContent .divPaymentContent .optionBox.paypalOption .paypalButton, 
#payment .divContent .divPaymentContent .optionBox.bkmexpressOption .bkmButton{
    margin: 10px;
    margin-top: 20px;
    width: 120px;
}
/* END - ÖDEME SEÇENEKLERİ LİSTESİ */




/* KREDİ KARTI TABLOSI */

#paymentCreditCard table{
    margin:30px 0 0 0;
    float: left;
}

#paymentCreditCard table tr td{
    color:#000;
    font-size:12px;
    font-weight:600;
    text-align:left;
    vertical-align:middle;
}

#paymentCreditCard table tr .tdCards img {
    display:block;
    float:left;
    margin-right:10px;
    margin-top:0;
}

#paymentCreditCard table tr td > input.styleB{
    width:200px;
}

#paymentCreditCard table tr td.cvc{
    padding-left:20px;
}

#paymentCreditCard table tr td.cvc input.styleB{
    width:30px;
}

#paymentCreditCard table select.styleA{
    width: 60px;
    background-position:85% center;
    float:left;
}

#paymentCreditCard table tr td .divCvc{
    width:20px;
    height:16px;
    border-radius:20px;
    background-color:#a3a3a3;
    font-family:Arial;
    color:#fff;
    font-size:13px;
    text-align:center;
    padding-top:4px;
    margin-left:10px;
    cursor:pointer;
}

#paymentCreditCard img{
    width:85px;
    margin-top:15px;
}

#paymentCreditCard .tableInstalment tr:first-child{
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
}

#paymentCreditCard .tableInstalment tr th{
    width:150px;
    color:#cacaca;
    font-size:12px;
    letter-spacing:1px;
    font-weight:600;
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
}

#paymentCreditCard .tableInstalment tr td{
    letter-spacing:1px;
    color:#a3a3a3;
    font-size:12px;
    padding-top:13px;
    transition:all 0.5s;
    -webkit-transition:all 0.5s;
}

#paymentCreditCard .tableInstalment tr:hover td{
    color:#000;
}

#paymentCreditCard .tableInstalment tr td:nth-child(2),
#paymentCreditCard .tableInstalment tr td:nth-child(3){
    text-align:center;
}
/* END - KREDİ KARTI TABLOSU */





/* GENEL YAPIYA EKLEMELER */

.addressNewOrSaved {
    margin-bottom: 20px;
}

.optionBox.creditCardOption .cardLogo {
    position: absolute;
    left: 400px;
    top: 66px;
    width: 100px;
}
#address .divContent .divAddressContent .addressNewOrSavedInvoice label{
    margin-bottom:20px
}
#address .divContent .divAddressContent .addressNewOrSavedInvoice label:last-child{
    margin-left: 30px;
}


#address .divContent .divAddressContent .addressNewOrSaved label{
}
#address .divContent .divAddressContent .addressNewOrSaved label:last-child{
    margin-left: 30px;
}
.demandPhoneNumber {
    margin-top: 25px;
    
    padding-bottom: 15px;
    border-bottom: 1px solid #f0f0f0;
}
.demandPhoneNumber p {
    margin-top: 0px;
    border-top: 1px solid #f0f0f0;
    padding-top: 20px;
}
.demandPhoneNumber input[type="text"] {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sendToSomeoneElse {
    padding-bottom: 20px;
    
    border-bottom: 1px solid #f0f0f0;
}
.sendToSomeoneElseDetails {
    margin-top: 15px;
}
.sendToSomeoneElseDetails p {
    margin-bottom: 5px;
}
.sendToSomeoneElseDetails input[type="text"] {
    margin-bottom: 15px;
}
.orderDetailNotes textarea{
    margin-top:30px;
}

.giftNoteThis {
    margin-left:20px;
}

/* END GENEL YAPIYA EKLEMELER */








/* Screen */
@media all and (max-width: 400px) {
    #address{
        float:none;
        width:100%;
    }

    #address .divAddress,
    #address .divPayment{
       display:none;
    }

    #address .divContent{
        padding:0 0 50px 0;
        border:0;
    }

    #address .divContent .divAddressContent{
        margin:auto;
        width:90%;
        border:1px solid #f00;
    }

    #address .divContent .divAddressContent h3{
        padding:0;
    }

    #address .divContent .divAddressContent .divAddressText{
        width:100%;
        margin:0;
    }

    #address .divContent .divAddressContent .pDescription{
        width:90%;
        margin:10px 0 50px 0;
    }

    #address .divContent .divAddressContent .saveBtn{
        display:none;
    }




    #address .divContent .divAddressContent .divAddressOption,
    #address .divContent .divAddressContent .divWirePaymentOption{
        float:none;
        padding:0 10px 0 10px;
        margin-bottom:20px;
        width:100%;
        height:200px;
        border:1px solid #f00;
    }

    #address .divContent .divAddressContent .divAddressOption h4.name,
    #address .divContent .divAddressContent .divWirePaymentOption h4.name{
        margin:10px 0 0 0;
    }

    #address .divContent .divAddressContent .divAddressOption p,
    #address .divContent .divAddressContent .divWirePaymentOption p{
        margin:20px 0 0 0;
        width:95%;
    }

    #address .divContent .divAddressContent a.icon{
        margin:20px 10px 0 0;
        border:1px solid #f00;
    }

    #address .divContent .divAddressContent a.icon img{
        margin:1px 6px 0 0;
    }

    #address .divContent .saveBtnA{
        width:100%;
    }




    #address .divContent .divPaymentContent{
        margin:auto;
        width:90%;
    }

    #address .divContent .divPaymentContent .divPaymentText{
        float:none;
        width:100%;
        border:1px solid #000;
    }

    #address .divContent .divPaymentContent .pDescription{
        width:90% !important;
        margin:10px 0 35px 0 !important;
    }

    #address .divContent .divPaymentContent .aInstallments{
        float:none;
        margin:0 0 40px 0;
    }

    #address .divContent .divPaymentContent .divCartName{
        width:100% !important;
    }

    #address .divContent .divPaymentContent .inputCart{
        width:100% !important;
    }

    #address .divContent .divPaymentContent .divCartNumber .divBankCard{
        position:relative;
        margin:0 0 40px 0;
    }

    #address .divContent .divPaymentContent .divCartNumber .divBankCard img{
        margin:10px 0 0 8px;
        width:auto;
    }

    #address .divContent .divPaymentContent .divExpirationDate{
        margin:0 0 20px 0;
        width:200px !important;
    }

    #address .divContent .divPaymentContent .divSecurity{
        width:80px;
    }

    #address .divContent .divPaymentContent .divExpirationDate span,
    #address .divContent .divPaymentContent .divSecurity span{
        padding-left:0;
    }

    #address .divContent .divPaymentContent .divPay{
        float:left;
        margin:40px auto 0 auto !important;
        width:100% !important;
    }

    #address .divContent .divPaymentContent .divPay .paymentBtn{
        margin-left:auto !important;
        width:100%;
        text-align:center;
    }

    #address .divContent .divPaymentContent .divPay label{
        width:100%;
    }



    #orderSummary{
        display:none;
    }

    /* YENİ ADRES EKLEME FORMU */
    .divAddNewAddress input[type="text"], select{
        float: left;
        margin-top: 10px;
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    textarea {
        float: left;
        width: 100%;
        margin-top: 10px;
        margin-left: 10px;
    }
    .addBtn.addingNewAddress {
        width: 100%;
        margin-top: 25px;
    }
    .addBtn.cancelAddingAddress {
        margin-top: 20px;
    }
    /* END - YENİ ADRES EKLEME FORMU */


}

@media all and (min-width: 401px) and (max-width: 700px) {
    #address{
        float:none;
        width:100%;
    }

    #address .divAddress,
    #address .divPayment{
       display:none;
   }

    #address .divAddress .homeAddress,
    #address .divAddress h3,
    #address .divAddress .number,
    #address .divAddress p,
    #address .divAddress .edit,
    #address .divPayment p{
        display:none;
    }

    #address .divContent{
        padding:0 0 50px 0;
    }

    #address .divContent .divAddressContent{
        margin:auto;
        width:90%;
    }

    #address .divContent .divAddressContent .divAddressText{
        width:100%;
        margin:0;
    }

    #address .divContent .divAddressContent .pDescription{
        width:90%;
        margin:10px 0 50px 0;
    }

    #address .divContent .divAddressContent .saveBtn{
        display:none;
    }




    #address .divContent .divAddressContent .divAddressOption{
        float:none;
        padding:0 10px 0 10px;
        margin-bottom:20px;
        width:100%;
        height:200px;
    }

    #address .divContent .divAddressContent .divAddressOption h4.name{
        margin:10px 0 0 0;
    }

    #address .divContent .divAddressContent .divAddressOption p{
        margin:20px 0 0 0;
        width:95%;
    }

    #address .divContent .divAddressContent a.icon{
        margin:20px 10px 0 0;
    }

    #address .divContent .divAddressContent a.icon img{
        margin:1px 6px 0 0;
    }

    #address .divContent .saveBtnA{
        width:100%;
    }

    #address .divContent .divAddressContent .divBillingAddressOption{
        margin:50px 0 0 0;
    }



    #address .divContent .divPaymentContent{
        margin:auto;
        width:90%;
    }

    #address .divContent .divPaymentContent .divPaymentText{
        float:none;
        width:100%;
    }

    #address .divContent .divPaymentContent .pDescription{
        width:90% !important;
        margin:10px 0 35px 0 !important;
    }

    #address .divContent .divPaymentContent .aInstallments{
        float:none;
        margin:0 0 40px 0;
    }

    #address .divContent .divPaymentContent .divCartName{
        width:100% !important;
    }

    #address .divContent .divPaymentContent .inputCart{
        width:100% !important;
    }

    #address .divContent .divPaymentContent .divCartNumber .divBankCard{
        position:relative;
        margin:0 0 40px 0;
    }

    #address .divContent .divPaymentContent .divCartNumber .divBankCard img{
        margin:10px 0 0 8px;
        width:auto;
    }

    #address .divContent .divPaymentContent .divExpirationDate{
        float:none;
        margin:0 0 20px 0;
        width:100%;
    }

    #address .divContent .divPaymentContent .divSecurity{
        float:none;
        width:80px
    }

    #address .divContent .divPaymentContent .divExpirationDate span,
    #address .divContent .divPaymentContent .divSecurity span{
        padding-left:0;
    }

    #address .divContent .divPaymentContent .divPay{
        float:left;
        margin:70px auto 0 auto !important;
        width:100% !important;
    }

    #address .divContent .divPaymentContent .divPay .paymentBtn{
        margin-left:auto !important;
        width:100%;
        text-align:center;
    }

    #address .divContent .divPaymentContent .divPay label{
        width:100%;
    }



    #orderSummary{
        display:none;
    }

    /* YENİ ADRES EKLEME FORMU */
    .divAddNewAddress input[type="text"], select{
        float: left;
        margin-top: 10px;
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    textarea {
        float: left;
        width: calc(100%);
        margin-top: 10px;
        margin-left: 10px;
    }
    .addBtn.addingNewAddress {
        float: none;
        margin: auto;
        margin-top: 50px;
    }
    /* END - YENİ ADRES EKLEME FORMU */

}

@media all and (min-width: 701px) and (max-width: 1018px) {
    #payment{
        width:670px;
    }

    #address{
        float:none;
        width:100%;
    }

    #address .divContent{
        padding:0 30px 50px 30px;
    }

    #address .divContent .divAddressContent .divAddressOption{
        width:296px;
    }

    #address .divContent .saveBtnA{
        margin-left:35px;
    }

    #orderSummary{
        display:none;
    }

    /* YENİ ADRES EKLEME FORMU */
    .divAddNewAddress input[type="text"], 
    select{
        float: left;
        margin-top: 10px;
        width: 299px;
    }

    textarea {
        float: left;
        width: calc(100%);
        margin-top: 10px;
        margin-left: 10px;
    }
    /* END - YENİ ADRES EKLEME FORMU */

}

@media all and (min-width: 1019px) and (max-width: 1434px) {
    #payment{
        width:960px;
    }

    #orderSummary{
        width:270px;
    }

        #orderSummary table tr td.tdImg{
            width:80px;
        }

            #orderSummary table tr td.tdImg img{
                width:80px;
            }

        #orderSummary table tr td.tdDescription{
            padding-left:15px;
        }
}

@media all and (min-width: 1435px) {
    #payment{
        width:1080px;
    }
}