section.sixtyThreeOverlay {
	display: block;
	position: fixed;
	z-index: 10000;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition:opacity 0.5s;
}

section.sixtyThreeOverlay.noDisplay {
	display: none !important; 
}

section.sixtyThreeOverlay.zoomWindow {
	background-color: rgba(255,255,255,0.95);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	-o-align-items:center;
	align-items:center;
}
section.sixtyThreeOverlay.demoWindow {
	background-color: rgba(255,255,255,0.95);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	-o-align-items:center;
	align-items:center;
}

section.sixtyThreeOverlay.zoomWindow .zoomedArtworkImageContainer {
	width: 100%;
	padding: 100px;
	text-align: center;
}
section.sixtyThreeOverlay.zoomWindow .zoomedArtworkImageContainer .zoomedArtworkImageActual {
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}

/***********************/

section.sixtyThreeOverlay.demoWindow .demoArtworkImageContainer {
	width: 100%;
	height: 100%;
	padding: 20px;
	text-align: center;
}
section.sixtyThreeOverlay.demoWindow .demoArtworkImageContainer .demoSingleArtworkImageContainer {
	width: 100%;
	margin: 0 auto;
}
section.sixtyThreeOverlay.demoWindow .demoArtworkImageContainer .demoSingleArtworkImageContainer.small {
	height: 25%;
}
section.sixtyThreeOverlay.demoWindow .demoArtworkImageContainer .demoSingleArtworkImageContainer img {
	width: 100%;
	max-height: 100%;
	margin: 0 auto;
}
section.sixtyThreeOverlay.demoWindow .demoArtworkImageContainer .demoSingleArtworkImageContainer.small img {
	height: 100%;
	width: auto;
	position: absolute;
	top: -282%;
	left: 4%;
}




/**************************/
.closeWindow {
	position: absolute;
	right: 30px;
	top: 30px;
	cursor: pointer;
}




/* Screen */
@media all and (max-width: 400px) {
	section.sixtyThreeOverlay.zoomWindow .zoomedArtworkImageContainer  {
		width: 100%;
		padding: 5%;
		text-align: center;
	}
	.closeWindow {
		width: 100%;
		height: 100%;
		opacity: 0;
	}	
}

@media all and (min-width: 401px) and (max-width: 700px) {
	section.sixtyThreeOverlay.zoomWindow .zoomedArtworkImageContainer  {
		width: 100%;
		padding: 5%;
		text-align: center;
	}
	.zoomWindow .closeWindow {
		width: 100%;
		height: 100%;
		opacity: 0;
	}	
}

@media all and (min-width: 701px) and (max-width: 1018px) {
	section.sixtyThreeOverlay.zoomWindow .zoomedArtworkImageContainer  {
		width: 100%;
		padding: 5%;
		text-align: center;
	}
	.zoomWindow .closeWindow {
		width: 100%;
		height: 100%;
		opacity: 0;
	}	
}

@media all and (min-width: 1019px) and (max-width: 1275px) {

}

@media all and (min-width: 1276px) and (max-width: 1434px) {
}

@media all and (min-width: 1435px) {
}
