
#welcomeAccount{
    margin:0 auto 0 auto;
    padding-top:70px;
    text-align:center;
}

#welcomeAccount h1.name{
    display:inline-block;
}

#welcomeAccount p{
    margin:30px auto 0 auto;
    width:600px;
    line-height:19px;
    text-align:center;
}


#welcomeAccount .divAccount{
    margin:40px auto 0 auto;
    width:915px;
}

#welcomeAccount .divAccount .divAcountItem{
    float:left;
    margin-right:25px;
    width:210px;
    height:350px;
    cursor:pointer;
}

#divContact.divAcountItem{
    margin-right:0 !important;
}

#welcomeAccount .divAccount .divIcon{
    width:100%;
    height:210px;
    background-color:#f2f2f2;
    border-radius:50%;
    border:12px solid #f2f2f2;
}

#welcomeAccount .divAccount .divIcon img{
    display:inline-block;
}



#divAccountDetails .divIcon img{
    margin-top:43px;
}

#divOrder .divIcon img{
    margin-top:56px;
}

#divServices .divIcon img{
    margin-top:43px;
}

#divContact .divIcon img{
    margin-top:55px;
}



#welcomeAccount .divAccount .divIcon img.white{
    position:absolute;
    opacity:0;
}

#divAccountDetails .divIcon img.white{
    left:53px;
    margin-top:43px;
}

#divOrder .divIcon img.white{
    left:48px;
    margin-top:56px;
}

#divServices .divIcon img.white{
    left:60px;
    margin-top:43px;
}

#divContact .divIcon img.white{
    left:55px;
    margin-top:55px;
}


#welcomeAccount .divAccount .divAcountItem .aHeader{
    display:inline-block;
    margin:35px 0 25px 0;
}

#welcomeAccount .divAccount .divAcountItem .aSubHeader{
    margin-bottom:8px;
}

#welcomeAccount .divAccount .divAcountItem .aSubHeader img{
    display:none;
}











/* Screen */
@media all and (max-width: 700px) {
    #welcomeAccount{
        width:100%;
        padding-top:25px;
        text-align:left;
    }

    #welcomeAccount h1.name{
        margin-left:22px;
        font-size:24px;
    }

    #welcomeAccount h1.name span{
        display:block;
        color:#999999;
        font-size:14px;
        margin-bottom:5px;
    }

    #welcomeAccount p{
        margin:20px 0 0 0;
        padding:0 10px 0 22px;
        width:100%;
        text-align:left;
    }

    #welcomeAccount .divAccount{
        margin:33px auto 0 auto;
        width:100%;
    }

    #welcomeAccount .divAccount .divAcountItem{
        float:none;
        margin-right:0;
        width:100%;
        height:auto;
    }

    #divAccountDetails{
        background-color:#5e5f79;
    }

    #divOrder{
        background-color:#6e6f86;
    }

    #divServices{
        background-color:#7e7f94;
    }

    #divContact{
        background-color:#8e8fa1;
    }

    #welcomeAccount .divAccount .divAcountItem .aHeader{
        position:absolute;
        top:0;
        left:0;
        padding-top:25px;
        padding-left:88px;
        margin:0;
        width:100%;
        height:100%;
        line-height:20px;
        text-align:left;
    }

    #welcomeAccount .divAccount .divAcountItem .aHeader h3{
        color:#d7d7dd;
    }

    #welcomeAccount .divAccount .divAccountSubMenu{
        height:0;
        background-color:#fff;
        overflow:hidden;
        transition:height 0.5s;
        -webkit-transform:translate3d(0px,0px,0px);
        -moz-transform:translate3d(0px,0px,0px);
        -ms-transform:translate3d(0px,0px,0px);
        -o-transform:translate3d(0px,0px,0px);
        transform:translate3d(0px,0px,0px);
    }

    #welcomeAccount .divAccount .divAccountSubMenu .aSubHeader{
        margin:0;
        padding:20px 0 18px 88px;
        text-align:left;
        border-bottom:1px solid #f2f2f2;
        opacity:0;
        transition:opacity 0.2s, transform 0.4s;
        -webkit-transform:translate3d(0px,0px,0px);
        -moz-transform:translate3d(0px,0px,0px);
        -ms-transform:translate3d(0px,0px,0px);
        -o-transform:translate3d(0px,0px,0px);
        transform:translate3d(0px,0px,0px);
    }

    #welcomeAccount .divAccount div.activeSubMenu .divAccountSubMenu .aSubHeader{
        opacity:1;
        -webkit-transform:translate3d(0px,0px,0px);
        -moz-transform:translate3d(0px,0px,0px);
        -ms-transform:translate3d(0px,0px,0px);
        -o-transform:translate3d(0px,0px,0px);
        transform:translate3d(0px,0px,0px);
    }

    #welcomeAccount .divAccount .divAcountItem .divIcon img{
        transition:opacity 0.5s;
    }

    #welcomeAccount .divAccount div.activeSubMenu img.white{
        left:0 !important;
        opacity:1;
    }

    #welcomeAccount .divAccount .divAcountItem .aSubHeader img{
        display:block;
        position:absolute;
        left:70px;
        margin-top:1px;
    }

    #welcomeAccount .divAccount .divIcon{
        height:70px;
        border-radius:0;
        background-color:transparent;
        border:0;
    }

    #welcomeAccount .divAccount .divIcon img{
        float:left;
    }


    #divAccountDetails .divIcon img{
        margin-top:20px;
        margin-left:34px;
        width:24px;
        height:29px;
    }

    #divOrder .divIcon img{
        margin-top:22px;
        margin-left:28px;
        width:31px;
        height:27px;
    }

    #divServices .divIcon img{
        margin-top:16px;
        margin-left:33px;
        width:26px;
        height:35px;
    }

    #divContact .divIcon img{
        margin-top:22px;
        margin-left:35px;
        width:27px;
        height:28px;
    }

     #welcomeAccount .divAccount .divIcon img.white{
         left:0 !important;
     }

     #divAccountDetails .divIcon img.white{
        margin-top:20px;
    }

    #divOrder .divIcon img.white{
        margin-top:22px;
    }

    #divServices .divIcon img.white{
        margin-top:16px;
    }

    #divContact .divIcon img.white{
        margin-top:22px;
    }
}

@media all and (min-width: 701px) and (max-width: 1018px) {
    #welcomeAccount{
        padding-top:60px;
        width:670px;
    }

    #welcomeAccount .divAccount{
        width:100%;
    }

    #welcomeAccount .divAccount .divAcountItem{
        width:200px;
        height:330px;
    }

    #divAccountDetails{
        margin-right:45px;
        margin-bottom:20px;
        margin-left:100px;
    }

    #divOrder{
        margin-bottom:20px;
    }

    #divServices{
        clear:left;
        margin-left:100px;
        margin-right:45px !important;
    }

    #welcomeAccount .divAccount .divIcon{
        height:200px;
        transition:background-color 0.5s, border 0.5s;
    }

    #welcomeAccount .divAccount .divAcountItem:hover .divIcon{
        background-color:#62637b;
        border:12px solid #6d6e89;
    }

    #welcomeAccount .divAccount img{
        transition:opacity 0.5s;
    }

    #welcomeAccount .divAccount .divAcountItem:hover img.purple{
        opacity:0;
    }

    #welcomeAccount .divAccount .divAcountItem:hover img.white{
        opacity:1;
    }


    #divAccountDetails .divIcon img{
        margin-top:38px;
    }

    #divOrder .divIcon img{
        margin-top:51px;
    }

    #divServices .divIcon img{
        margin-top:38px;
    }

    #divContact .divIcon img{
        margin-top:50px;
    }

    #divAccountDetails .divIcon img.white{
        left:48px;
        margin-top:38px;
    }

    #divOrder .divIcon img.white{
        left:43px;
        margin-top:51px;
    }

    #divServices .divIcon img.white{
        left:55px;
        margin-top:38px;
    }

    #divContact .divIcon img.white{
        left:50px;
        margin-top:50px;
    }



    #welcomeAccount .divAccount .divAcountItem .aHeader{
        margin:25px 0 15px 0;
    }

    #welcomeAccount .divAccount .divAcountItem .aSubHeader{
        margin-bottom:8px;
    }
}

@media all and (min-width: 1019px) and (max-width: 1434px) {
    #welcomeAccount{
        width:960px;
    }

    #welcomeAccount .divAccount .divIcon{
        transition:background-color 0.5s, border 0.5s;
    }

    #welcomeAccount .divAccount .divAcountItem:hover .divIcon{
        background-color:#62637b;
        border:12px solid #6d6e89;
    }

    #welcomeAccount .divAccount .divIcon img{
        transition:opacity 0.5s;
    }

    #welcomeAccount .divAccount .divAcountItem:hover img.purple{
        opacity:0;
    }

    #welcomeAccount .divAccount .divAcountItem:hover img.white{
        opacity:1;
    }
}

@media all and (min-width: 1435px) {
    #welcomeAccount {
        width:1080px;
    }

    #welcomeAccount .divAccount .divIcon{
        transition:background-color 0.5s, border 0.5s;
    }

    #welcomeAccount .divAccount .divAcountItem:hover .divIcon{
        background-color:#62637b;
        border:12px solid #6d6e89;
    }

    #welcomeAccount .divAccount .divIcon img{
        transition:opacity 0.5s;
    }

    #welcomeAccount .divAccount .divAcountItem:hover img.purple{
        opacity:0;
    }

    #welcomeAccount .divAccount .divAcountItem:hover img.white{
        opacity:1;
    }
}
