

/* login */
#login{
    padding: 0px 0 100px 0;
    padding-top: 0px;
}

#login.member{
    height:auto;
}

#pageHeader {
    margin-bottom:50px;
}

#login .openerHeader {
    height: 100px;
    line-height: 100px;
    background-color: #f0f0f0;
    text-align: center;
    display:none;
}

#login .divLoginContent,
#login .divSignUpContent{
    margin: 0px auto 0 auto;
    padding-top: 0px;
}


#login .divLogin{
    float:left;
    width:350px;
    margin-top: 55px;
}

#login h1.login{
    padding: 0 0 15px 0px;
    margin-bottom:30px;
    border-bottom:1px solid #d9d9db;
}

#login .divLoginContent .divLogin .input{
    margin-bottom:10px;
}

#login .divLoginContent .divLogin .inputLoginBtn{
    float:left;
    margin-left:0;
}

#login .divLoginContent .divLogin a{
    float:right;
    text-align:right;
}

    #login .divLoginContent .divLogin a.signUp{
        margin-top:8px;
        width:140px;
    }

    #login .divLoginContent .divLogin a.forgotPassword{
        margin-top:10px;
        color:#b1b1b3;
    }




#login .divLoginContent .divOr{
    float:left;
    margin:37px 0 0 160px;
    height:180px;
    border-left: 1px solid rgba(0,0,0,0.25);
}

#login .divLoginContent .spanOr{
    position:absolute;
    left:-23px;
    top:63px;
    padding:20px 0 20px 0;
    background-color: white;
}



/* login social icons */
#login .divLoginContent .divSocialIcons{
    float:right;
    width:400px;
    margin-top: 51px;
}

#login .divLoginContent .divSocialIcons .aSocialIcon{
    width:224px;
    height:42px;
    margin-bottom: 14px;
}

#login .divLoginContent .divSocialIcons .aSocialIcon.facebook{
    background-color:#0b66af;
}

#login .divLoginContent .divSocialIcons .aSocialIcon.facebook img{
    margin:11px 0 0 31px;
}

#login .divLoginContent .divSocialIcons .aSocialIcon.twitter{
    background-color:#26b1df;
}

#login .divLoginContent .divSocialIcons .aSocialIcon.twitter img{
    margin-top:13px;
}

#login .divLoginContent .divSocialIcons .aSocialIcon.instagram{
    background-color:#61534e;
}

#login .divLoginContent .divSocialIcons .aSocialIcon.instagram img{
    margin-top:10px;
}

#login .divLoginContent .divSocialIcons .aSocialIcon img{
    float:left;
    margin-left:25px;
}

#login .divLoginContent .divSocialIcons .aSocialIcon span{
    position:absolute;
    left:62px;
    height:100%;
    padding-top:15px;
}
/* end - login social icons */





/* NEW MEMBER */
#login .divMemberA{
    float:left;
    width: 100%;
    padding-top: 0px;
}

#login .divMemberB{
    float:left;
    width:720px;
}

#login .divMemberC{
    float:left;
    width:720px;
    margin-bottom: 30px;
}

#login .divMemberD{
    float: left;
    width:255px;
    margin-left: 364px;
}

#divSignUpWrapper .divMemberD{
}

#login .divSignUpContent .input{
    float:left;
    width:350px !important;
    margin:0 10px 10px 0;
}

#login .divMemberD .inputBtn{
    float:left;
    width:125px;
}

#login .divMemberD label{
    float:left;
    margin-left:-4px;
    width:210px;
}

    #login .divMemberD label a {
        position:absolute;
        top:16px;
        width:100%;
    }

#login .divSignUpContent .contShopping{
    padding-left:10px;
    float: left;
    width: 140px;
    margin-top: 8px;
}

#forgotPasswordWrapper .contShopping{
    padding-left:10px;
    float: left;
    width: 110px !important;
    margin-top: -8px !important;
}

#login .divSignUpContent .separator.line{
    margin: 0 0 5px 0;
    padding-top:25px;
}
/* END - NEW MEMBER */



    .forgotPasswordDescription {
        margin-bottom:20px;
        padding:0px;
        text-align:center;
    }



    #forgotPasswordWrapper .divMemberD{
    width: 202px;
    margin-top: -82px !important;
    display: block;
    margin-left: 38px !important;
}


/*PASSWORD RESET PAGE */
#login #userOpenerInnerDivPassword{
    display: block;
    opacity: 1;
    -webkit-transform: scale(1);
} 
/* END - PASSWORD RESET PAGE */




/* Screen */
@media all and (max-width: 700px) {
    #login{
        bottom:0;
        height:auto;
        overflow: auto;
        background-color:#fff;
    
        padding-top: 0px !important;
}

    #login .divSearchContent{
        width:90%;
    }

    #login .openerHeader{
        display:block;
        margin-bottom: 30px;
        height:75px;
        line-height:80px;
    }

    #login.divUserOpener{
        padding:0;
    }

    #login .divLoginContent,
    #login .divSignUpContent{
        position: relative;
        top:0;
        bottom:0;
        margin-top: 0;
        padding: 0px 0 30px 0;
        width:100%;
        overflow:auto;
    }

    #login .divLoginContent .divLogin{
        float:none;
        width:90%;
        margin:auto;
        text-align:center;
    }

    #login .divLoginContent .divLogin h1.login{
        display:none;
    }

    #login .divLoginContent .divLogin .inputLoginBtn{
        float:none;
        margin: 25px auto 25px auto;
        font-size: 15px !important;
    }

    #login .divLoginContent .divLogin a{
        float:none;
        font-size: 13px !important;
        margin-top: 13px;
        text-align:center;
    }

        #login .divLoginContent .divLogin a.signUp{
            margin:15px auto 0 auto;
            width:250px;
        }

    #login .divLoginContent .divOr{
        float:none;
        margin:65px auto 0 auto;
        width:90%;
        height:2px;
        border-bottom:1px solid #f2f2f2;
    }

    #login .divLoginContent .spanOr{
        top:-6px;
        left:50%;
        margin-left:-45px;
        padding:0 20px 0 20px;
        background-color:#fff;
    }

    #login .divLoginContent .divSocialIcons{
        float:none;
        width:90%;
        margin:53px auto 0 auto;
    }

    #login .divLoginContent .divSocialIcons .aSocialIcon{
        margin:0 auto 10px auto;
    }



    

    #login .divMemberA,
    #login .divMemberB,
    #login .divMemberC{
        float:none;
        margin:auto !important;
        width:90%;
    }

    #login .divSignUpContent .input{
        float:none;
        margin:0 auto 10px auto;
        width:100% !important;
    }

    #login h1.login{
        display:none;
    }

    #login .divMemberB select{
        margin-bottom:10px !important;
    }

    #login .divMemberD{
        float:none;
        margin: 35px auto 0 auto !important;
        width:250px;
    }

    #login .divMemberD .inputBtn{
        float:none;
        width:150px !important;
        margin-left:10px;
    }

    #login .divMemberD label{
        float:none;
        margin-left:18px;
    }

    #login .divSignUpContent .contShopping{
        display: block;
        margin:auto;
    
        top: 0px;
}

    #forgotPasswordWrapper .contShopping {
        top: -79px;
    }



    /* basket */
    #login .divBasketContent{
        margin:auto;
        width:100%;
    }

    #login .divBasketContent .divBasketDetails{
        float:none;
        margin:25px auto 0 auto;
        width:90%;
    
        height: auto;
        max-height: none;
}


#login .divBasketContent .divBasketDetails .basketDetailsScroller {
    max-height: none;
}

    #login .divBasketContent .divBasketItemHeaders {
        display: none;
    }

    #login .divItem .imgItemPic {
        max-width: 60px;
    }

    #login .divItem .divDescription {
        padding-right: 0;
    }

    #login .divItem .divDescription .divQuantity,
    #login .divItem .divDescription .divTotalPrice {
        min-height: initial;
    }

    #login .divItem .divDescription .divInfo{
        width:100%;
        padding-right:20px;
    }

    #login .divItem .divDescription .divInfo div.content {
        padding: 5px 0 10px 0;
        min-width: 150px;
        max-width: 260px;
        text-align: left;
    }

    #login .divItem .divDescription .divQuantity{
        display:inline-block;
        width:auto;
    }

    #login .divItem .divDescription .divQuantity span{
        margin:initial;
    }

    #login .divItem .divDescription .divQuantity span.spanMobilePrice{
        display:inline-block;
        padding-left:3px;
    }

    #login .divItem .divDescription .divTotalPrice{
        float:right;
        display:inline-block;
        width:auto;
        margin:0;
        padding:0;
    }

    #login .divItem .divDescription .divTotalPrice div.content {
        width:100%;
        margin:0;
        padding:0;
        text-align: right;
    }

    #login .divItem .divDescription .aDelete {
        top:10px;
    }

    #login div.separator.sepA {
        padding: 20px 0 0 0;
        margin: 0 0 20px 0;
    }

    #login .divBasketContent .divTotal{
        float:none;
    }

    #login .divBasketContent .divTotal table{
        float:none;
        margin:0 auto 0 auto;
        width:90%;
    }

        #login .divBasketContent .divTotal table tr td.left{
            text-align:left;
        }

    #login .divBasketContent .divTotal .divPaymentButton{
        float:none;
        margin:40px auto 0 auto;
        width:90%;
        text-align:center;
    }

    #login .divBasketContent .divTotal .divPaymentButton .contShopping{
        float:none;
        margin:5px auto 20px auto;
    }
    #login .divSignUpContent .contShopping{
        display: block;
        margin:auto;
        position: absolute;
        left: 5%;
        margin-left: -6px;
        top: 24px;
    }

    #login .divSignUpContent .contShopping span{
        display: none;
    }

    #login .divBasketContent .divTotal .divPaymentButton .btnCompleteOrder{
        float:none;
        width:200px;
    }
}

@media all and (min-width: 701px) and (max-width: 1018px) {
   #login{
        bottom:0;
        height:auto;
        background-color:#fff;
    
        padding-top: 0px !important;
}

    #login .divSearchContent{
        width:670px;
        position: relative;
    }

    #login.divUserOpener{
        padding:0 0 30px 0;
    }

    #login .divLoginContent,
    #login .divSignUpContent{
        width:100%;
    }

    #login .openerHeader{
       display:block;
       margin-bottom: 35px;
    }

    #login h1.login{
        display:none;
    }

    #login .divLoginContent .divLogin{
        float:none;
        margin:auto;
        width:455px;
    }

    #login .input{
        height:52px !important;
        font-size: 13px !important;
        text-align: left;
    }

    #login .divLoginContent .divLogin .inputLoginBtn{
        float:none;
        margin:20px 0 20px 85px;
        width:200px;
        font-size: 15px !important;
    }

    #login .divLoginContent .divLogin a{
        float:none;
        font-size: 13px !important;
        text-align:center;
    }

        #login .divLoginContent .divLogin a.signUp{
            margin:auto;
            width:250px;
        }


    #login .divLoginContent .divOr{
        float:none;
        margin:65px auto 0 auto;
        width:670px;
        height:2px;
        border-bottom:1px solid #f2f2f2;
    }

    #login .divLoginContent .spanOr{
        top:-6px;
        left:50%;
        margin-left:-45px;
        padding:0 20px 0 20px;
        background-color:#fff;
    }


    #login .divLoginContent .divSocialIcons{
        float:none;
        margin:60px auto 0 auto;

    }

    #login .divLoginContent .divSocialIcons .aSocialIcon{
        margin:0 auto 10px auto;
    }


    #forgotPasswordWrapper .contShopping {
        top:-100px;
    }

    #login .divMemberA,
    #login .divMemberB,
    #login .divMemberC{
        float:none;
        margin:auto !important;
        width:455px;
    }

    #login .divMemberD{
        float:none;
        margin: 50px auto 0 auto !important;
        width: 303px !important;
    }

    #login .divSignUpContent .input{
        float:left;
        width:100% !important;
        margin:0 10px 10px 0;
    }

    #login .divMemberD .inputBtn{
        float:none;
        width:225px;
        height:15px;
    }

    #login .divMemberD label{
        float:none;
        margin-left:40px;
    }

    #login .divSignUpContent .contShopping{
        display: block;
        margin:auto;
    
        position: absolute;
        left: 50%;
        margin-left: -345px;
        top: 36px;
    }







    /* basket */
    #login .divBasketContent{
        width:670px;
        padding-bottom: 20px;
    }

    #login .divBasketContent .divBasketDetails{
        float:none;
        width:100%;
    }

    #login .divBasketContent .divBasketItemHeaders .header2{
        float:left;
        margin-left:28px;
        width:148px;
    }

    #login .divItem .divDescription .divQuantity{
        width:65px;
    }

    #login .divItem .divDescription .divTotalPrice div.content {
        text-align: center;
    }


}

@media all and (min-width: 1019px) and (max-width: 1434px) {
    #login .divLoginContent,
    #login .divSignUpContent{
        width:960px;
    
        top: 0px;
    }
    #login .divLoginContent {
        padding-top: 0px;
    
        height: 245px;
}

    #divSignUpWrapper {
    padding-top: 0px;
    top: 0px;
    }

    #login .divLoginContent .divOr{
        margin:37px 0 0 135px;
    }

    #login .divLoginContent .divSocialIcons{
        width:340px;
    }




    
    #login .divMemberD{
        width: 431px;
    
    
        margin-left: 138px;
        margin-top: -4px;
}

    #login .divMemberD .inputBtn{
        width:130px;
    
    
        float: right;
}

    .forgotPasswordDescription {
        text-align: left;
        width:600px;
    }

    .forgotPasswordWrapper .divMemberD {

    }


}

@media all and (min-width: 1435px) {
    #login .divLoginContent,
    #login .divSignUpContent,
    #login .divSearchContent{
        width:1080px;
    
        top: 0px;
}

    .forgotPasswordDescription {
        text-align: left;
        width:600px;
    }

    .forgotPasswordWrapper .divMemberD {
        
    }
}
