

/* login */
.loginPage.divUserOpener{
    padding: 50px 0 100px 0;
}

.loginPage.member{
    height:auto;
}

.loginPage .openerHeader {
    height: 100px;
    line-height: 100px;
    background-color: #f0f0f0;
    text-align: center;
    display:none;
}

.loginPage .divLoginContent,
.loginPage .divNewMemberContent{
    margin: 0px auto 0 auto;
}


.loginPage .divLogin{
    float:left;
    width:350px;
}

.loginPage h1.login{
    padding: 0 0 15px 0px;
    margin-bottom:30px;
    border-bottom:1px solid #d9d9db;
}

.loginPage .divLoginContent .divLogin .input{
    margin-bottom:10px;
}

.loginPage .divLoginContent .divLogin .inputLoginBtn{
    float:left;
    margin-left:0;
}

.loginPage .divLoginContent .divLogin a{
    float:right;
    text-align:right;
}

    .loginPage .divLoginContent .divLogin a.signUp{
        margin-top:8px;
        width:140px;
    }

    .loginPage .divLoginContent .divLogin a.forgotPassword{
        margin-top:10px;
        color:#b1b1b3;
    }




.loginPage .divLoginContent .divOr{
    float:left;
    margin:37px 0 0 160px;
    height:180px;
    border-left: 1px solid #000;
}

.loginPage .divLoginContent .spanOr{
    position:absolute;
    left:-23px;
    top:63px;
    padding:20px 0 20px 0;
    background-color: white;
}



/* login social icons */
.loginPage .divLoginContent .divSocialIcons{
    float:right;
    width:400px;
    margin-top:53px;
}

.loginPage .divLoginContent .divSocialIcons .aSocialIcon{
    width:224px;
    height:42px;
    margin-bottom:10px;
}

.loginPage .divLoginContent .divSocialIcons .aSocialIcon.facebook{
    background-color:#0b66af;
}

.loginPage .divLoginContent .divSocialIcons .aSocialIcon.facebook img{
    margin:11px 0 0 31px;
}

.loginPage .divLoginContent .divSocialIcons .aSocialIcon.twitter{
    background-color:#26b1df;
}

.loginPage .divLoginContent .divSocialIcons .aSocialIcon.twitter img{
    margin-top:13px;
}

.loginPage .divLoginContent .divSocialIcons .aSocialIcon.instagram{
    background-color:#61534e;
}

.loginPage .divLoginContent .divSocialIcons .aSocialIcon.instagram img{
    margin-top:10px;
}

.loginPage .divLoginContent .divSocialIcons .aSocialIcon img{
    float:left;
    margin-left:25px;
}

.loginPage .divLoginContent .divSocialIcons .aSocialIcon span{
    position:absolute;
    left:62px;
    height:100%;
    padding-top:15px;
}
/* end - login social icons */





/* NEW MEMBER */
.loginPage .divMemberA{
    float:left;
    width: 960px;
    padding-top: 0px;
}

.loginPage .divMemberB{
    float:left;
    width:720px;
}

.loginPage .divMemberC{
    float:left;
    width:720px;
}

.loginPage .divMemberD{
    float:right;
    margin-top:-109px;
    width:255px;
}

.loginPage .divNewMemberContent .input{
    float:left;
    width:350px !important;
    margin:0 10px 10px 0;
}

.loginPage .divMemberD .inputBtn{
    float:left;
    width:125px;
}

.loginPage .divMemberD label{
    float:left;
    margin-left:-4px;
    width:210px;
}

    .loginPage .divMemberD label a {
        position:absolute;
        top:16px;
        width:100%;
    }

.loginPage .divNewMemberContent .contShopping{
    padding-left:10px;
    width: 140px;
    top: 20px;
}

.loginPage .divNewMemberContent .separator.line{
    margin: 0 0 5px 0;
    padding-top:25px;
}
/* END - NEW MEMBER */






/*PASSWORD RESET PAGE */
.loginPage #userOpenerInnerDivPassword{
    display: block;
    opacity: 1;
    -webkit-transform: scale(1);
} 
/* END - PASSWORD RESET PAGE */




/* Screen */
@media all and (max-width: 700px) {
    .loginPage{
        bottom:0;
        height:auto;
        overflow: auto;
        background-color:#fff;
    }

    .loginPage .divSearchContent{
        width:90%;
    }

    .loginPage .openerHeader{
        display:block;
        margin-bottom: 30px;
        height:75px;
        line-height:80px;
    }

    .loginPage.divUserOpener{
        padding:0;
    }

    .loginPage .divLoginContent,
    .loginPage .divNewMemberContent{
        position: relative;
        top:0;
        bottom:0;
        margin-top: 0;
        padding: 0px 0 30px 0;
        width:100%;
        overflow:auto;
    }

    .loginPage .divLoginContent .divLogin{
        float:none;
        width:90%;
        margin:auto;
        text-align:center;
    }

    .loginPage .divLoginContent .divLogin h1.login{
        display:none;
    }

    .loginPage .divLoginContent .divLogin .inputLoginBtn{
        float:none;
        margin:10px auto 10px auto;
        font-size: 15px !important;
    }

    .loginPage .divLoginContent .divLogin a{
        float:none;
        font-size: 13px !important;
        text-align:center;
    }

        .loginPage .divLoginContent .divLogin a.signUp{
            margin:15px auto 0 auto;
            width:250px;
        }

    .loginPage .divLoginContent .divOr{
        float:none;
        margin:65px auto 0 auto;
        width:90%;
        height:2px;
        border-bottom:1px solid #f2f2f2;
    }

    .loginPage .divLoginContent .spanOr{
        top:-6px;
        left:50%;
        margin-left:-45px;
        padding:0 20px 0 20px;
        background-color:#fff;
    }

    .loginPage .divLoginContent .divSocialIcons{
        float:none;
        width:90%;
        margin:53px auto 0 auto;
    }

    .loginPage .divLoginContent .divSocialIcons .aSocialIcon{
        margin:0 auto 10px auto;
    }



    

    .loginPage .divMemberA,
    .loginPage .divMemberB,
    .loginPage .divMemberC{
        float:none;
        margin:auto !important;
        width:90%;
    }

    .loginPage .divNewMemberContent .input{
        float:none;
        margin:0 auto 10px auto;
        width:100% !important;
    }

    .loginPage h1.login{
        display:none;
    }

    .loginPage .divMemberB select{
        margin-bottom:10px !important;
    }

    .loginPage .divMemberD{
        float:none;
        margin: 35px auto 0 auto !important;
        width:250px;
    }

    .loginPage .divMemberD .inputBtn{
        float:none;
        width:150px !important;
        margin-left:10px;
    }

    .loginPage .divMemberD label{
        float:none;
        margin-left:18px;
    }

    .loginPage .divNewMemberContent .contShopping{
        display: block;
        margin:auto;
    
        top: 0px;
}





    /* basket */
    .loginPage .divBasketContent{
        margin:auto;
        width:100%;
    }

    .loginPage .divBasketContent .divBasketDetails{
        float:none;
        margin:25px auto 0 auto;
        width:90%;
    
        height: auto;
        max-height: none;
}


.loginPage .divBasketContent .divBasketDetails .basketDetailsScroller {
    max-height: none;
}

    .loginPage .divBasketContent .divBasketItemHeaders {
        display: none;
    }

    .loginPage .divItem .imgItemPic {
        max-width: 60px;
    }

    .loginPage .divItem .divDescription {
        padding-right: 0;
    }

    .loginPage .divItem .divDescription .divQuantity,
    .loginPage .divItem .divDescription .divTotalPrice {
        min-height: initial;
    }

    .loginPage .divItem .divDescription .divInfo{
        width:100%;
        padding-right:20px;
    }

    .loginPage .divItem .divDescription .divInfo div.content {
        padding: 5px 0 10px 0;
        min-width: 150px;
        max-width: 260px;
        text-align: left;
    }

    .loginPage .divItem .divDescription .divQuantity{
        display:inline-block;
        width:auto;
    }

    .loginPage .divItem .divDescription .divQuantity span{
        margin:initial;
    }

    .loginPage .divItem .divDescription .divQuantity span.spanMobilePrice{
        display:inline-block;
        padding-left:3px;
    }

    .loginPage .divItem .divDescription .divTotalPrice{
        float:right;
        display:inline-block;
        width:auto;
        margin:0;
        padding:0;
    }

    .loginPage .divItem .divDescription .divTotalPrice div.content {
        width:100%;
        margin:0;
        padding:0;
        text-align: right;
    }

    .loginPage .divItem .divDescription .aDelete {
        top:10px;
    }

    .loginPage div.separator.sepA {
        padding: 20px 0 0 0;
        margin: 0 0 20px 0;
    }

    .loginPage .divBasketContent .divTotal{
        float:none;
    }

    .loginPage .divBasketContent .divTotal table{
        float:none;
        margin:0 auto 0 auto;
        width:90%;
    }

        .loginPage .divBasketContent .divTotal table tr td.left{
            text-align:left;
        }

    .loginPage .divBasketContent .divTotal .divPaymentButton{
        float:none;
        margin:40px auto 0 auto;
        width:90%;
        text-align:center;
    }

    .loginPage .divBasketContent .divTotal .divPaymentButton .contShopping{
        float:none;
        margin:5px auto 20px auto;
    }
    .loginPage .divNewMemberContent .contShopping{
        display: block;
        margin:auto;
        position: absolute;
        left: 5%;
        margin-left: -6px;
        top: 24px;
    }

    .loginPage .divNewMemberContent .contShopping span{
        display: none;
    }

    .loginPage .divBasketContent .divTotal .divPaymentButton .btnCompleteOrder{
        float:none;
        width:200px;
    }
}

@media all and (min-width: 701px) and (max-width: 1018px) {
   .loginPage{
        bottom:0;
        height:auto;
        background-color:#fff;
    }

    .loginPage .divSearchContent{
        width:670px;
        position: relative;
    }

    .loginPage.divUserOpener{
        padding:0 0 30px 0;
    }

    .loginPage .divLoginContent,
    .loginPage .divNewMemberContent{
        width:100%;
    }

    .loginPage .openerHeader{
       display:block;
       margin-bottom: 35px;
    }

    .loginPage h1.login{
        display:none;
    }

    .loginPage .divLoginContent .divLogin{
        float:none;
        margin:auto;
        width:455px;
    }

    .loginPage .input{
        height:52px !important;
        font-size: 13px !important;
        text-align: left;
    }

    .loginPage .divLoginContent .divLogin .inputLoginBtn{
        float:none;
        margin:20px 0 20px 85px;
        width:200px;
        font-size: 15px !important;
    }

    .loginPage .divLoginContent .divLogin a{
        float:none;
        font-size: 13px !important;
        text-align:center;
    }

        .loginPage .divLoginContent .divLogin a.signUp{
            margin:auto;
            width:250px;
        }


    .loginPage .divLoginContent .divOr{
        float:none;
        margin:65px auto 0 auto;
        width:670px;
        height:2px;
        border-bottom:1px solid #f2f2f2;
    }

    .loginPage .divLoginContent .spanOr{
        top:-6px;
        left:50%;
        margin-left:-45px;
        padding:0 20px 0 20px;
        background-color:#fff;
    }


    .loginPage .divLoginContent .divSocialIcons{
        float:none;
        margin:60px auto 0 auto;

    }

    .loginPage .divLoginContent .divSocialIcons .aSocialIcon{
        margin:0 auto 10px auto;
    }


    #userOpenerInnerDivForgotPassword .contShopping {
        top:-100px;
    }

    .loginPage .divMemberA,
    .loginPage .divMemberB,
    .loginPage .divMemberC{
        float:none;
        margin:auto !important;
        width:455px;
    }
    .forgotPasswordDescription {
        margin-bottom:20px;
        padding:0px;
        text-align:center;
    }
    .loginPage .divMemberD{
        float:none;
        margin: 50px auto 0 auto !important;
        width:300px;
    }

    .loginPage .divNewMemberContent .input{
        float:left;
        width:100% !important;
        margin:0 10px 10px 0;
    }

    .loginPage .divMemberD .inputBtn{
        float:none;
        width:225px;
        height:15px;
    }

    .loginPage .divMemberD label{
        float:none;
        margin-left:40px;
    }

    .loginPage .divNewMemberContent .contShopping{
        display: block;
        margin:auto;
    
        position: absolute;
        left: 50%;
        margin-left: -345px;
        top: 36px;
    }







    /* basket */
    .loginPage .divBasketContent{
        width:670px;
        padding-bottom: 20px;
    }

    .loginPage .divBasketContent .divBasketDetails{
        float:none;
        width:100%;
    }

    .loginPage .divBasketContent .divBasketItemHeaders .header2{
        float:left;
        margin-left:28px;
        width:148px;
    }

    .loginPage .divItem .divDescription .divQuantity{
        width:65px;
    }

    .loginPage .divItem .divDescription .divTotalPrice div.content {
        text-align: center;
    }


}

@media all and (min-width: 1019px) and (max-width: 1434px) {
    .loginPage .divLoginContent,
    .loginPage .divNewMemberContent{
        width:960px;
    
        top: 30px;
}
    .loginPage .divLoginContent {
        padding-top: 20px;
    }

    #userOpenerInnerDivSignUp {
        top: 30px;
    }

    .loginPage .divLoginContent .divOr{
        margin:37px 0 0 135px;
    }

    .loginPage .divLoginContent .divSocialIcons{
        width:340px;
    }




    
    .loginPage .divMemberD{
        width:205px;
    }

    .loginPage .divMemberD .inputBtn{
        width:130px;
    
        top: 150px;
}

}

@media all and (min-width: 1435px) {
    .loginPage .divLoginContent,
    .loginPage .divNewMemberContent,
    .loginPage .divSearchContent{
        width:1080px;
    }
}
