body {
    font-family: 'Nova';
}
.subFont {
    font-family: Roboto;
}

b, strong {
    font-weight: 500;
}

i, em {
    font-style: italic;
}

blockquote {
    margin: 20px 0 20px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

p {
    color: #808080;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

a:link,
a:visited {
    display: block;
    text-decoration: none;
}

a:hover,
a:active {
}


.SSTFaceA { 
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.SSTFaceB { 
    color: #4d4f65;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.396;
}

.SSTFaceC { 
    color: #000;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.5;
}

.SSTFaceD { 
    color: #dd354b;
    font-size: 28px;
    font-weight: 700;
}

.SSTFaceE { 
    color: #676767;
    font-size: 12px;
    font-weight: 400;
}

.SSTFaceF { 
    color: #6d6e89;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.SSTFaceG { 
    color: #000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.SSTFaceH { 
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.SSTFaceI { 
    color: #a3a3a3;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.SSTFaceJ { 
    color: #000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.SSTFaceK { 
    color: #656565;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.SSTFaceL { 
    color: #a3a3a3;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
}

.SSTFaceM{ 
    color:#999;
    font-size:12px;
    font-weight:500;
    letter-spacing: 0.040em;
}

.SSTFaceN{ 
    color:#b8b8b8;
    font-size:10px;
    font-weight:500;
    letter-spacing: 0.050em;
}

.SSTFaceO{ 
    color:#000;
    font-size:18px;
    font-weight:500;
}

.SSTFaceP{ 
    color:#6d6e89;
    font-weight:600;
    letter-spacing:0.070em;
}

.SSTFaceQ{ 
    color:#7f7f7f;
    font-size: 11px;
    letter-spacing:0.040em;
}

.SSTFaceR{ 
    color:#3f3f3f;
    font-size: 10px;
    letter-spacing:0.010em;
}

.SSTFaceS{ 
    color:#fff;
    font-size:18px;
    font-weight:500;
    letter-spacing:2px;
}

.SSTFaceT{ 
    color:#f2f2f2;
    font-weight:500;
    font-size:13px; 
}

.SSTFaceU { 
    color:#6d6f80;
    font-size:12px;
    font-weight:500;
}

.SSTFaceV { 
    color:#bdbdbd;
    font-size:12px;
    font-weight:500;
    letter-spacing:0.040em;
}


.SSTFaceW { 
    color:#000;
    font-size:24px;
    font-weight:400;
    letter-spacing:0 !important;
}

.SSTFaceX { 
    color:#4d4d4d;
    font-size:12px;
    font-weight:500;
    letter-spacing:0.030em;
}

.SSTFaceY { 
    color:#3d3d3d;
    font-size:12px;
    font-weight:500;
}

.SSTFaceZ{ 
    color:#4d4d4d;
    font-size:11px;
    font-weight:500;
    letter-spacing:0.020em;
}

.SSTFaceAA{ 
    color:#000;
    font-size:18px;
    font-weight:600;
    letter-spacing: 1px;
}

.SSTFaceBB{ 
    color:#000;
    font-size:40px;
    font-weight:400;
    letter-spacing: 5px;
}

.SSTFaceCC{ 
    color:#000;
    font-size:13px;
    font-weight:400;
    letter-spacing:0.060em;
}

.SSTFaceDD{ 
    color:#656565;
    font-size:12px;
    font-weight:400;
}

.SSTFaceEE{ 
    color:#000;
    font-size:34px;
    font-weight:100;
}

.SSTFaceFF{ 
    color:#404040;
    font-size:12px;
    font-weight:400;
    letter-spacing:0.030em;
}

.SSTFaceGG{
    color:#6d6e89;
    font-size:16px;
    font-weight:400;
    letter-spacing:0.040em;
}

.SSTFaceHH{
    color:#6d6e89;
    font-size:14px;
    font-weight:400;
    letter-spacing:0.050em;
}

.SSTFaceII{
    color:#000;
    font-size:24px;
    font-weight:400;
    letter-spacing:0.010em;
}

.SSTFaceJJ{
    color:#404040;
    font-size:12px;
    font-weight:400;
    letter-spacing:0.010em;
}


.SSTFaceKK {
    color: #999;
    font-size: 12px;
    font-weight: 400;
}







.SSTAStyleA { 
    display:block;
    height:30px;
    width:180px;
    text-decoration: none;
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.SSTAStyleA img { 
    float:left;
    width:24px !important;
    height:11px !important;
    margin-top:9px;
    opacity:0.25;
    transition:all 0.5s;
}

.SSTAStyleA span { 
    display:inline-block;
    float:right;
    margin-top:10px;
    transition:all 0.5s;
}
.SSTAStyleA:hover img{ 
    margin-left:-5px;
}

.SSTAStyleA:hover span{ 
    color:#000;
}



.SSTAStyleB{ 
    display: table;
    width: auto;
    padding: 10px 25px;
    padding-top: 12px;
    color: #fff;
    font-weight: 400;
    border: 3px solid #4b4d63;
    background-color: #4b4d63;
    text-align: center;
}

    .SSTAStyleB:hover { 
        color: #fff;
        background: #6f7182;
        border: 3px solid #6f7182;
    }




.SSTAStyleB { 
    display:block;
    color:#fff;
    font-size:11px;
    font-weight:500;
    letter-spacing:0.040em;
    transition:all 0.3s;
}

.SSTAStyleC{ 
    color:#6d6e89;
    font-size:12px;
    font-weight:500;
}

.SSTAStyleD { 
    display:block;
    color:#6d6e89;
    font-size:11px;
    font-weight:500;
    letter-spacing:0.040em;
}


a.SSTAStyleE { 
    display: inline;
    font-size: 11px;
    text-decoration: underline;
    color: #4d4d4d;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.SSTAStyleE:hover { 
    opacity: 1;
}




.SSTAStyleF { 
    display:block;
    height:30px;
    width:170px;
    text-decoration: none;
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.SSTAStyleF img { 
    float:left;
    width:24px !important;
    height:11px !important;
    margin-top:9px;
    opacity:0.25;
    transition:all 0.5s;
}

.SSTAStyleF span { 
    display:inline-block;
    float:right;
    margin-top:10px;
    transition:all 0.5s;
}
.SSTAStyleF:hover img{ 
    margin-left:5px;
}

.SSTAStyleF:hover span{ 
    color:#000;
}


.SSTAStyleG:link,
.SSTAStyleG:visited{
    color:#7f7f7f;
    font-size:12px;
    font-weight:400;
    letter-spacing:0.040em;
    transition:color 0.5s;
}

.SSTAStyleG:hover,
.SSTAStyleG:active{
    color:#4f4f4f;
}


.SSTAStyleH:link,
.SSTAStyleH:visited{
    color:#000;
    font-size:18px;
    font-weight:400;
    letter-spacing:0.040em;
    transition:all 0.5s;
}

.SSTAStyleH:hover,
.SSTAStyleH:active{
    color:#4b4d63;
}



.SSTAStyleI:link,
.SSTAStyleI:visited {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.08em;
    transition:color 0.5s;
}

.SSTAStyleI:hover,
.SSTAStyleI:active {
    color: #737373;
}




.SSTAStyleJ:link,
.SSTAStyleJ:visited {
    display:inline-block;
    color: #404040;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.08em;
}

.SSTAStyleJ:hover,
.SSTAStyleJ:active {
 
}











.SSTSpanStyleA { 
    display: block;
    color: #f2f2f2;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.08em;
}

.SSTSpanStyleB { 
    display: block;
    color:#3d3d3d;
    font-size:12px;
    font-weight:500;
}

.SSTSpanStyleC { 
    display: block;
    color:#404040;
    font-size:12px;
    font-weight:500;
}

.SSTSpanStyleD{ 
    display: block;
    color:#000;
    font-size:15px;
    font-weight:600;
    letter-spacing: 1.5px;
}

.SSTSpanStyleE{ 
    display: block;
    color:#6d6e89;
    font-size:12px;
    font-weight:500;
    letter-spacing: 0.01em;
}

.SSTSpanStyleF{ 
    display: block;
    color:#000;
    font-size:15px;
    font-weight:500;
}


.SSTSpanStyleG{ 
    display: block;
    color:#7f7f7f;
    font-size:12px;
    font-weight:400;
}

.SSTSpanStyleH{ 
    display: block;
    color:#999999;
    font-size:11px;
    font-weight:400;
    letter-spacing: 0.040em;
}





.SSTSpanStyleI{ 
    display: block;
    color:#000;
    font-size:12px;
    font-weight:600;
    letter-spacing: 0.040em;
}

.SSTSpanStyleJ{ 
    display: block;
    color:#000;
    font-size:12px;
    font-weight:400;
    letter-spacing: 0.040em;
}

.SSTSpanStyleK{ 
    display: block;
    color:#7b7b7b;
    font-size:12px;
    font-weight:400;
    letter-spacing: 0.040em;
}


.SSTSpanStyleL{ 
    display: block;
    color:#7f7f7f;
    font-size:12px;
    font-weight:500;
    letter-spacing: 0.040em;
}

.SSTSpanStyleM{ 
    display: block;
    color:#6d6e89;
    font-size:14px;
    font-weight:500;
    letter-spacing: 0.040em;
}















/* Screen */
@media all and (max-width: 400px) {

    .SSTFaceI {
        font-size: 13px;
    }

    .SSTFaceS{
        font-size:15px;
    }

    .SSTFaceBB{
        font-size:24px;
    }

    .SSTSpanStyleF{
        font-size:13px;
    }

    .SSTAStyleG {
        font-size:14px !important;
    }

    .SSTSpanStyleJ{
        font-size:11px;
    }

    .SSTSpanStyleM{
        font-size:12px;
    }

    .SSTSpanStyleL{
        font-size:11px;
    }
   
}

@media all and (min-width: 401px) and (max-width: 700px) {
    .SSTFaceI {
        font-size: 13px;
    }

    .SSTSpanStyleL{
        font-size:11px;
    }
}

@media all and (min-width: 701px) and (max-width: 1018px) {
    .SSTFaceI {
        font-size: 15px;
        letter-spacing: 0.5px;
    }

    .SSTFaceJ {
        font-size: 15px;
        letter-spacing: 0.5px;
    }
}
