.stop63FaceA { 
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.stop63FaceB { 
    color: #4d4f65;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.396;
}

.stop63FaceC { 
    color: #000;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.5;
}

.stop63FaceD { 
    color: #dd354b;
    font-size: 28px;
    font-weight: 700;
}

.stop63FaceE { 
    color: #676767;
    font-size: 12px;
    font-weight: 400;
}

.stop63FaceF { 
    color: #6d6e89;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.stop63FaceG { 
    color: #000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.stop63FaceH { 
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.stop63FaceI { 
    color: #a3a3a3;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.stop63FaceJ { 
    color: #000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.stop63FaceK { 
    color: #656565;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.stop63FaceL { 
    color: #a3a3a3;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
}

.stop63FaceM{ 
    color:#999;
    font-size:12px;
    font-weight:500;
    letter-spacing: 0.040em;
}

.stop63FaceN{ 
    color:#b8b8b8;
    font-size:10px;
    font-weight:500;
    letter-spacing: 0.050em;
}

.stop63FaceO{ 
    color:#000;
    font-size:18px;
    font-weight:500;
}

.stop63FaceP{ 
    color:#6d6e89;
    font-weight:600;
    letter-spacing:0.070em;
}

.stop63FaceQ{ 
    color:#7f7f7f;
    font-size: 11px;
    letter-spacing:0.040em;
}

.stop63FaceR{ 
    color:#3f3f3f;
    font-size: 10px;
    letter-spacing:0.010em;
}

.stop63FaceS{ 
    color:#fff;
    font-size:18px;
    font-weight:500;
    letter-spacing:2px;
}

.stop63FaceT{ 
    color:#f2f2f2;
    font-weight:500;
    font-size:13px; 
}

.stop63FaceU { 
    color:#6d6f80;
    font-size:12px;
    font-weight:500;
}

.stop63FaceV { 
    color:#bdbdbd;
    font-size:12px;
    font-weight:500;
    letter-spacing:0.040em;
}


.stop63FaceW { 
    color:#000;
    font-size:24px;
    font-weight:400;
    letter-spacing:0 !important;
}

.stop63FaceX { 
    color:#4d4d4d;
    font-size:12px;
    font-weight:500;
    letter-spacing:0.030em;
}

.stop63FaceY { 
    color:#3d3d3d;
    font-size:12px;
    font-weight:500;
}

.stop63FaceZ{ 
    color:#4d4d4d;
    font-size:11px;
    font-weight:500;
    letter-spacing:0.020em;
}

.stop63FaceAA{ 
    color:#000;
    font-size:18px;
    font-weight:600;
    letter-spacing: 1px;
}

.stop63FaceBB{ 
    color:#000;
    font-size:40px;
    font-weight:400;
    letter-spacing: 5px;
}

.stop63FaceCC{ 
    color:#000;
    font-size:13px;
    font-weight:400;
    letter-spacing:0.060em;
}

.stop63FaceDD{ 
    color:#656565;
    font-size:12px;
    font-weight:400;
}

.stop63FaceEE{ 
    color:#000;
    font-size:34px;
    font-weight:100;
}

.stop63FaceFF{ 
    color:#404040;
    font-size:12px;
    font-weight:400;
    letter-spacing:0.030em;
}

.stop63FaceGG{
    color:#6d6e89;
    font-size:16px;
    font-weight:400;
    letter-spacing:0.040em;
}

.stop63FaceHH{
    color:#6d6e89;
    font-size:14px;
    font-weight:400;
    letter-spacing:0.050em;
}

.stop63FaceII{
    color:#000;
    font-size:24px;
    font-weight:400;
    letter-spacing:0.010em;
}

.stop63FaceJJ{
    color:#404040;
    font-size:12px;
    font-weight:400;
    letter-spacing:0.010em;
}


.stop63FaceKK {
    color: #999;
    font-size: 12px;
    font-weight: 400;
}







.stop63AStyleA { 
    display:block;
    height:30px;
    width:180px;
    text-decoration: none;
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.stop63AStyleA img { 
    float:left;
    width:24px !important;
    height:11px !important;
    margin-top:9px;
    opacity:0.25;
    transition:all 0.5s;
}

.stop63AStyleA span { 
    display:inline-block;
    float:right;
    margin-top:10px;
    transition:all 0.5s;
}
.stop63AStyleA:hover img{ 
    margin-left:-5px;
}

.stop63AStyleA:hover span{ 
    color:#000;
}



.stop63AStyleB{ 
    display: table;
    width: auto;
    padding: 10px 25px;
    padding-top: 12px;
    color: #fff;
    font-weight: 400;
    border: 3px solid #4b4d63;
    background-color: #4b4d63;
    text-align: center;
}

    .stop63AStyleB:hover { 
        color: #fff;
        background: #6f7182;
        border: 3px solid #6f7182;
    }




.stop63AStyleB { 
    display:block;
    color:#fff;
    font-size:11px;
    font-weight:500;
    letter-spacing:0.040em;
    transition:all 0.3s;
}

.stop63AStyleC{ 
    color:#6d6e89;
    font-size:12px;
    font-weight:500;
}

.stop63AStyleD { 
    display:block;
    color:#6d6e89;
    font-size:11px;
    font-weight:500;
    letter-spacing:0.040em;
}


a.stop63AStyleE { 
    display: inline;
    font-size: 11px;
    text-decoration: underline;
    color: #4d4d4d;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.stop63AStyleE:hover { 
    opacity: 1;
}




.stop63AStyleF { 
    display:block;
    height:30px;
    width:170px;
    text-decoration: none;
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.stop63AStyleF img { 
    float:left;
    width:24px !important;
    height:11px !important;
    margin-top:9px;
    opacity:0.25;
    transition:all 0.5s;
}

.stop63AStyleF span { 
    display:inline-block;
    float:right;
    margin-top:10px;
    transition:all 0.5s;
}
.stop63AStyleF:hover img{ 
    margin-left:5px;
}

.stop63AStyleF:hover span{ 
    color:#000;
}


.stop63AStyleG:link,
.stop63AStyleG:visited{
    color:#7f7f7f;
    font-size:12px;
    font-weight:400;
    letter-spacing:0.040em;
    transition:color 0.5s;
}

.stop63AStyleG:hover,
.stop63AStyleG:active{
    color:#4f4f4f;
}


.stop63AStyleH:link,
.stop63AStyleH:visited{
    color:#000;
    font-size:18px;
    font-weight:400;
    letter-spacing:0.040em;
    transition:all 0.5s;
}

.stop63AStyleH:hover,
.stop63AStyleH:active{
    color:#4b4d63;
}



.stop63AStyleI:link,
.stop63AStyleI:visited {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.08em;
    transition:all 0.5s;
}

.stop63AStyleI:hover,
.stop63AStyleI:active {
    color: #737373;
}




.stop63AStyleJ:link,
.stop63AStyleJ:visited {
    display:inline-block;
    color: #404040;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.08em;
}

.stop63AStyleJ:hover,
.stop63AStyleJ:active {
 
}











.stop63SpanStyleA { 
    display: block;
    color: #f2f2f2;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.08em;
}

.stop63SpanStyleB { 
    display: block;
    color:#3d3d3d;
    font-size:12px;
    font-weight:500;
}

.stop63SpanStyleC { 
    display: block;
    color:#404040;
    font-size:12px;
    font-weight:500;
}

.stop63SpanStyleD{ 
    display: block;
    color:#000;
    font-size:15px;
    font-weight:600;
    letter-spacing: 1.5px;
}

.stop63SpanStyleE{ 
    display: block;
    color:#6d6e89;
    font-size:12px;
    font-weight:500;
    letter-spacing: 0.01em;
}

.stop63SpanStyleF{ 
    display: block;
    color:#000;
    font-size:15px;
    font-weight:500;
}


.stop63SpanStyleG{ 
    display: block;
    color:#7f7f7f;
    font-size:12px;
    font-weight:400;
}

.stop63SpanStyleH{ 
    display: block;
    color:#999999;
    font-size:11px;
    font-weight:400;
    letter-spacing: 0.040em;
}





.stop63SpanStyleI{ 
    display: block;
    color:#000;
    font-size:12px;
    font-weight:600;
    letter-spacing: 0.040em;
}

.stop63SpanStyleJ{ 
    display: block;
    color:#000;
    font-size:12px;
    font-weight:500;
    letter-spacing: 0.040em;
}

.stop63SpanStyleK{ 
    display: block;
    color:#7b7b7b;
    font-size:12px;
    font-weight:500;
    letter-spacing: 0.040em;
}


.stop63SpanStyleL{ 
    display: block;
    color:#7f7f7f;
    font-size:12px;
    font-weight:500;
    letter-spacing: 0.040em;
}

.stop63SpanStyleM{ 
    display: block;
    color:#6d6e89;
    font-size:14px;
    font-weight:500;
    letter-spacing: 0.040em;
}















/* Screen */
@media all and (max-width: 400px) {

    .stop63FaceI {
        font-size: 13px;
    }

    .stop63FaceS{
        font-size:15px;
    }

    .stop63FaceBB{
        font-size:24px;
    }

    .stop63SpanStyleF{
        font-size:13px;
    }

    .stop63AStyleG {
        font-size:14px !important;
    }

    .stop63SpanStyleJ{
        font-size:11px;
    }
   
}

@media all and (min-width: 401px) and (max-width: 700px) {
    .stop63FaceI {
        font-size: 13px;
    }
}

@media all and (min-width: 701px) and (max-width: 1018px) {
    .stop63FaceI {
        font-size: 15px;
        letter-spacing: 0.5px;
    }

    .stop63FaceJ {
        font-size: 15px;
        letter-spacing: 0.5px;
    }
}
