body {
    font-family: 'Nova';
}

.subFont {
    font-family: Roboto;
}

b, strong {
    font-weight: 500;
}

i, em {
    font-style: italic;
}

blockquote {
    margin: 20px 0 20px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

p {
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

a:link,
a:visited {
    display: block;
    text-decoration: none;
}

a:hover,
a:active {
}




/* Customized */
.faceA {
    color: #000;
    font-size: 13px;
    font-weight: 600;
}

.faceB {
    color: #fff;
    font-size: 63px;
    font-weight: 800;
    letter-spacing: 15px;
}

.faceC {
    color: #202132;
    font-size: 68px;
    font-weight: 400;
    letter-spacing: 16.7px;
}

.faceD {
    color: #202132;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 6px;
}

.faceE {
    color: #a8a8ac;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.80px;
}

.faceF {
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 2px;
}

.faceG {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.8px;
}

.faceH {
    color: #6c6d75;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}

.faceJ {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 5px;
}

.faceK {
    color: #adadad;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2.5px;
}

.faceL {
    color: #000;
    font-size: 13px;
    font-weight: 600;
}

.faceM {
    color: #000;
    font-size: 11px;
    font-weight: 500;
}

.faceN {
    color: #ddd;
    font-size: 11px;
    font-weight: 400;
}

.faceO {
    color: #fff;
    letter-spacing: 3px;
    font-size: 23px;
    font-weight: 500;
}

.faceP {
    color: #9d9da6;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.909;
    letter-spacing: 2.15px;
}

.faceQ {
    color: #737272;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.faceR {
    color: #737272;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.faceS {
    color: #000;
    font-size: 15px;
    letter-spacing: 2.5px;
    font-weight: 600;
    line-height: 1.705;
}

.faceT {
    color: #9d9c97;
    font-size: 11px;
    font-weight: 400;
    line-height: 2.097;
    letter-spacing: 3px;
}

.faceU {
    color: #999;
    font-size: 12px;
    font-weight: 400;
}

.faceV {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.faceW {
    color: #4d4f65;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.396;
}

.faceX {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.5;
}

.faceY {
    color: #dd354b;
    font-size: 28px;
    font-weight: 700;
}

.faceZ {
    color: #676767;
    font-size: 12px;
    font-weight: 400;
}

.faceAA {
    color: white;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 6px;
}

.faceBB {
    color: white;
    opacity: 0.3;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 4px;
}

.faceCC {
    color: white;
    opacity: 0.3;
    font-size: 11px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 2px;
}

.faceDD {
    color: white;
    font-size: 11px;
    font-weight: 200;
    letter-spacing: 3.5px;
}

.faceEE {
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 5px;
}

.faceFF {
    color: #6d6e89;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.faceGG {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.faceHH {
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.faceII {
    color: #a3a3a3;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.faceJJ {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.faceKK {
    color: #656565;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.faceLL {
    color: #a3a3a3;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
}

.faceMM{
    color:#999;
    font-size:12px;
    font-weight:500;
    letter-spacing: 0.040em;
}

.faceNN{
    color:#b8b8b8;
    font-size:10px;
    font-weight:500;
    letter-spacing: 0.050em;
}

.faceOO{
    color:#000;
    font-size:18px;
    font-weight:500;
}

.facePP{
    color:#6d6e89;
    font-weight:600;
    letter-spacing:0.070em;
}

.faceRR{
    color:#7f7f7f;
    font-size: 11px;
    letter-spacing:0.040em;
}

.faceSS{
    color:#3f3f3f;
    font-size: 10px;
    letter-spacing:0.010em;
}

.faceTT{
    color:#fff;
    font-size:18px;
    font-weight:500;
    letter-spacing:2px;
}

.faceUU{
    color:#f2f2f2;
    font-weight:500;
    font-size:13px; 
}

.faceVV {
    color:#6d6f80;
    font-size:12px;
    font-weight:500;
}

.faceWW {
    color:#bdbdbd;
    font-size:12px;
    font-weight:500;
    letter-spacing:0.040em;
}


.faceXX {
    color:#000;
    font-size:24px;
    font-weight:400;
    letter-spacing:0 !important;
}

.faceYY {
    color:#4d4d4d;
    font-size:12px;
    font-weight:500;
    letter-spacing:0.030em;
}

.faceZZ {
    color:#3d3d3d;
    font-size:12px;
    font-weight:500;
}

.faceAAA{
    color:#4d4d4d;
    font-size:11px;
    font-weight:500;
    letter-spacing:0.020em;
}

.faceBBB{
    color:#000;
    font-size:18px;
    font-weight:600;
    letter-spacing: 1px;
}

.faceCCC{
    color:#000;
    font-size:40px;
    font-weight:400;
    letter-spacing: 5px;
}

.faceDDD{
    color:#000;
    font-size:13px;
    font-weight:400;
    letter-spacing:0.060em;
}

.faceEEE{
    color:#656565;
    font-size:12px;
    font-weight:400;
}

.faceFFF{
    color:#000;
    font-size:22px;
    font-weight:400;
    letter-spacing:0.060em;
}



















.aStyleA:link,
.aStyleA:visited {
    margin: 0 0 0 31px;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.11em;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.aStyleA:hover,
.aStyleA:active {
    border-bottom: 2px solid #2f3140;
}





.aStyleB:link,
.aStyleB:visited {
    text-decoration: none;
    color: #ddd;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.08em;
}

.aStyleB:hover,
.aStyleB:active {
}





.aStyleC:link,
.aStyleC:visited {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.08em;
}

.aStyleC:hover,
.aStyleC:active {
}


.aStyleF:link,
.aStyleF:visited {
    display:block;
    color:#6d6e89;
    font-size:11px;
    font-weight:500;
    letter-spacing:0.040em;
}

.aStyleF:hover,
.aStyleF:active {
}



.aStyleG:link,
.aStyleG:visited {
    color:#6d6e89;
    font-size:12px;
    font-weight:500;
}

.aStyleG:hover,
.aStyleG:active {
}







.aStyleD:link,
.aStyleD:visited {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.08em;
}

.aStyleD:hover,
.aStyleD:active {
}




.aStyleE:link,
.aStyleE:visited {
    display:block;
    height:30px;
    width:180px;
    text-decoration: none;
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.aStyleE img {
    float:left;
    width:24px !important;
    height:11px !important;
    margin-top:9px;
    opacity:0.25;
    transition:all 0.5s;
}

.aStyleE span {
    display:inline-block;
    float:right;
    margin-top:10px;
    transition:all 0.5s;
}

.aStyleE:hover,
.aStyleE:active {

}

.aStyleE:hover img,
.aStyleE:active img {
    margin-left:-5px;
}

.aStyleE:hover span,
.aStyleE:active span {
    color:#000;
}



.aStyleF:link ,
.aStyleF:visited{
    display: table;
    width: auto;
    padding: 10px 25px;
    padding-top: 12px;
    color: #fff;
    font-weight: 400;
    border: 3px solid #4b4d63;
    background-color: #4b4d63;
    text-align: center;
}

    .aStyleF:hover ,
    .aStyleF:active {
        color: #fff;
        background: #6f7182;
        border: 3px solid #6f7182;
    }





.aStyleH:link,
.aStyleH:visited {
    display:block;
    color:#6d6e89;
    font-size:11px;
    font-weight:500;
    letter-spacing:0.040em;
}

.aStyleH:hover,
.aStyleH:active {
}


a.aStyleI {
    display: inline;
    font-size: 11px;
    text-decoration: underline;
    color: #4d4d4d;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.aStyleI:hover {
    opacity: 1;
}



.aStyleJ:link,
.aStyleJ:visited {
    display:block;
    text-decoration:underline;
    color:#525253;
    font-size:11px;
    font-weight:500;
    letter-spacing:0.010em;
}

.aStyleJ:hover,
.aStyleJ:active {
}














.spanStyleA {
    display: inline-block;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.08em;
}



.spanStyleB {
    display: block;
    color: #f2f2f2;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.08em;
}



.spanStyleC {
    display: block;
    color:#3d3d3d;
    font-size:12px;
    font-weight:500;
}


.spanStyleD {
    display: block;
    color:#3d3d3d;
    font-size:12px;
    font-weight:500;
}

.spanStyleE {
    display: block;
    color:#404040;
    font-size:12px;
    font-weight:500;
}

.spanStyleF{
    display: block;
    color:#000;
    font-size:15px;
    font-weight:600;
    letter-spacing: 1.5px;
}

.spanStyleG{
    display: block;
    color:#6d6e89;
    font-size:12px;
    font-weight:500;
    letter-spacing: 0.01em;
}

.spanStyleH{
    display: block;
    color:#000;
    font-size:15px;
    font-weight:500;
}


.spanStyleI{
    display: block;
    color:#7f7f7f;
    font-size:12px;
    font-weight:400;
}


.spanStyleJ{
    display: block;
    color:#4b4d63;
    font-size:15px;
    font-weight:600;
    letter-spacing: 0.12em;
}

.spanStyleK{
    display: block;
    color:#fff;
    font-size:11px;
    font-weight:400;
    letter-spacing: 0.08em;
}

















/* Screen */
@media all and (max-width: 400px) {
    .aStyleA:link,
    .aStyleA:visited {
        margin: 0 !important;
        font-size: 13px;
        letter-spacing: 0.09em;
        text-align: center;
        border: 0;
    }

    .aStyleA:hover,
    .aStyleA:active {
        border-bottom: 0;
    }

    .faceB {
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 5px;
    }

    .faceC {
        font-size: 24px;
        letter-spacing: 5.30px;
    }

    .faceD {
        font-size: 20px;
        letter-spacing: 5px;
    
        line-height: 30px;
}

    .faceJ {
        font-size: 12px;
        letter-spacing: 4.5px;
    }

    .faceK {
        font-size: 11px;
        letter-spacing: 1.5px;
    }
    .faceEE {
        font-size: 20px;
        letter-spacing: 4px;
    }

    .faceII {
        font-size: 13px;
    }

    .faceTT{
        font-size:15px;
    }

    .faceCCC{
        font-size:24px;
    }

    .spanStyleF{
        font-size:13px;
    }
   
}

@media all and (min-width: 401px) and (max-width: 700px) {
    .aStyleA:link,
    .aStyleA:visited {
        margin: 0 !important;
        font-size: 13px;
        letter-spacing: 0.09em;
        text-align: center;
        border: 0;
    }

    .aStyleA:hover,
    .aStyleA:active {
        border-bottom: 0;
    }
    .faceEE {
        font-size: 20px;
        letter-spacing: 4px;
    }

    .faceII {
        font-size: 13px;
    }
}

@media all and (min-width: 701px) and (max-width: 1018px) {
    .aStyleA:link,
    .aStyleA:visited {
        margin: 0 !important;
        font-size: 17.966px;
        line-height: 4.21;
        text-align: center;
        border: 0;
    }

    .aStyleA:hover,
    .aStyleA:active {
        border-bottom: 0;
    }

    .faceB {
        font-size: 49px;
        letter-spacing: 11px;
    }

    .faceC {
        font-size: 50px;
        letter-spacing: 14px;
    }

    .faceJ {
        font-size: 20px;
        letter-spacing: 5.5px;
    }
    .faceII {
        font-size: 15px;
        letter-spacing: 0.5px;
    }

    .faceJJ {
        font-size: 15px;
        letter-spacing: 0.5px;
    }
}

@media all and (min-width: 1019px) and (max-width: 1275px) {
    .faceJ {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 4px;
    }
}

@media all and (min-width: 1276px) and (max-width: 1434px) {
}

@media all and (min-width: 1435px) {
}
