body {
    font-family:'Nova';
}

.subFont{
    font-family:Roboto;
}

b, strong {
    font-weight:500;
}

i, em {
    font-style:italic;
}

blockquote {
    margin:20px 0 20px 0;
    font-size:18px;
    font-weight:bold;
    line-height:22px;
}





h1{
    font-size:24px;
    line-height:26px;
}

h2{
    font-size:14px;
    line-height:16px;
}

h3{
    font-size:30px;
    line-height:32px;
}

h4{
    font-size:16px;
    font-weight:bold;
    line-height:32px;
}

h5{
    font-weight:bold;
    line-height:32px;
}

h6{
    font-weight:bold;
    line-height:28px;
}

p{
    color:#808080;
    font-size:14px;
    font-weight:400;
    line-height:18px;
}

a:link,
a:visited{
    display:block;
    text-decoration:none;
}

a:hover,
a:active{
}




/* Customized */
.faceA{
    display:block;
    margin-bottom:10px;
    color:#ff6a00;
    font-weight:bold;
}

.faceB{
    color:#b200ff;
    font-weight:bold;
}



.aStyleA:link,
.aStyleA:visited{
    display:inline-block;
    margin:15px 0 15px 0;
    color:#0026ff;
    font-size:12px;
    font-weight:bold;
    line-height:16px;
}

.aStyleA:hover,
.aStyleA:active{
}





.faceC{
    margin:20px 0 20px 0;
    font-size:18px;
    font-weight:bold;
    line-height:22px;
}





/* Screen */
@media all and (max-width: 400px) {
}

@media all and (min-width: 401px) and (max-width: 700px) {
}

@media all and (min-width: 701px) and (max-width: 1018px) {
}

@media all and (min-width: 1019px) and (max-width: 1434px) {
}

@media all and (min-width: 1435px) {
}